<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<li class="ml-auto">
		<span th:title="${session.user.username}" class="header-username" th:utext="${#strings.abbreviate(session.user.username,20)}">Nombre usuario</span>
	</li>
	<!-- <span class="header-username text-black-50" th:text="' (' + #{label.lastAccess} + ': ' + (${session.userLastAccess} != null ? ${#dates.format(session.userLastAccess, 'dd-MM-yyyy HH:mm')} : '-') + ')' "> (Ultimo acceso: 03-04-2016 09:00)</span> -->
 	<li class="nav-item dropdown no-arrow" >
		<a class="nav-link dropdown-toggle text-black-50" id="dropDownUser" href="#" role="button" data-toggle="dropdown" data-target="#userDropDown" aria-haspopup="true" aria-expanded="false" style="display:contents">
 			<i class="fas fa-user-circle fa-fw"></i>
		</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown" role="menu">
	 		<a class="dropdown-item" id="myData" th:name="myData" th:utext="#{label.MyData}" th:title="#{label.MyData}" href="#">Mis Datos</a>
	 		<a class="dropdown-item">
	 			<span class="header-username text-black-50" th:text="' (' + #{label.lastAccess} + ': ' + (${session.userLastAccess} != null ? ${#dates.format(session.userLastAccess, 'dd-MM-yyyy HH:mm')} : '-') + ')' "> (Ultimo acceso: 03-04-2016 09:00)</span>
	 		</a>
	 		<div class="dropdown-divider"></div>
	 		<a class="dropdown-item" id="languageEs" href="#" title="Selecciona idioma" th:title="#{label.language.selection}">Español</a>
	 		<a class="dropdown-item" id="languageEn" href="#" title="Selecciona idioma" th:title="#{label.language.selection}">English</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" id="logoutLink" th:name="logoutLink" th:utext="#{label.Logout}" th:title="#{label.Logout}" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
		</div>
	</li>

 	<script type="text/javascript" th:inline="javascript">
		var vmodalUserInSession;	
		
		$("#myData").click(function() {
			console.log("Presentamos el modal de edición de usuario");
			$.ajax({
				url: context + 'initEditUserInSession.html',
				type: "POST",
				contentType: 'application/json; charset=UTF-8',
				dataType: 'html',
				data: JSON.stringify({"id": Number(idUserInSession)}),
				success: function (html) {
					$('#modalUserInSession').html(html);
					
					vmodalUserInSession = $("#modalUser").dialog({
						title: /*[[#{label.editUser}]]*/, 
						minheight: 400,				
						minwidth: 400,
						height: "auto",				
						width: "90%",						
						draggable: false,
						classes: {"ui-dialog": "highlight"},
						dialogClass: "no-close",
						modal : true, closeOnEscape: false,						 
						buttons:buttonArray 
					});	
					recargarMensajes();
				},
				error : function(e) {
					console.log("ERROR");
					recargarMensajes();
				},
				done : function(e) {
					console.log("DONE");
				}
			});		
			console.log("Fin Presentación el modal de edición de usuario");
		});

		$("#languageEs").click(function() {
			
			var context = [[@{/}]];
			window.location=context +  'main.html?lang=es';
			
		});
		
		$("#languageEn").click(function() {
			
			var context = [[@{/}]];
			window.location=context +  'main.html?lang=en';
			
		});
		
		$(".dropdown-item").on("click", function (event) {
			$("#dropDownUser").dropdown("toggle");
		});

		var buttonArray = {};
				
		console.log("Aceptar añadir modalUserInSession");		
		buttonArray[textAceptar()] = function(event) {
			res = validationFields();
			event.preventDefault();
		};

		buttonArray[textCancel()] = function(event) {						
			vmodalUserInSession.dialog( 'close' );
			$("#modalUser").remove();
			event.preventDefault();
		};

		//validacion de los campos

		function validationFields()	{

			console.log("Iniciamos la validación de los campos antes de salvar la info");
			var errorFound = false;
			var errorMsg = "";
			
			if($("#document").val() == null || $("#document").val().trim().length == 0){
				errorFound = true;
				$("#documentContainer").addClass("has-error");
						
				errorMsg = '<span class="alert-danger">'+[[#{error.document.required}]]+'</span>';
				$("#documentErrorContainer").show().html(errorMsg);
			} else {
				$("#documentContainer").removeClass("has-error");
				$("#documentErrorContainer").html("").hide();
			}
					
			if($("#username").val() == null || $("#username").val().trim().length == 0){
				errorFound = true;
				$("#usernameContainer").addClass("has-error");
				
				errorMsg = '<span class="alert-danger">'+[[#{error.username.required}]]+'</span>';
				$("#usernameErrorContainer").show().html(errorMsg);
			} else {
				$("#usernameContainer").removeClass("has-error");
				$("#usernameErrorContainer").html("").hide();
			}

			if($("#email").val() == null || $("#email").val().trim().length == 0){
				errorFound = true;
				$("#emailContainer").addClass("has-error");
				
				errorMsg = '<span class="alert-danger">'+[[#{recPass.error.emailRequired}]]+'</span>';
				$("#emailErrorContainer").show().html(errorMsg);
			} else {
				if($("#email").val().search(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,3}$/) < 0){
					errorFound = true;
					$("#emailContainer").addClass("has-error");
					
					errorMsg = '<span class="alert-danger">'+[[#{error.email.notPattern}]]+'</span>';
					$("#emailErrorContainer").show().html(errorMsg);
				} else {
					$("#emailContainer").removeClass("has-error");
					$("#emailErrorContainer").html("").hide();
				}
			}
					
			if($("#name").val() == null || $("#name").val().trim().length == 0){
				errorFound = true;
				$("#nameContainer").addClass("has-error");
				
				errorMsg = '<span class="alert-danger">'+[[#{error.name.required}]]+'</span>';
				$("#nameErrorContainer").show().html(errorMsg);
			} else {
				$("#nameContainer").removeClass("has-error");
				$("#nameErrorContainer").html("").hide();
			}
			
			if($("#surname").val() == null || $("#surname").val().trim().length == 0){
				errorFound = true;
				$("#surnameContainer").addClass("has-error");
				
				errorMsg = '<span class="alert-danger">'+[[#{error.name.required}]]+'</span>';
				$("#surnameErrorContainer").show().html(errorMsg);
			} else {
				$("#surnameContainer").removeClass("has-error");
				$("#surnameErrorContainer").html("").hide();
			}
			
			// La password solo debe ser comprobada si ha sido actualizado
			if($("#passwordForm\\.password").val() != null && $("#passwordForm\\.password").val() != "" && $("#passwordForm\\.password").val().trim().length > 0){						
				console.log("Comprobamos la password si alguna información se ha introducido");

				if($("#oldPassword").val() == null || $("#oldPassword").val().trim().length == 0){
					errorFound = true;
					$("#oldPasswordContainer").addClass("has-error");
					
					errorMsg = '<span class="alert-danger">'+[[#{error.password.oldPasswordRequired}]]+'</span>';
					$("#oldPasswordErrorContainer").show().html(errorMsg);
				} else {
					$("#oldPasswordContainer").removeClass("has-error");
					$("#oldPasswordErrorContainer").html("").hide();
				}
				
				if($("#passwordForm\\.password").val() != $("#passwordForm\\.confirmPassword").val()){
					errorFound = true;
					$("#confirmPasswordContainer").addClass("has-error");
					
					errorMsg = '<span class="alert-danger">'+[[#{error.password.notMatches}]]+'</span>';
					$("#confirmPasswordErrorContainer").show().html(errorMsg);
				} else {
					$("#confirmPasswordContainer").removeClass("has-error");
					$("#confirmPasswordErrorContainer").html("").hide();
				}
			} else {
				$("#passwordContainer").removeClass("has-error");
				$("#passwordErrorContainer").html("").hide();
			}
	
			//Si no se han encontrado errores, se efectua el envío del formulario
			if(!errorFound){
			
					
					var data = {}
					
					//Gather Data also remove undefined keys(buttons)
					$.each($("#saveUserFormInSession").find("input"), function(i, v){
						var input = $(v);
						if (input.is(":checkbox"))
						{
							data[input.attr("name")] = input.is(':checked');
						}
						else
						{
							data[input.attr("name")] = input.val();
						}
						delete data["undefined"];
	
						
					}); 
					console.log("Info a enviar:");
					console.dir(data);
					
					var context = [[@{/}]];
					
					$.ajax({
						url: context +  'saveUserInSession.html',
						type: "POST",
						data: data,
						error:function(e) {
							console.log("ERROR");
						},
						success: function(html)	{
							console.log("SUCCESS");
							var errorsInFormInput = $(html).find("#errorsInFormInput");
							console.log(errorsInFormInput.attr("id") + ':' + errorsInFormInput.val());
							if(errorsInFormInput != null && errorsInFormInput.val() != 'true'){
								vmodalUserInSession.dialog('close');
								$("#modalUser").remove();
							} else {
								vmodalUserInSession.html(html);
							}
						},								
						complete:function () {
							console.log("COMPLETE");
							recargarMensajes();		
							}
						});
					}
					
					return !errorFound;
			}					
					
		</script>

</th:block>