<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
		<div id="userAdmonBodyTable" th:fragment="content">
			<fieldset  class="border p-4">
				<legend  class="p-1">[[#{label.ListUsers}+' ']]
					<button id='newUserButton' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-plus'></span></button>
					<button id='editUserButton' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-pencil'></span></button>
					<button id='removeUserButton' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-minus'></span></button>
				</legend>			

					<table id="usersTable" class="display" style="width:100%">
							<thead>
								<tr>
									<th></th>
									<th th:text="#{label.UserName}">Nombre de Usuario</th>
									<th th:text="#{label.NameFull}">Nombre completo</th>
									<th th:text="#{label.Email}">Direcci&oacute;n de Correo</th>
									<th th:text="#{label.UserRoles}">Rol de Usuario</th>
									<th th:text="#{label.Active}">Activo</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${users}" th:attr="data-userId=${user.id}">
									<td></td>
									<td th:text="${user.username}">John</td>
									<td th:text="${user.name} + ' ' + ${user.surname}">Doe</td>
									<td th:text="${user.email}">john@doe.com</td>
									<td th:text="#{${#strings.append('value.',#strings.replace(user.profile.name,' ', ''))}}">Administrador</td>
									<td><input type="checkbox" th:checked="${not user.locked}" disabled="disabled"></td>
									<td></td>
								</tr>
							</tbody>
						</table>
			</fieldset>
			<div class="row" style="height:10px">
			</div>
		</div>	
		
	</body>
</html>
