<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      
    <head>
    </head>
    <body>	
		<div id="userAdmonTabs" th:fragment="content">
			<form id="saveUserForm" name="saveUserForm" autocomplete="off" role="form" th:action="@{/admin/saveUser.html}" th:object="${editUser}" method="POST" th:method="POST">
				<input id="errorsInSaveUserForm" name="errorsInSaveUserForm" th:value="${errorsInSaveUserForm}" type="hidden">
				<input id="edited" name="edited" th:field="*{edited}" type="hidden">
				<input id="id" name="id" th:field="*{id}" type="hidden">
				<div id="usersTabId" class="ui-tabs ui-corner-all ui-widget ui-widget-content" >
					<ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix .ui-widget-header">
			    		<li id="pgen"><a href="#generalTab" th:text="#{label.userInfo}">Informaci&aacute;n de usuario</a></li>
			    		<li id="puser" ><a href="#userOrgUnitsTab" th:text="#{label.orgUnits}">Unidades organizativas</a></li>
			  		</ul>
					<div id="generalTab">
					 	<div class="row">
							<div class="col-md-4">
								<div id="documentContainer" th:class="${#fields.hasErrors('document')}? 'form-group has-error' : 'form-group'">											
									<div class="input-group">
										<label th:text="#{label.Document} + '*:'">Documento*:</label>
										<input class="form-control" name="document" id="document" th:id="document" th:field="*{document}" type="text" th:type="text" maxlength="50" size="50" th:max="50"/>													
									</div>
									<div id="documentErrorContainer">
										<span th:if="${#fields.hasErrors('document')}" th:errors="*{document}" class="alert-danger">El documento de identificación es requerido</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div id="usernameContainer" th:class="${#fields.hasErrors('username')}? 'form-group has-error' : 'form-group'">											
									<div class="input-group">
										<label th:text="#{label.UserName} + '*:'">Nombre de usuario*:</label> 
										<input class="form-control" name="username" id="username" th:id="username" th:field="*{username}" type="text" th:type="text" maxlength="128" size="128" th:max="128" />													
									</div>
									<div id="usernameErrorContainer">
										<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert-danger">El nombre de usuario es requerido</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div id="emailContainer" th:class="${#fields.hasErrors('email')}? 'form-group has-error' : 'form-group'">											
									<div class="input-group">
										<label th:text="#{label.Email} + '*:'">Correo Electrónico*:</label> 
										<input class="form-control" id="email" name="email" th:field="*{email}" type="text" th:type="text" maxlength="256" size="256" th:max="256"/>													
									</div>
									<div id="emailErrorContainer">
										<span th:if="${#fields.hasErrors('email')}" th:errors="email" class="alert-danger">El correo electrónico es requerido</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row" style="height:10px">
						</div>
						
						<div class="row">
							<div class="col-md-4">
								<div id="passwordContainer" th:class="${#fields.hasErrors('passwordForm.password')}? 'form-group has-error' : 'form-group'">
									<div class="input-group">
										<label th:text="#{label.Password} + '*:'">Password*:</label>
										<input class="form-control" name="passwordForm.password" th:id="passwordForm.password" th:field="*{passwordForm.password}" type="password" maxlength="512" size="512" th:max="512"/>
									</div>
									<!-- <div class="pwstrength_viewport_progress"></div> -->
									<div id="passwordErrorContainer">
										<span th:if="${#fields.hasErrors('passwordForm.password')}" th:errors="*{passwordForm.password}" class="alert-danger">La password es requerida</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">										
								<div id="confirmPasswordContainer" th:class="${#fields.hasErrors('passwordForm.confirmPassword')}? 'form-group has-error' : 'form-group'">
									<div class="input-group">
										<label th:text="#{label.ConfirmPassword} + '*:'">Confirmar password*:</label>
										<input class="form-control" name="passwordForm.confirmPassword" th:id="passwordForm.confirmPassword" th:field="*{passwordForm.confirmPassword}" type="password" maxlength="512" size="512" th:max="512"/>
									</div>
									<div id="confirmPasswordErrorContainer">							
										<span th:if="${#fields.hasErrors('passwordForm.confirmPassword')}" th:errors="*{passwordForm.confirmPassword}" class="alert-danger">La confirmación del password es requerida</span>
									</div>
								</div>
							</div>								
							<div class="col-md-4">										
								<div id="lockedContainer" th:class="${#fields.hasErrors('locked')}? 'form-group has-error' : 'form-group'">
									<div class="input-group">
										<label for="locked" th:text="#{label.Locked} + '*:'">Bloqueado*:</label>
										<input class="form-control" name="locked" th:id="locked" th:field="*{locked}" type="checkbox" />
									</div>	
									<div id="lockedErrorContainer">							
										<span th:if="${#fields.hasErrors('locked')}" th:errors="*{locked}" class="alert-danger">Se debe indicar si el usuario esta bloqueado</span>
									</div>
								</div>
							</div>
						</div>	
												
					 	<div class="row" style="height:10px">							
					 	</div>

					 	<div class="row">
							<div class="col-md-4">
								<div id="nameContainer" th:class="${#fields.hasErrors('name')}? 'form-group has-error' : 'form-group'">											
									<div class="input-group">
										<label th:text="#{label.Name} + '*:'">Nombre*:</label>
										<input class="form-control" name="name" id="name" th:id="name" th:field="*{name}" type="text" th:type="text" maxlength="128" size="128" th:max="128"/>													
									</div>
									<div id="nameErrorContainer">
										<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert-danger">El nombre del usuario es requerido</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div id="surnameContainer" th:class="${#fields.hasErrors('surname')}? 'form-group has-error' : 'form-group'">											
									<div class="input-group">
										<label th:text="#{label.Surname1} + '*:'">Primer Apellido*:</label> 
										<input class="form-control" name="surname" id="surname" th:id="surname" th:field="*{surname}" type="text" th:type="text" maxlength="128" size="128" th:max="128"/>													
									</div>
									<div id="surnameErrorContainer">
										<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="alert-danger">El primer apellido del usuario es requerido</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div id="secondSurnameContainer" th:class="${#fields.hasErrors('secondSurname')}? 'form-group has-error' : 'form-group'">											
									<div class="input-group">
										<label th:text="#{label.Surname2} + ':'">Segundo Apellido:</label> 
										<input class="form-control" name="secondSurname" id="secondSurname" th:id="secondSurname" th:field="*{secondSurname}" type="text" th:type="text" maxlength="128" size="128" th:max="128"/>													
									</div>
									<div id="secondSurnameErrorContainer">
										<span th:if="${#fields.hasErrors('secondSurname')}" th:errors="*{secondSurname}" class="alert-danger">El segundo apellido supera la longitud máxima</span>
									</div>
								</div>
							</div>
						</div>			
					 	
					 	<div class="row" style="height:10px">
					 	</div>
							
					 	<div class="row">
							
							<div class="col-md-12">
								<div id="profileContainer" th:class="${#fields.hasErrors('profile')}? 'form-group has-error' : 'form-group'">											
									<div class="input-group">
										<label th:text="#{label.UserRoles} + '*:'">Perfiles*:</label> 
										<select id="userProfile" name="userProfile" th:field="*{profile}" >
											<option value="-1" th:text="#{value.NoSelected}">No seleccionado</option>
											<option 
											th:each="profile : ${session.userProfiles}" 
											th:attr="data-id=${profile.id}, data-name=${profile.name}" 
											th:value="${profile}" 
											th:text="#{${#strings.append('value.',#strings.replace(profile.name,' ', ''))}}">Administrador</option>
										</select>													
									</div>
									<div id="profileErrorContainer">
										<span th:if="${#fields.hasErrors('profile')}" th:errors="*{profile}" class="alert-danger">El perfil de usuario es requerido</span>
									</div>
								</div>
							</div>
						</div>
						
						<div th:replace="fragments/users/password_validation :: password-validation-fragment"><p></p></div>
						
						<div class="row" style="height:10px">
						</div>							
			  		</div>
				  		
			  		<!-- segunda pestanya -->
					<div id="userOrgUnitsTab">
						<div class="row">
							<div class="col-md-4">
								<div id ="userOrgUnitsTree">
										<fieldset  class="border p-4">
											<legend  class="p-1">[[#{label.orgUnits}+' ']]
												 <button id="confOrgUnit" class="ui-button ui-widget ui-corner-all"><span class="ui-icon ui-icon-gear"></span></button>
											</legend>									
												
											<div id="tree" style="overflow:auto">
												<!-- Contenedor del árbol de unidades organizativas -->
											</div>
										</fieldset>
										<!-- script de creacion de nodos -->	
										<script type="text/javascript" th:inline="javascript">
											
											$("#confOrgUnit").on("click", function (event) {
												$("#content").load(contexto()+'admin/organizationUnit.html');
												event.preventDefault();
											});
										
											String.prototype.replaceAll = function(search, replacement) {
												var target = this;
												return target.replace(new RegExp(search, 'g'), replacement);
											};
											
											/*<![CDATA[*/
												
												var tamanyo = [[${datos != null ? #maps.size(datos) : 0}]];
												var arbol = [[${datos}]];
												var nodoSel = [[${nodoSelect}]];
												
												
											/*]]>*/
											
											var ultimoSelect=null;

											function construirTree()
											{
												console.log("INI CONTRUCCION DEL ARBOL DE UNIDADES ORGANIZATIVAS");
												
												var obtPrimerNodoSel=null;
												if (nodoSel!=null)
												{
													obtPrimerNodoSel=nodoSel;
												}
												var datosTree = new Array();
												for (var i = 0, len = tamanyo; i < len; i++)
												{
													if (arbol[i]!=null)
													{
														
														var parsingMe = JSON.parse(arbol[i].replaceAll("'","\""));
														var aux = new Object();
														if (obtPrimerNodoSel==null)
														{
															obtPrimerNodoSel=parsingMe.Id
														}
														//activamos el nodo inicial
														if (obtPrimerNodoSel == parsingMe.Id)
														{
															aux.state = new Object();
															aux.state.selected=true;
															//ultimoSelect = parsingMe.Id;
														}
														else
														{
															aux.state = new Object();
															aux.state.selected=false;
														}
														//si lo queremos abierto o cerrado (true o false)
														aux.state.opened=false;
														
														aux.id = parsingMe.Id;
														aux.data = parsingMe.name;
														aux.text = parsingMe.externalId;
														
														aux.parent = parsingMe.parentId!='null'?parsingMe.parentId:'#';
														aux.scanProfileOrgUnitId='null';
														datosTree.push(aux);
													}						
													
												}
												console.log(datosTree);
												
												console.log("FIN CONTRUCCION DEL ARBOL DE UNIDADES ORGANIZATIVAS");
												return datosTree;
											}
											
											var arbolCompleto=construirTree();
											$("#tree").jstree({
													"core" : {
														"data":arbolCompleto,
														"animation" : 0,
														"check_callback" : false,
														"opened":true
													}
											});

											
											
										</script>
								</div>
							</div>
							<div class="col-md-8">	
							<fieldset  class="border p-4">
								<legend  class="p-1">[[#{label.orgUnitsUsers}+' ']]</legend>								
								   <table id="userOrgUnitsTable" class="display">
										<thead>
											<tr>
												<th></th>
												<th th:text="#{label.ExternalId}">Identificador externo</th>
												<th th:text="#{label.Denomination}">Denominación</th>
												<th style="display: none;"></th>
											</tr>
										</thead>
										<tbody>
											  <tr th:each="userOrgUnit, rowStat : *{orgUnits}">
												 <td></td>
												 <td th:text="${userOrgUnit.externalId}">Un identificador externo</td>
												 <td th:text="${userOrgUnit.name}">Una razón Social</td>
												 <td th:text="${userOrgUnit.id}"></td>
											  </tr>
										</tbody>
									</table>
									<div id="idButton" >
									  <button id="linkOrgUnits" class="ui-button ui-widget ui-corner-all">
											<span class="ui-icon ui-icon-plusthick" ></span><span th:text="#{button.Link}">Vincular</span>
									  </button>
							
									  <button id="unLinkOrgUnits" class="ui-button ui-widget ui-corner-all">
											<span class="ui-icon ui-icon-closethick"></span><span th:text="#{button.Unlink}">Desvincular</span>
									  </button>
									</div>
							</fieldset>
							</div>
						</div>
					</div>						
				</div>
					
				<!-- BOTONES COMUNES -->
				<div id="userButtons" style="margin:5px; float:right">
					  <button id="saveUserButton" class="ui-button ui-widget ui-corner-all">
							<span class="ui-icon ui-icon-disk"></span><span th:text="#{button.Save}">Guardar</span> 
					  </button>
			
					  <button id="cancelUserButton" class="ui-button ui-widget ui-corner-all">
							<span class="ui-icon ui-icon-cancel"></span><span th:text="#{button.Cancel}">Cancelar</span>
					  </button>
				</div>
			</form>
			
			<div class="row" style="height:60px"></div>	
			
			<script type="text/javascript" th:inline="javascript" class="init">
				$( function() {
					
					console.log("Establecemos las funciones de userTabs");
					
					function initialFunction()
					{
						var selectEd =$('#userProfile :selected').attr('data-id');
						if (selectEd == PROFILEADMIN)
						{
							$('[href="#userOrgUnitsTab"]').closest('li').hide();
						}
					}	
					initialFunction();
					
					$('#userProfile').on("change", function(ev){
						console.log('Start cambiado perfil de usuarios:');
						console.dir(ev);	
						var profSelect =$(ev.target.selectedOptions.valueOf()[0]).attr('data-id');
						if (profSelect != PROFILEADMIN)
						{
							console.log("Show OrgUnits");
							$('[href="#userOrgUnitsTab"]').closest('li').show();
							
						}
						else
						{
							console.log("Hide OrgUnits");
							$('[href="#userOrgUnitsTab"]').closest('li').hide();
						}
						
						console.log('End cambiado perfil de usuarios:');
					});
										
					
					$('#linkOrgUnits').click(function(event)
					{						
						console.log("Vincular unidades organizativas");
						var resultado=[];
						var unitSelect=[];
						var unitInsert=$("#tree").jstree().get_selected();
						//comprobamos que no exista previamente
						var actuales =$('#userOrgUnitsTable').DataTable().column(1).data();
						for (i=0;i<unitInsert.length;i++)
						{
							var infoA = $.jstree.reference('tree').get_node(unitInsert[i]);	
							var encontrado=false;
							for (ii=0;ii<actuales.length;ii++)
							{
								if (infoA.text == actuales[ii])
								{
									encontrado=true;
									break;
								}
							}	
							if (!encontrado)
							{
								unitSelect.push(infoA);
							}
							
						}
						
						for (i=0;i<unitSelect.length;i++)
						{
							var unitAct = unitSelect[i];
							//var info = $.jstree.reference('tree').get_node(unitAct);
							console.log("Info nodo:")
							console.dir(unitAct);
							resultado[i]=[];		
							resultado[i][0]="";
							resultado[i][1]=unitAct.text;
							resultado[i][2]=unitAct.data;							
							resultado[i][3]=unitAct.id;							
							
						}
						//insertamos la info en la tabla de usuarios
						if (resultado.length>0)	
						{
							var table = $('#userOrgUnitsTable').DataTable();
							table.rows.add(resultado).draw( false );							
						}
						event.preventDefault();
					});
					
					$('#unLinkOrgUnits').click(function(event)
					{						
						console.log("Desvincular unidades organizativas");
						var table = $('#userOrgUnitsTable').DataTable();
						table.rows('.selected').remove().draw(false);
						event.preventDefault();	
					});

					$( "#usersTabId" ).tabs();
					
					$('#puser').click (function (){$('#userOrgUnitsTable').DataTable().draw(false);});
					
					
					var userOrgUnitsTable = $('#userOrgUnitsTable').dataTable({
						"language": {"url": tableLanguage()},
						"pagingType": "full_numbers",
						"order": [ 1, "desc" ],	
						"initComplete": function(settings, json) {
							console.log("Tabla terminada de cargar");
						},
						"lengthChange": false,
						"scrollY":        "20vh",
						"scrollCollapse": true,							
						columnDefs: [ {
							orderable: false,
							className:'select-checkbox',
							targets:   0
						} ,
						{
							targets:  3 ,
							visible: false
						}
						],
						select: {
							style:'os',
							selector: 'td:first-child',
							multi:true
						},
					});					
					  
				} );

				$('#saveUserForm').on( 'change', 'input', function () {
					$('#edited').val('true');
				});
				
				$("#cancelUserButton").click(function(event) {
					var context = [[@{/}]];
					$("#content").load(context + 'admin/users.html');
					event.preventDefault();
				});
				
				
				
				$("#saveUserButton").click(function(event) {
					
					console.log("Iniciamos la validación de los campos antes de salvar la info");
					var errorFound = false;
					var errorMsg = "";
					
					//inicializamos los mensajes
					$("#generalTab div[id$='ErrorContainer']").html("");
					
					if($("#document").val() == null || $("#document").val().trim().length == 0){
						errorFound = true;
						$("#documentContainer").addClass("has-error");
						
						errorMsg = '<span class="alert-danger">'+[[#{error.document.required}]]+'</span>';
						$("#documentErrorContainer").show().html(errorMsg);
					} else {
						$("#documentContainer").removeClass("has-error");
						$("#documentErrorContainer").html("").hide();
					}
					
					if($("#username").val() == null || $("#username").val().trim().length == 0){
						errorFound = true;
						$("#usernameContainer").addClass("has-error");
						
						errorMsg = '<span class="alert-danger">'+[[#{error.username.required}]]+'</span>';
						$("#usernameErrorContainer").show().html(errorMsg);
					} else {
						$("#usernameContainer").removeClass("has-error");
						$("#usernameErrorContainer").html("").hide();
					}

					if($("#email").val() == null || $("#email").val().trim().length == 0){
						errorFound = true;
						$("#emailContainer").addClass("has-error");
						
						errorMsg = '<span class="alert-danger">'+[[#{recPass.error.emailRequired}]]+'</span>';
						$("#emailErrorContainer").show().html(errorMsg);
					} else {
						if($("#email").val().search(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,3}$/) < 0){
							errorFound = true;
							$("#emailContainer").addClass("has-error");
							
							errorMsg = '<span class="alert-danger">'+[[#{error.email.notPattern}]]+'</span>';
							$("#emailErrorContainer").show().html(errorMsg);
						} else {
							$("#emailContainer").removeClass("has-error");
							$("#emailErrorContainer").html("").hide();
						}
					}
					
					if($("#name").val() == null || $("#name").val().trim().length == 0){
						errorFound = true;
						$("#nameContainer").addClass("has-error");
						
						errorMsg = '<span class="alert-danger">'+[[#{error.name.required}]]+'</span>';
						$("#nameErrorContainer").show().html(errorMsg);
					} else {
						$("#nameContainer").removeClass("has-error");
						$("#nameErrorContainer").html("").hide();
					}
					
					if($("#surname").val() == null || $("#surname").val().trim().length == 0){
						errorFound = true;
						$("#surnameContainer").addClass("has-error");
						
						errorMsg = '<span class="alert-danger">'+[[#{error.name.required}]]+'</span>';
						$("#surnameErrorContainer").show().html(errorMsg);
					} else {
						$("#surnameContainer").removeClass("has-error");
						$("#surnameErrorContainer").html("").hide();
					}
					
					// La password solo debe ser comprobada si ha sido
					// actualizada, o el usuario es nuevo
					if($("#id").val() == null && ($("#passwordForm\\.password").val() == null || $("#passwordForm\\.password").val().trim().length == 0)){
						errorFound = true;
						$("#passwordContainer").addClass("has-error");
						
						errorMsg = '<span class="alert-danger">'+[[#{error.password.required}]]+'</span>';
						$("#passwordErrorContainer").show().html(errorMsg);
					} else if ($("#id").val() != null && (($("#passwordForm\\.password").val() != null && $("#passwordForm\\.password").val() != "") || $("#passwordForm\\.password").val().trim().length > 0)){						
						console.log("Comprobamos la password si alguna información se ha introducido");

						if($("#passwordForm\\.password").val() != $("#passwordForm\\.confirmPassword").val()){
							errorFound = true;
							$("#confirmPasswordContainer").addClass("has-error");
							
							errorMsg = '<span class="alert-danger">'+[[#{error.password.notMatches}]]+'</span>';
							$("#confirmPasswordErrorContainer").show().html(errorMsg);
						} else {
							$("#confirmPasswordContainer").removeClass("has-error");
							$("#confirmPasswordErrorContainer").html("").hide();
						}
					}

					if($("#userProfile").val() == null || $("#userProfile").val().trim().length == 0 || $("#userProfile").val() == -1){
						errorFound = true;
						$("#profileContainer").addClass("has-error");
						
						errorMsg = '<span class="alert-danger">'+[[#{error.userProfile.required}]]+'</span>';
						$("#profileErrorContainer").show().html(errorMsg);
					} else {
						$("#profileContainer").removeClass("has-error");
						$("#profileErrorContainer").html("").hide();
					}
					
					//Si no se han encontrado errores, se efectua el envío del formulario
					if(!errorFound){
							var data = {}
							
							//Gather Data also remove undefined keys(buttons)
							$.each($("#saveUserForm").find("input"), function(i, v){
								var input = $(v);
								if (input.is(":checkbox"))
								{
									data[input.attr("name")] = input.is(':checked');
								}
								else
								{
									data[input.attr("name")] = input.val();
								}
								delete data["undefined"];

								
							}); 
							
							var selectProfile = $("#saveUserForm").find("select :selected")[0];							
							data["profile.id"] = Number($(selectProfile).attr("data-id"));
							data["profile.name"] = $(selectProfile).attr("data-name");

							//obtenemos la informacion de las unidades organizativas
							var vuserOrgUnits = $(userOrgUnitsTable).DataTable().data();
							for (i=0;i<vuserOrgUnits.length;i++)
							{
								data['orgUnits['+i+'].id']=vuserOrgUnits[i][3];
								data['orgUnits['+i+'].externalId']=vuserOrgUnits[i][1];
								data['orgUnits['+i+'].name']=vuserOrgUnits[i][2];
							}
						
							console.log("Info a enviar:");
							console.dir(data);
							
							var context = [[@{/}]];
								
							showModalWait();
							$.ajax({
								url: context +  'admin/saveUser.html',
								type: "POST",
								data: data,
								error:function(e) {
									console.log("ERROR:");
									console.dir(e);
								},
								success: function(html)	{
									console.log("SUCCESS");
									var errorsInSaveUserForm = $(html).find("#errorsInSaveUserForm");
									console.log(errorsInSaveUserForm.attr("id") + ':' + errorsInSaveUserForm.val());
									if(errorsInSaveUserForm != null && errorsInSaveUserForm.val() != 'true'){
										//Se han guardado correctamente los cambios realizados sobre el usuario
										$('#content').html(html);
										var userId = $("#content").find("#saveUserForm :hidden[id='id']")
										console.log("userId:",userId);
										if(userId != null && userId.val() != ''){											
											var selUserRow = $('#usersTable tbody tr[data-userid='+userId.val()+']');
											console.log("selUserRow:",selUserRow);
											setTimeout(function()
											{
												var auxi =selUserRow.find('.select-checkbox');
												auxi.trigger('click');
												unLockElementsEnableIni();
											},1000);
										}
									} else {
										$('#userAdmonTabs').html(html);
									}
								},	
								complete:function () {
									console.log("COMPLETE");
									recargarMensajes();
									hiddenModalWait();
									adaptScreenPartial("#admonUserMasterDiv", 35);
								}
								});
					}
					event.preventDefault();
					return !errorFound;
				});
				
			</script>
		</div>
	</body>
</html>
