<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      
    <head>
    </head>
    <body>	
		<div id="cuerpo" th:fragment="content">
		   <table id="idTablaUser" class="display">
				<thead>
					<tr>
						<th></th>
						<th>Nombre de Usuario</th>
						<th>Nombre Completo</th>
						<th>Direcci&oacute;n de Correo</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
						  <tr th:each="person : ${persons}">
							 <td th:text="${person?.id}"><input type="checkbox"></td>
							 <td th:text="${person?.firstName}">John</td>
							 <td th:text="${person?.lastName}">Doe</td>
							 <td th:text="${person?.mail}">john@doe.com</td>
							 <td th:text="${person?.address?.town?.name}"><a href="#"><span class="ui-icon  ui-icon-person"></span></a></td>
						  </tr>
				</tbody>
			</table>

			<div id="footerTable" >
				<script>
				  $('#idTablaUser').dataTable({
						scrollCollapse: true,
						"language": {"url": tableLanguage()},
						"pagingType": "full_numbers",
						"order": [ 2, "desc" ],
						"lengthChange": false,
						"scrollY":        "20vh",
						"scrollCollapse": true	
					});
				
				</script>
			</div>
		</div>
	</body>
</html>
