<th:block th:fragment="contentModalUser" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<div id="modalUser">

		<div class="modal-body" >
			<form id="saveUserFormInSession" name="saveUserFormInSession" autocomplete="off" role="form" th:action="@{/saveUserInSession.html}" th:object="${editUserInSession}" th:method="POST">
					<input name="username" th:id="username" th:value="*{username}" type="hidden" />													
					<input id="errorsInFormInput" name="errorsInFormInput" th:value="${hasErrorsUserInSession}" type="hidden" />
					
					
					<div class="row">
						<div class="col-md-4">
							<div id="usernameContainer" class="form-group">											
								<div class="input-group">
									<label th:text="#{label.UserName} + ': '">Nombre de usuario*:</label> 
									<input class="form-control" name="username" id="username" th:id="username" th:field="*{username}" type="text" th:type="text" maxlength="128" size="128" th:max="128" disabled />													
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div id="documentContainer" th:class="${#fields.hasErrors('document')}? 'form-group has-error' : 'form-group'">											
								<div class="input-group">
									<label th:text="#{label.Document} + '*: '">Documento*:</label>
									<input class="form-control" name="document" id="document" th:id="document" th:field="*{document}" type="text" th:type="text" maxlength="50" size="50" th:max="50"/>													
								</div>
								<div id="documentErrorContainer">
									<span th:if="${#fields.hasErrors('document')}" th:errors="*{document}" class="alert-danger">El nombre de usuario es requerido</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div id="emailContainer" th:class="${#fields.hasErrors('email')}? 'form-group has-error' : 'form-group'">											
								<div class="input-group">
									<label th:text="#{label.Email} + '*: '">Correo Electrónico*:</label> 
									<input class="form-control" id="email" name="email" th:field="*{email}" type="text" th:type="text" maxlength="256" size="256" th:max="256"/>													
								</div>
								<div id="emailErrorContainer">
									<span th:if="${#fields.hasErrors('email')}" th:errors="email" class="alert-danger">El correo electrónico es requerido</span>
								</div>
							</div>
						</div>
					</div>
	
					<div class="row" style="height:10px">
					</div>
					
					<div class="row">
						<div class="col-md-4">
							<div id="oldPasswordContainer" th:class="${#fields.hasErrors('oldPassword')}? 'form-group has-error' : 'form-group'">
								<div class="input-group">
									<label th:text="#{label.currentPassword} + ': '">Password actual:</label>
									<input class="form-control" th:placeholder="#{oldPassword}" name="oldPassword" th:id="oldPassword" th:field="*{oldPassword}" type="password" value="" maxlength="512" size="512" th:max="512"/>
								</div>
								<div id="oldPasswordErrorContainer">
									<span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="alert-danger">El password anterior es requerido</span>
								</div>												
							</div>
						</div>
						<div class="col-md-4">
							<div id="passwordContainer" th:class="${#fields.hasErrors('passwordForm.password')}? 'form-group has-error' : 'form-group'">
								<div class="input-group">
									<label th:text="#{label.Password} + ': '">Password*:</label>
									<input class="form-control" name="passwordForm.password" th:id="passwordForm.password" th:field="*{passwordForm.password}" type="password" maxlength="512" size="512" th:max="512"/>
								</div>
								<div id="passwordErrorContainer">
									<span th:if="${#fields.hasErrors('passwordForm.password')}" th:errors="*{passwordForm.password}" class="alert-danger">La password es requerida</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">										
							<div id="confirmPasswordContainer" th:class="${#fields.hasErrors('passwordForm.confirmPassword')}? 'form-group has-error' : 'form-group'">
								<div class="input-group">
									<label th:text="#{label.ConfirmPassword} + ': '">Confirmar password*:</label>
									<input class="form-control" name="passwordForm.confirmPassword" th:id="passwordForm.confirmPassword" th:field="*{passwordForm.confirmPassword}" type="password" maxlength="512" size="512" th:max="512"/>
								</div>
								<div id="confirmPasswordErrorContainer">							
									<span th:if="${#fields.hasErrors('passwordForm.confirmPassword')}" th:errors="*{passwordForm.confirmPassword}" class="alert-danger">La confirmación del password es requerida</span>
								</div>
							</div>
						</div>								
					</div>	
											
					<div class="row" style="height:10px">							
					</div>
	
					<div class="row">
						<div class="col-md-4">
							<div id="nameContainer" th:class="${#fields.hasErrors('name')}? 'form-group has-error' : 'form-group'">											
								<div class="input-group">
									<label th:text="#{label.Name} + '*: '">Nombre*:</label>
									<input class="form-control" name="name" id="name" th:id="name" th:field="*{name}" type="text" th:type="text" maxlength="128" size="128" th:max="128" />													
								</div>
								<div id="nameErrorContainer">
									<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert-danger">El nombre del usuario es requerido</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div id="surnameContainer" th:class="${#fields.hasErrors('surname')}? 'form-group has-error' : 'form-group'">											
								<div class="input-group">
									<label th:text="#{label.Surname1} + '*: '">Primer Apellido*:</label> 
									<input class="form-control" name="surname" id="surname" th:id="surname" th:field="*{surname}" type="text" th:type="text" maxlength="128" size="128" th:max="128"/>													
								</div>
								<div id="surnameErrorContainer">
									<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="alert-danger">El primer apellido del usuario es requerido</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div id="secondSurnameContainer" th:class="${#fields.hasErrors('secondSurname')}? 'form-group has-error' : 'form-group'">											
								<div class="input-group">
									<label th:text="#{label.Surname2} + ': '">Segundo Apellido:</label> 
									<input class="form-control" name="secondSurname" id="secondSurname" th:id="secondSurname" th:field="*{secondSurname}" type="text" th:type="text" maxlength="128" size="128" th:max="128"/>													
								</div>
								<div id="secondSurnameErrorContainer">
									<span th:if="${#fields.hasErrors('secondSurname')}" th:errors="*{secondSurname}" class="alert-danger">El primer apellido del usuario es requerido</span>
								</div>
							</div>
						</div>
					</div>			
					<div th:replace="fragments/users/password_validation :: password-validation-fragment"><p></p></div>
			</form> 
		</div>	
    </div>
</th:block>