<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="login-password-head (pageTitle)">
		<title th:text="${pageTitle}">Welcome!</title>
		<link rel="icon" type="image/vnd.microsoft.icon" href="../../../resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="Content-Language" content="es-es" />
		<meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" />
		<meta name="viewport" content="width=device-width, maximum-scale=1.0" />

		
		<link rel="stylesheet" href="../../../resources/js/jquery-ui/base/jquery-ui.css"  th:href="@{/resources/js/jquery-ui/base/jquery-ui.css}"/>    
    	<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"/>    
    	<link rel="stylesheet" href="../../../resources/css/webscan.css" media="screen" th:href="@{/resources/css/webscan.css}" />

		<script src="../../../resources/js/jquery-3.4.1.js" th:src="@{/resources/js/jquery-3.4.1.js}"></script>   
<!-- 		<script src="../../../resources/js/jquery-1.12.3.js" th:src="@{/resources/js/jquery-1.12.3.js}"></script>    -->
		<script src="../../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
	</head>
	<head th:fragment="invalid-session-head">

		<title th:text="#{invalidSession.title}">Welcome!</title>
		<link rel="icon" type="image/vnd.microsoft.icon" href="../../../resources/images/favicon.ico" 
		th:href="@{./resources/images/favicon.ico}"/>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="Content-Language" content="es-es" />
		<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
		
		<link rel="stylesheet" href="../../../resources/js/jquery-ui/base/jquery-ui.css"  th:href="@{/resources/js/jquery-ui/base/jquery-ui.css}"/>    
    	<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"/>    
    	<link rel="stylesheet" href="../../../resources/css/webscan.css" media="screen" th:href="@{/resources/css/webscan.css}" />
		<!--  <link rel="stylesheet" href="../../../resources/css/main.css" type="text/css" th:href="@{/resources/css/main.css}"/> -->
	</head>
<body>
</body>
</html>

