<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<style>
.listDocBoxCss
{
	min-height:30vh;
}

.previewClass
{
	padding:0px;
	padding-right:1px;
    margin-top: -15px;
    margin-bottom: 15px;	
}

.previewButtonClass
{
	padding-left:5vh;
}

#contentDocBox > div > div.col-md-7.previewEditDocBoxCss > fieldset
{
	padding-bottom:0px!important;
}


div .previewClass:parent 
{
	margin:0px;
}
.metaEditDocBoxCss, .previewEditDocBoxCss
{
	min-height:35vh;
}

.listMetaEditDocBoxCss
{
	min-height:30vh;
	max-height:30vh;
	overflow-y:scroll;
}


.ct-lt input {
    background: #fff;
    border: solid 1px #bbbcc0;
    margin-right: 6px;
    width: 30px;
    height: 18px;
    font-size: 10px;
    outline: none;
    cursor: pointer;
	font: normal 11px verdana;
}
.ct-lt input[type='text'] {
    padding-left: 3px;
    margin-left: 7px;
    height: 18px;
    font-size: 12px;
    cursor: default;
}


</style>

<!--  añadimos solo los ficheros de webtwain para la bandeja de comento -->
<div id="messagePantalla"></div>
	<fieldset class="border p-4">		
		<legend  class="p-1">[[#{label.ScannedProcess}+' ']]
			<button id='refreshBox' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-refresh'></span></button>
		</legend>
		<div class="row">
		<!-- start tabla bandeja de documentos -->
			<div id="listDocBox" class="listDocBoxCss" th:insert="fragments/docBox/content_EditDocBox  :: contentTableDocBox" style="width:100%"><p>bandeja de documentos</p></div>
			<!-- end table bandeja de documentos -->
		</div>
		<div>
			<div id="idEditDoc" th:insert="fragments/docBox/content_EditDocBox :: content"><p>Edicion de documentos</p></div>
		</div> 
	</fieldset>
	<script>
	
	$(function() {
		debugger;
		console.log( "Document Box ready!" );


		$('#putButton').click(function(event){		
			debugger;
			var listDocBox =getListSelect();			
			console.log( "Depositar pulsado!" );
			
			if (!Array.isArray(listDocBox) || !listDocBox.length) {
				messageBase(tituloError() ,'[[#{warning.docBox.store.messageIdsDocBoxNotFound}]]');
			} else {	
				showModalWait();
				$.ajax({
					url:contexto()+'docBox/depositDocBox.html',
					type:'post',
					data:{'_csrf':$("input[name='_csrf']").val(),
							'idsDocBox':listDocBox
					},
					success: function(res){
						console.log("Finalizada la llamada depositDocBox");
						messageBase(tituloInfo() ,"<b>"+modalDepositDocBox()+ "</b><br>"+ res);
					},
					error:function (res){					
						console.log("depositDocBox: Respuesta negativa");
					},
					complete:function(){
						recargarMensajes();
						console.log("depositDocBox: Terminada llamada");
						hiddenModalWait();
						console.log("Refrescamos la pagina");
						RequestLoad("docBox/docBox.html" , "GET", null, null, "#content");
						event.preventDefault();
					}
				});
			}
			event.preventDefault();
		});
		
		$('#reStart').click(function(event){
			debugger;
			console.log( "Reanudar pulsado!" );
			var listDocBox =getListSelect();
			
			if (!Array.isArray(listDocBox) || !listDocBox.length) {
				messageBase(tituloError() ,'[[#{warning.docBox.resume.messageIdsDocBoxNotFound}]]');
			} else {
				
				showModalWait();
				$.ajax({
					url:contexto()+'docBox/restartDocBox.html',
					type:'post',
					data:{'_csrf':$("input[name='_csrf']").val(),
							'idsDocBox':listDocBox
					},
					success: function(res){
						recargarMensajes();
						console.log("Finalizada la llamada restartDocBox");
						$('#content').html(res);
					},
					error:function (res){	
						recargarMensajes();					
						console.log("restartDocBox: Respuesta negativa");
					},
					complete:function(){
						console.log("restartDocBox: Terminada llamada");
						hiddenModalWait();
					}
				});
				
			}
			event.preventDefault();
		});

		function getListSelect()
		{
			debugger;
			var selectsDocBox =$('#idTabla').DataTable().rows('.selected').data();
			var listDocBox =[];
			for (a=0;a<selectsDocBox.length;a++)
			{
				listDocBox[a]=Number(selectsDocBox[a][1]);
			}
			console.log("Elementos seleccionados:");
			console.dir(listDocBox);
			
			return listDocBox;
		}
		
		
		$('#removeDoc').click(function(event){
			debugger;
			console.log( "Eliminar pulsado!" );
			
			var listDocBox =getListSelect();
			if (!Array.isArray(listDocBox) || !listDocBox.length) {
				messageBase(tituloError() ,'[[#{warning.docBox.remove.messageIdsDocBoxNotFound}]]');
			} else {
				messageWarning(tituloWarning() ,modalDeleteDocBox(), 
					function() {
						console.log("Se procede a borrar la lista de documentos seleccionados:"+listDocBox);
			
						showModalWait();
						$.ajax({
							url:contexto()+'docBox/removeDocBox.html',
							type:'post',
							data:{'_csrf':$("input[name='_csrf']").val(),
									'idsDocBox':listDocBox
							},
							success: function(res){
								recargarMensajes();
								console.log("Finalizada la llamada removeDocBox");
								$('#content').html(res);
							},
							error:function (res){					
								recargarMensajes();
								console.log("removeDocBox: Respuesta negativa");
							},
							complete:function(){
								
								console.log("Finalizada la llamada removeDocBox");
								hiddenModalWait();
							}
						});
						
					}, 
					function(){
						console.log("No se borra nada");
					}
				);
			}
			console.log( "Fin Eliminar pulsado!" );
			event.preventDefault();
		});
		
		
	});	//end ready	
	</script>
	
</th:block>

<th:block th:fragment="respuestaDeposit" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<span th:utext="${respuestaDeposit}"></span>
</th:block>