<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      
    <head th:replace="fragments/users/head :: invalid-session-head">
    </head>
    <body> 
		<div class="container" >    		
    		<div id="headerContainer" >
   				<div th:replace="fragments/base/header :: login-page"><p>Cabecera a sustituir</p></div>
    		</div>
    		<h3 class="alert alert-danger" th:text="#{auth.error.expiredSession.message}">Sesión caducada</h3>
			<div class="col-md-2 col-md-offset-5">
				<a class="btn btn-primary btn-lg btn-block" th:href="@{/login.html}" th:text="#{label.loginLink}">login</a>
			</div>										
     	</div>
   		<footer>
			<div th:replace="fragments/base/footer :: footer-main"><p>Pie a sustituir</p></div>
		</footer>
    </body>
</html>