<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      
    <head th:replace="fragments/base/head_main :: login-password-head(#{login.title})">
    </head>
    <body> 
   		<div class="container-fluid" >			
    		<div id="headerContainer">
    			<header class="container">
	    			<div th:replace="fragments/base/header :: login-page"><p>Cabecera a sustituir</p></div>
	    		</header>
    		</div>    
	 		<div id="bodyContainer">
				<div class="container">
					<div class="card card-login mx-auto mt-5">
						<div class="card">
							<div class="card-header">
								<strong th:text="#{login.login}"></strong>
							</div>
							<div class="card-body">									
					        	<form id="loginForm" name="loginForm" autocomplete="off" role="form" th:action="@{/performLogin}" method="post">
					        		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
									<fieldset>																						
										<div id="usernameContainer" class="form-group">											
											<div class="input-group">
												<span class="input-group-addon">
													<i class="fas fa-user fa-pull-left text-black-50"></i>
												</span> 
												<input class="form-control" placeholder="Usuario" th:placeholder="#{label.UserName}" id="username" name="username" type="text" autofocus="true"/>													
											</div>
											<div id="usernameErrorContainer">												
											</div>
										</div>
										<div id="passwordContainer" class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="fas fa-lock fa-pull-left text-black-50"></i>
												</span>
												<input class="form-control" placeholder="Password" th:placeholder="#{label.Password}" id="password" name="password" type="password" value=""/>
											</div>											
											<div id="passwordErrorContainer">												
											</div>
										</div>
										<div class="form-group">
											<input id="submitButton" name="submitButton" type="button" class="btn btn-lg btn-primary btn-block" value="Sign in" th:value="#{login.submitButton}"/>
										</div>
									</fieldset>
								</form>
								<div class="row">
									<div class="col-md-8 col-md-offset-2">
										<a href="reqRetrievePassword.html" th:href="@{/reqRetrievePassword.html}" ><span th:text="#{label.ForgotPassword}">¿Ha olvidado su password?</span></a>
									</div>
								</div>
							</div>
							<!-- Mensajes footer -->
							<div th:if="${param.logout}">
								<div class="card-footer center-block">
									<p th:text="#{label.endSession}"></p>
								</div>
		        			</div>
							<div th:if="${not #strings.isEmpty(session.reqResult)}">
								<div class="card-footer center-block">
									<th:block th:switch="${session.reqResult}">
										<p th:case="'ok'" th:text="${session.resultMsg}"></p>
										<p th:case="'error'" class="alert alert-danger" th:text="${session.resultMsg}"></p>									
									</th:block>
								</div>
		        			</div>
					        <!-- End Mensajes footer -->  
						</div>
					</div>
				</div>
				<script type="text/javascript" th:inline="javascript">
					/*<![CDATA[*/
						$(document).ready(function() {
							"use strict";
							
							//Función que valida el formulario, previo a su envío
							$("#submitButton").click(function() {
								var errorFound = false;
								var errorMsg = "";
								
								if($("#username").val() == null || $("#username").val().trim().length == 0){
									errorFound = true;
									$("#usernameContainer").addClass("has-error");
									
									errorMsg = '<span class="alert-danger">'+[[#{error.username.required}]]+'</span>';
									$("#usernameErrorContainer").show().html(errorMsg);
								} else {
									$("#usernameContainer").removeClass("has-error");
									$("#usernameErrorContainer").html("").hide();
								}
								
								if($("#password").val() == null || $("#password").val().trim().length == 0){
									errorFound = true;
									$("#passwordContainer").addClass("has-error");
									
									errorMsg = '<span class="alert-danger">'+[[#{error.password.required}]]+'</span>';
									$("#passwordErrorContainer").show().html(errorMsg);
								} else {
									$("#passwordContainer").removeClass("has-error");
									$("#passwordErrorContainer").html("").hide();
								}
	
								//Si no se han encontrado errores, se efectua el envío del formulario
								if(!errorFound){
									$("#loginForm").submit();
								}
								
								return !errorFound;
							});
						});
					/*]]>*/ 
				</script>			
			</div>
			<div >
				<footer>
					<div th:replace="fragments/base/footer :: footer"><p>Pie a sustituir</p></div>
				</footer>
			</div>
     	</div>		
    </body>
</html>