<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/users/head :: login-password-head(#{reqRetrievePassword.title})">
    </head>
    
    <body> 
		<div class="container-fluid" >			
    		<div id="headerContainer" >
	    		<div th:replace="fragments/base/header :: login-page"><p>Cabecera a sustituir</p></div>
    		</div>
			<div id="bodyContainer" >
				<div class="container">
					<div class="card card-login mx-auto mt-5" >
						<div class="card">
							<div class="card-header text-center">
								<strong th:text="#{reqRetrievePassword.header}"></strong>
							</div>
							<div class="card-body">
								<form id="reqRetrievePassForm" name="reqRetrievePassForm" autocomplete="off" role="form" th:action="@{/reqRetrievePassword.html}" th:object="${reqRetrievePassFormData}" method="POST" th:method="POST">
									<fieldset>
										<div class="row">
											<div class="col-md-10 col-md-offset-1">
												<div id="usernameContainer" th:class="${#fields.hasErrors('username')}? 'form-group has-error' : 'form-group'">											
													<div class="input-group">
														<span class="input-group-addon">
															<i class="fas fa-user text-black-50"></i>
														</span> 
														<input class="form-control" placeholder="Usuario" th:placeholder="#{label.UserName}" id="username" name="username" th:field="*{username}" type="text" autofocus="true"/>													
													</div>
													<div id="usernameErrorContainer">
														<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert-danger">El nombre de usuario es requerido</span>
													</div>
												</div>
												<div id="emailContainer" th:class="${#fields.hasErrors('email')}? 'form-group has-error' : 'form-group'">											
													<div class="input-group">
														<span class="input-group-addon">
															<i class="fas fa-envelope text-black-50"></i>
														</span> 
														<input class="form-control" placeholder="Email" th:placeholder="#{label.Email}" id="email" name="email" th:field="*{email}" type="text" />													
													</div>
													<div id="emailErrorContainer">
														<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert-danger">El correo electrónico es requerido</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row">									
											<div class="col-md-4 col-md-offset-4">
												<input id="submitButton" name="submitButton" type="button" class="btn btn-lg btn-primary" value="Sign in" th:value="#{reqRetrievePassword.submitButton}"/>
											</div>										
										</div>
									</fieldset>
								</form>
							</div>
							<!-- Mensajes footer -->
							<div th:if="${not #strings.isEmpty(reqResult)}">
								<div class="panel-footer ">
									<th:block th:switch="${reqResult}">
										<p th:case="'ok'" th:text="#{reqRetrievePassword.resultOk}"></p>
										<p th:case="'error'" class="alert alert-danger" th:text="${resultMsg}"></p>									
									</th:block>
								</div>
							</div>
							<!-- End Mensajes footer -->  
						</div>
					</div>				
				</div>
			</div>
			<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
					$(document).ready(function() {
						"use strict";
						
						//Función que valida el formulario, previo a su envío
						$("#submitButton").click(function() {
							var errorFound = false;
							var errorMsg = "";
							
							if($("#username").val() == null || $("#username").val().trim().length == 0){
								errorFound = true;
								$("#usernameContainer").addClass("has-error");
								
								errorMsg = '<span class="alert-danger">'+[[#{error.username.required}]]+'</span>';
								$("#usernameErrorContainer").show().html(errorMsg);
							} else {
								$("#usernameContainer").removeClass("has-error");
								$("#usernameErrorContainer").html("").hide();
							}
							
							if($("#email").val() == null || $("#email").val().trim().length == 0){
								errorFound = true;
								$("#emailContainer").addClass("has-error");
								
								errorMsg = '<span class="alert-danger">'+[[#{recPass.error.emailRequired}]]+'</span>';
								$("#emailErrorContainer").show().html(errorMsg);
							} else {
								if($("#email").val().search(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,3}$/) < 0){
									errorFound = true;
									$("#emailContainer").addClass("has-error");
									
									errorMsg = '<span class="alert-danger">'+[[#{error.email.notPattern}]]+'</span>';
									$("#emailErrorContainer").show().html(errorMsg);
								} else {
									$("#emailContainer").removeClass("has-error");
									$("#emailErrorContainer").html("").hide();
								}
							}

							//Si no se han encontrado errores, se efectua el envío del formulario
							if(!errorFound){
								$("#reqRetrievePassForm").submit();
							}
							
							return !errorFound;
						});
					});
				/*]]>*/ 
			</script>
     	</div>
        <div th:replace="fragments/base/footer :: footer"><p></p></div>
    </body>
</html>