<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/users/head :: login-password-head(#{retrievePassword.title})">
    </head>
    <body> 
		<div class="container-fluid" >			
    		<div id="headerContainer" >
    			<header class="container">
	    			<div th:replace="fragments/base/header :: login-page"><p>Cabecera a sustituir</p></div>
    			</header>
    		</div>
			<div id="bodyContainer">
				<div class="container">
					<div class="card card-default">
						<div class="card-header text-center">
							<strong th:text="#{retrievePassword.header}"></strong>
						</div>
						<div class="card-body">
							<p th:text="#{retrievePassword.headerDescription}"></p>
							<form id="retrievePassForm" name="retrievePassForm" autocomplete="off" role="form" th:action="@{/retrievePassword.html}" th:object="${retrievePassFormData}" method="POST" th:method="POST">
								<fieldset>
									<div class="row">										
										<div class="col-md-4">
											<div id="usernameContainer" th:class="${#fields.hasErrors('username')}? 'form-group has-error' : 'form-group'">											
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fas fa-user text-black-50"></i>
													</span> 
													<input class="form-control" placeholder="Usuario" th:placeholder="#{label.UserName}" id="username" name="username" th:field="*{username}" type="text" autofocus="true"/>													
												</div>
												<div id="usernameErrorContainer">
													<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert-danger">El nombre de usuario es requerido</span>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div id="documentContainer" th:class="${#fields.hasErrors('document')}? 'form-group has-error' : 'form-group'">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="glyphicons glyphicon-credit-card"></i>
													</span>
													<input class="form-control" placeholder="Documento de identificación" th:placeholder="#{label.Document}" id="document" th:field="*{document}" type="text" value=""/>
												</div>
												<div id="documentErrorContainer">
													<span th:if="${#fields.hasErrors('document')}" th:errors="*{document}" class="alert-danger">El documento de identificación es requerido</span>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div id="securityTokenContainer" th:class="${#fields.hasErrors('securityToken')}? 'form-group has-error' : 'form-group'">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fas fa-check text-black-50"></i>
													</span>
													<input class="form-control" placeholder="Token de seguridad" th:placeholder="#{label.secToken}" id="securityToken" th:field="*{securityToken}" type="text" value=""/>
												</div>
												<div id="securityTokenErrorContainer">
													<span th:if="${#fields.hasErrors('securityToken')}" th:errors="*{securityToken}" class="alert-danger">El token de seguridad es requerido</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">	
										<div class="col-md-6">
											<div id="passwordContainer" th:class="${#fields.hasErrors('passwordForm.password')}? 'form-group has-error' : 'form-group'">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fas fa-lock text-black-50"></i>
													</span>
													<input class="form-control" placeholder="Nuevo password" th:placeholder="#{newPassword}" name="passwordForm.password" th:id="passwordForm.password" th:field="*{passwordForm.password}" type="password" value="" maxlength="512" size="512" th:max="512"/>
												</div>
												<!-- <div class="pwstrength_viewport_progress"></div> -->
												<div id="passwordErrorContainer">
													<span th:if="${#fields.hasErrors('passwordForm.password')}" th:errors="*{passwordForm.password}" class="alert-danger">La password es requerida</span>
												</div>
											</div>
										</div>
										<div class="col-md-6">										
											<div id="confirmPasswordContainer" th:class="${#fields.hasErrors('passwordForm.confirmPassword')}? 'form-group has-error' : 'form-group'">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fas fa-lock text-black-50"></i>
													</span>
													<input class="form-control" placeholder="Confirmación de nuevo password" th:placeholder="#{confirmNewpassword}" name="passwordForm.confirmPassword" th:id="passwordForm.confirmPassword" th:field="*{passwordForm.confirmPassword}" type="password" value="" maxlength="512" size="512" th:max="512"/>
												</div>
												<div id="confirmPasswordErrorContainer">							
													<span th:if="${#fields.hasErrors('passwordForm.confirmPassword')}" th:errors="*{passwordForm.confirmPassword}" class="alert-danger">La confirmación del password es requerida</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">									
										<div class="col-md-2 col-md-offset-5">
											<input id="submitButton" name="submitButton" type="button" class="btn btn-lg btn-primary" value="Sign in" th:value="#{retrievePassword.submitButton}"/>
										</div>										
									</div>
									<div th:replace="fragments/users/password_validation :: password-validation-fragment"><p></p></div>						
								</fieldset>
							</form>
						</div>
						<!-- Mensajes footer -->
						<div th:if="${#strings.equals(reqResult,'error')}">
							<div class="panel-footer ">
								<p class="alert alert-danger" th:text="${resultMsg}"></p>									
							</div>
						</div>
						<!-- End Mensajes footer -->    
					</div>
				</div>
			</div>
			<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
					$(document).ready(function() {
						"use strict";
						
						//Función que valida el formulario, previo a su envío
						$("#submitButton").click(function() {
							var errorFound = false;
							var errorMsg = "";
							
							if($("#username").val() == null || $("#username").val().trim().length == 0){
								errorFound = true;
								$("#usernameContainer").addClass("has-error");
								
								errorMsg = '<span class="alert-danger">'+[[#{error.username.required}]]+'</span>';
								$("#usernameErrorContainer").show().html(errorMsg);
							} else {
								$("#usernameContainer").removeClass("has-error");
								$("#usernameErrorContainer").html("").hide();
							}
							
							if($("#document").val() == null || $("#document").val().trim().length == 0){
								errorFound = true;
								$("#documentContainer").addClass("has-error");
								
								errorMsg = '<span class="alert-danger">'+[[#{error.document.required}]]+'</span>';
								$("#documentErrorContainer").show().html(errorMsg);
							} else {
								$("#documentContainer").removeClass("has-error");
								$("#documentErrorContainer").html("").hide();
							}
							
							if($("#securityToken").val() == null || $("#securityToken").val().trim().length == 0){
								errorFound = true;
								$("#securityTokenContainer").addClass("has-error");
								
								errorMsg = '<span class="alert-danger">'+[[#{error.securityToken.required}]]+'</span>';
								$("#securityTokenErrorContainer").show().html(errorMsg);
							} else {
								$("#securityTokenContainer").removeClass("has-error");
								$("#securityTokenErrorContainer").html("").hide();
							}
							
							if($("#passwordForm\\.password").val() == null || $("#passwordForm\\.password").val().trim().length == 0){
								errorFound = true;
								$("#passwordContainer").addClass("has-error");
								
								errorMsg = '<span class="alert-danger">'+[[#{error.password.required}]]+'</span>';
								$("#passwordErrorContainer").show().html(errorMsg);
							} else {
								if($("#passwordForm\\.password").val() != $("#passwordForm\\.confirmPassword").val()){
									errorFound = true;
									$("#confirmPasswordContainer").addClass("has-error");
									
									errorMsg = '<span class="alert-danger">'+[[#{error.password.notMatches}]]+'</span>';
									$("#confirmPasswordErrorContainer").show().html(errorMsg);
								} else {
									$("#confirmPasswordContainer").removeClass("has-error");
									$("#confirmPasswordErrorContainer").html("").hide();
								}
							}

							//Si no se han encontrado errores, se efectua el envío del formulario
							if(!errorFound){
								$("#retrievePassForm").submit();
							}
							
							return !errorFound;
						});
					});
				/*]]>*/ 
			</script>
     	</div>
        <div th:replace="fragments/base/footer :: footer"><p></p></div>
    </body>
</html>