<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/users/head :: login-password-head(#{updatePassword.title})">
    </head>  
    <body> 
		<div class="container-fluid" >			
    		<div id="headerContainer" >
	    		<div th:replace="fragments/base/header :: login-page"><p>Cabecera a sustituir</p></div>
    		</div>
			<div id="bodyContainer" >
				<div class="container">

					<div class="card card-default">
						<div class="card-header text-center">
							<strong th:text="#{updatePassword.header}"></strong>
						</div>
						<div class="card-body">
							<p th:text="#{updatePassword.headerDescription}"></p>								
							<form id="updatePassForm" name="updatePassForm" autocomplete="off" role="form" th:object="${updatePassFormData}" th:action="@{/updatePassword.html}" method="POST" th:method="POST">
								<fieldset>									
									<div class="row">
										<div class="col-md-6">
											<div id="usernameContainer" th:class="${#fields.hasErrors('username')}? 'form-group has-error' : 'form-group'">											
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fas fa-user text-black-50"></i>
													</span> 
													<input class="form-control" placeholder="Usuario" th:placeholder="#{label.UserName}" id="username" name="username" th:field="*{username}" type="text" autofocus="true"/>													
												</div>
												<div id="usernameErrorContainer">
													<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert-danger">El nombre de usuario es requerido</span>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div id="oldPasswordContainer" th:class="${#fields.hasErrors('oldPassword')}? 'form-group has-error' : 'form-group'">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fas fa-lock text-black-50"></i>
													</span>
													<input class="form-control" placeholder="Password antiguo" th:placeholder="#{oldPassword}" name="oldPassword" th:id="oldPassword" th:field="*{oldPassword}" type="password" value="" maxlength="512" size="512" th:max="512"/>
												</div>
												<div id="oldPasswordErrorContainer">
													<span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="alert-danger">El password anterior es requerido</span>
												</div>												
											</div>
										</div>
									</div>
									<div class="row">	
										<div class="col-md-6">
											<div id="passwordContainer" th:class="${#fields.hasErrors('passwordForm.password')}? 'form-group has-error' : 'form-group'">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fas fa-lock text-black-50"></i>
													</span>
													<input class="form-control" placeholder="Nuevo password" th:placeholder="#{newPassword}" name="passwordForm.password" th:id="passwordForm.password" th:field="*{passwordForm.password}" type="password" value="" maxlength="512" size="512" th:max="512"/>
												</div>
												<!-- <div class="pwstrength_viewport_progress"></div> -->
												<div id="passwordErrorContainer">
													<span th:if="${#fields.hasErrors('passwordForm.password')}" th:errors="*{passwordForm.password}" class="alert-danger">La password es requerida</span>
												</div>
											</div>
										</div>
										<div class="col-md-6">										
											<div id="confirmPasswordContainer" th:class="${#fields.hasErrors('passwordForm.confirmPassword')}? 'form-group has-error' : 'form-group'">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fas fa-lock text-black-50"></i>
													</span>
													<input class="form-control" placeholder="Confirmación de nuevo password" th:placeholder="#{confirmNewpassword}" name="passwordForm.confirmPassword" th:id="passwordForm.confirmPassword" th:field="*{passwordForm.confirmPassword}" type="password" value="" maxlength="512" size="512" th:max="512"/>
												</div>
												<div id="confirmPasswordErrorContainer">							
													<span th:if="${#fields.hasErrors('passwordForm.confirmPassword')}" th:errors="*{passwordForm.confirmPassword}" class="alert-danger">La confirmación del password es requerida</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">									
										<div class="col-md-2 col-md-offset-5">
											<input id="submitButton" name="submitButton" type="button" class="btn btn-lg btn-primary" value="Sign in" th:value="#{updatePassword.submitButton}"/>
										</div>										
									</div>
									<div th:replace="fragments/users/password_validation :: password-validation-fragment"><p></p></div>
								</fieldset>
							</form>
						</div>
						<!-- Mensajes footer -->
						<div th:if="${#strings.equals(reqResult,'error')}">
							<div class="panel-footer ">
								<p class="alert alert-danger" th:text="${resultMsg}"></p>									
							</div>
						</div>
						<!-- End Mensajes footer -->  
					</div>

				</div>
			</div>
			
			<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
					$(document).ready(function() {
						"use strict";
						
						//Función que valida el formulario, previo a su envío
						$("#submitButton").click(function() {
							var errorFound = false;
							var errorMsg = "";
							
							if($("#username").val() == null || $("#username").val().trim().length == 0){
								errorFound = true;
								$("#usernameContainer").addClass("has-error");
								
								errorMsg = '<span class="alert-danger">'+[[#{error.username.required}]]+'</span>';
								$("#usernameErrorContainer").show().html(errorMsg);
							} else {
								$("#usernameContainer").removeClass("has-error");
								$("#usernameErrorContainer").html("").hide();
							}
							
							if($("#oldPassword").val() == null || $("#oldPassword").val().trim().length == 0){
								errorFound = true;
								$("#oldPasswordContainer").addClass("has-error");
								
								errorMsg = '<span class="alert-danger">'+[[#{error.password.oldPasswordRequired}]]+'</span>';
								$("#oldPasswordErrorContainer").show().html(errorMsg);
							} else {
								$("#oldPasswordContainer").removeClass("has-error");
								$("#oldPasswordErrorContainer").html("").hide();
							}
							
							if($("#passwordForm\\.password").val() == null || $("#passwordForm\\.password").val().trim().length == 0){
								errorFound = true;
								$("#passwordContainer").addClass("has-error");
								
								errorMsg = '<span class="alert-danger">'+[[#{error.password.required}]]+'</span>';
								$("#passwordErrorContainer").show().html(errorMsg);
							} else {
								if($("#passwordForm\\.password").val() != $("#passwordForm\\.confirmPassword").val()){
									errorFound = true;
									$("#confirmPasswordContainer").addClass("has-error");
									
									errorMsg = '<span class="alert-danger">'+[[#{error.password.notMatches}]]+'</span>';
									$("#confirmPasswordErrorContainer").show().html(errorMsg);
								} else {
									$("#confirmPasswordContainer").removeClass("has-error");
									$("#confirmPasswordErrorContainer").html("").hide();
								}
							}

							//Si no se han encontrado errores, se efectua el envío del formulario
							if(!errorFound){
								$("#updatePassForm").submit();
							}
							
							return !errorFound;
						});
					});
				/*]]>*/ 
			</script>
     	</div>
        <div th:replace="fragments/base/footer :: footer"><p></p></div>
    </body>
</html>