<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">      
<head>
	<title>Principal</title>
</head>
<body>
	<div id="cuerpo" class="container-fluid" th:fragment="contenido_principal">
		<div class="row">
			<p th:text="contenido_principal"></p>
		</div>
	</div>
</body>
</html>