<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>    
</head>
<body>
<!--panel panel-default-->
	<div class="copyright text-center my-auto" th:fragment="footer">
        <!-- <strong th:text="#{label.copyright}">&copy; 2019 RICOH</strong> -->
        <img src="../../../resources/images/ricoh-hd_logo.png" th:src="@{/resources/images/ricoh-hd_logo.png}" style="margin-left: 20px; margin-top: 5px;" />
    </div>
	<div class="copyright text-center my-auto" th:fragment="footer-main">
    </div>
</body>
</html>

