<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security" >      
	<head th:fragment="main-page">
		<title th:text="#{main.title}">Welcome!</title>
		<link rel="icon" type="image/vnd.microsoft.icon" href="../../../resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="Content-Language" content="es-es" />
		<meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" />
		<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
	    
		
		<!-- Seguridad para peticiones por POST -->
		<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
		<!-- default header name is X-CSRF-TOKEN -->
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		
		<script>
			/*no mostrar mensajes de log en consola*/
			console.info =console.warn = console.error=console.log = function(){
			}
			/* capturar error y no dejar bloqueado el navegador */
			window.onerror = window.onwarning =function(error, url, line) {
				console.log("ERR:"+error+" URL:"+url+" Linea:"+line);
			}
		</script>
		
		<!--  css -->	    
		<link rel="stylesheet" href="../../../resources/css/all.min.css" type="text/css" th:href="@{/resources/css/all.min.css}"/>
		<link rel="stylesheet" href="../../../resources/js/jquery-ui/base/jquery-ui.css"  th:href="@{/resources/js/jquery-ui/base/jquery-ui.css}"/>
	    <link rel="stylesheet" href="../../../resources/css/jstree/theme/style.min.css" th:href="@{/resources/css/jstree/theme/style.min.css}"/>
	    <link rel="stylesheet" href="../../../resources/css/jquery.dataTables.css" type="text/css" th:href="@{/resources/css/jquery.dataTables.css}"/>
		<link rel="stylesheet" href="../../../resources/css/select.dataTables.css" type="text/css" th:href="@{/resources/css/select.dataTables.css}"/>
		<link rel="stylesheet" href="../../../resources/css/bootstrap-datetimepicker.css" type="text/css" th:href="@{./resources/css/bootstrap-datetimepicker.css}"/>	
		<link rel="stylesheet" href="../../../resources/css/buttons.dataTables.min.css" type="text/css" th:href="@{./resources/css/buttons.dataTables.min.css}"/>
		<link rel="stylesheet" href="../../../resources/css/jquery.mCustomScrollbar.min.css" type="text/css" th:href="@{./resources/css/jquery.mCustomScrollbar.min.css}"/>
	    <link rel="stylesheet" href="../../../resources/css/main.css" type="text/css" th:href="@{/resources/css/main.css}"/>
		<link rel="stylesheet" href="../../../resources/css/webscan.css" media="screen" th:href="@{/resources/css/webscan.css}" />
		<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"/>     
	    
		<script src="../../../resources/js/jquery-3.4.1.js" th:src="@{/resources/js/jquery-3.4.1.js}"></script>   
		<th:block sec:authorize="hasAuthority('Digitalization Staff')">
			<!-- only profile digitalizationStaff -->	
			<script sec:authorize="hasAuthority('Digitalization Staff')" th:inline="javascript" src="../../../resources/scanClient/dynamsoft.webtwain.initiate.js" th:src="@{/resources/scanClient/dynamsoft.webtwain.initiate.js}"></script>
			<script sec:authorize="hasAuthority('Digitalization Staff')" th:inline="javascript" src="../../../resources/scanClient/dynamsoft.webtwain.config.js" th:src="@{/resources/scanClient/dynamsoft.webtwain.config.js}"></script>
			<script sec:authorize="hasAuthority('Digitalization Staff')" th:inline="javascript">
				/*<![CDATA[*/
				Dynamsoft.WebTwainEnv.ProductKey = /*[[${#servletContext.getAttribute('scanClientComponent.key')}]]*/
				/*]]>*/	
			</script>
			<!-- only profile digitalizationStaff -->
		</th:block>
		
		<script src="../../../resources/js/bootstrap.bundle.min.js" th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
		<script src="../../../resources/js/jquery-ui/jquery-ui.js" th:src="@{/resources/js/jquery-ui/jquery-ui.js}"></script>
		<script src="../../../resources/js/jquery.dataTables.js" th:src="@{/resources/js/jquery.dataTables.js}"></script>
		<script src="../../../resources/js/jquery.dataTables.js" th:src="@{./resources/js/dataTables.select.js}"></script>
		<script src="../../../resources/js/jstree.js" th:src="@{/resources/js/jstree.js}"></script>
		<script th:src="@{/resources/js/dataTables.rowsGroup.js}"></script>
		<script src="../../../resources/js/form-validator/jquery.form-validator.min.js" th:src="@{/resources/js/form-validator/jquery.form-validator.min.js}"></script>
		<script src="../../../resources/js/moment-with-locales.js" th:src="@{/resources/js/moment-with-locales.js}"></script>
		<script src="../../../resources/js/bootstrap-datetimepicker.js" th:src="@{/resources/js/bootstrap-datetimepicker.js}"></script>
		<script src="../../../resources/js/FileSaver.js" th:src="@{/resources/js/FileSaver.js}"></script>
		<script src="../../../resources/js/jquery.mousewheel.min.js" th:src="@{/resources/js/jquery.mousewheel.min.js}"></script>
		<script src="../../../resources/js/jquery.mCustomScrollbar.min.js" th:src="@{/resources/js/jquery.mCustomScrollbar.min.js}"></script>
		<script src="../../../resources/js/dataTables.responsive.min.js" th:src="@{/resources/js/dataTables.responsive.min.js}"></script>
		<script src="../../../resources/js/webscan.js" th:src="@{/resources/js/webscan.js}"></script>

		
		
		<script type="text/javascript" th:inline="javascript">
			$(function () {
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				$(document).ajaxSend(function(e, xhr, options) {
					xhr.setRequestHeader(header, token);
				});
			});	
			
			function contexto()
			{
				return [[@{/}]];
			}
			
			function tableLanguage()
			{
				var context = [[@{/}]];
				var language = context +/*[[#{label.tabla.language}]]*/;
				return language;
			}
			
			function idLanguage()
			{
				var language = /*[[#{label.language}]]*/;
				return language;
			}
			
			function textAceptar()
			{
				return 	/*[[#{button.Submit}]]*/;			
			}
			
			function textCancel()
			{
				return 	/*[[#{button.Cancel}]]*/;			
			}
	
			
			function tituloInfo(){ return 	/*[[#{message.tituloInfo}]]*/;}
			function tituloWarning(){ return 	/*[[#{message.tituloWarning}]]*/;}
			function tituloError(){ return 	/*[[#{message.tituloError}]]*/;}

			function modalMetadatosRequired(){ return /*[[#{message.modalMetadatosRequired}]]*/;}
			function modalDeleteDocBox(){ return /*[[#{message.modalDeleteDocBox}]]*/; }
			function modalDepositDocBox(){ return 	/*[[#{message.modalDepositDocBox}]]*/;}

			function messageScanTipoDocumental(){ return 	/*[[#{message.messageScanTipoDocumental}]]*/;}			
			function messageScanOutputFormat(){ return 	/*[[#{message.messageScanOutputFormat}]]*/;}			
			function messageScanDevice(){ return 	/*[[#{message.messageScanTipoDevice}]]*/;}			
			function messageScanResolution(){ return 	/*[[#{message.messageScanResolution}]]*/;}						
			function messageScanSpacerDoc(){ return 	/*[[#{message.messageScanSpacerDoc}]]*/;}
			function messageScanTypePixel(){ return 	/*[[#{message.messageScanTypePixel}]]*/;}				
			
			
			function messageBase(titulo, texto)
			{
				if($("#messagePantalla").length>0)
				{
					$("#messagePantalla").html('<center>'+texto+'</center>');
					
					$('#messagePantalla').dialog({
						title: titulo,
						classes: {"ui-dialog": "highlight"},
						dialogClass: "alert",
						height: 'auto',
						width: '750px',
						modal: true,
						//position: { my: "top", at: "top", of: window },
						//draggable: false,
						closeOnEscape:false,
						buttons:[{text:textAceptar(), click: function(){ 
								$( this ).dialog("close");
							} }]
					});				
					
				}
			}	
	
			
			function messageWarning(titulo, texto, callbackSuccess, callbackFailure)
			{
				if($("#messagePantalla").length>0)
				{
					$("#messagePantalla").html('<center>'+texto+'</center>');
					
					$('#messagePantalla').dialog({
						title: titulo,
						classes: {"ui-dialog": "highlight"},
						//dialogClass: {"ui-dialog": "highlight"},
						autoResize: false,
						show: "clip",
						hide: "clip",
						height: 'auto',
						width: 'auto',
						modal: true,
						//position: { my: "top", at: "top", of: window },
						draggable: false,
						buttons:[
							{
								text:textAceptar(), 
								click: function(){ callbackSuccess.call(); $( this ).dialog("close");} 
							},
							{
								text:textCancel(), 
								click: function(){callbackFailure.call(); $( this ).dialog("close");} 
							},
							
						]
					});				
					
				}
			}	

			$( function() {
				//controlamos el return 
				$( "*" ).keydown(function( event ) {
					if ( event.which == 13 ) {
						console.log("Evitado enter");
						event.preventDefault();
					}
				});	
			})			
			
			/*
				args[0]='message.modalDeleteDocBox'
				getTextLanguage(args)
			*/
			
		    function getTextLanguage(args)
			{
				const changeByComa ="%42d";
				//console.log("args:"+args);
				//debugger
				//tratamos los parametros de entrada
				for(i=1;i<args.length;i++) {args[i] = args[i].replaceAll(',',changeByComa);}
				var resultado="";				
				$.ajax({
						url: context + 'getTextLanguage.html',
						async:false,
						type: "POST",
						data: {
							"_csrf":$("input[name='_csrf']").val(),
							"args":""+args
						},
						success: function (html) {
							resultado = html.trim();
							console.log("Respuesta: " + html);
						},
						error : function(e) {
							console.log("No existe la etiqueta. ERROR:");
							console.dir(e);
						},
						complete : function(e) {
							console.log("finalizado");
						}
				});
				return resultado;
			}		

			
			/*funcionalidad modal de espera*/
			function showModalWait(){
				//Dynamsoft.WebTwainEnv.OnWebTwainPreExecute();
				disableScreen();
			}
			
			function hiddenModalWait(){
				//Dynamsoft.WebTwainEnv.OnWebTwainPostExecute();
				enabledScreen()
			}			
			
			
			function disableScreen() {
				var d=[".","/resources/images/loadingCircle2.gif"].join("");
				var c=['<div style="padding-top: 18%;margin:0 auto;width:100px;line-height:300px"><img src="',d,'" /></div>'].join("");
				var div= document.createElement("div");
				div.id ="showModalWaitTime";
				div.className += "overlay";
				div.innerHTML = c;
				document.body.appendChild(div);
			}			
			
			function enabledScreen(){
				$('#showModalWaitTime').remove();
			}	

			function disableScreenAvanzado() {
				var procesando =getTextLanguage(['modal.procesando']);
				var textShow ="Procesando, espere por favor";
				if (procesando!="")
				{
					textShow =procesando;
				}
				var d=[".","/resources/images/loadingCircle2.gif"].join("");
				var c=['<div style="margin-top: 38vh !important;margin-right: auto;margin-bottom: 0px;margin-left: auto;background-color: white;text-align: center;padding-top:20px ;margin:0 auto;width:250px;line-height:50px"><img src="',d,'" /><br><font style="font-size:14px!important;font-weight: bold;" color="black">',textShow,'</font><!--<div id="textContinue" style="font-size: 15px!important;">*</div>-->','</div>'].join("");
				var div= document.createElement("div");
				div.id ="showModalWaitTimeNew";
				div.className += "overlay";
				div.innerHTML = c;
				document.body.appendChild(div);
			}
			
			function enabledScreenAvanzado(){
				$('#showModalWaitTimeNew').remove();
			}
			
		</script>
	</head>
	
	<head th:fragment="main-page-org">
		<title th:text="#{main.title}">Welcome!</title>
		<link rel="icon" type="image/vnd.microsoft.icon" href="../../../resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="Content-Language" content="es-es" />
		<meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" />
		<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
	    
	    
		<link rel="stylesheet" href="../../../resources/css/all.min.css" type="text/css" th:href="@{/resources/css/all.min.css}"/>
	    <link rel="stylesheet" href="../../../resources/js/jquery-ui/base/jquery-ui.css"  th:href="@{/resources/js/jquery-ui/base/jquery-ui.css}"/>
	    <link rel="stylesheet" href="../../../resources/css/jstree/theme/style.min.css" th:href="@{/resources/css/jstree/theme/style.min.css}"/>
	    <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />    
	    <link rel="stylesheet" href="../../../resources/css/webscan.css" media="screen" th:href="@{/resources/css/webscan.css}" />
		<link rel="stylesheet" href="../../../resources/css/main.css" type="text/css" th:href="@{/resources/css/main.css}"/>
		<link rel="stylesheet" href="../../../resources/css/jquery.dataTables.css" type="text/css" th:href="@{/resources/css/jquery.dataTables.css}"/>
	
		<script src="../../../resources/js/jquery-3.4.1.js" th:src="@{/resources/js/jquery-3.4.1.js}"></script>   
		<script src="../../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
		<script src="../../../resources/js/webscan.js" th:src="@{/resources/js/webscan.js}"></script>
		
	</head>

	<head th:fragment="login-password-head (pageTitle)">

		<title th:text="${pageTitle}">Welcome!</title>
		<link rel="icon" type="image/vnd.microsoft.icon" href="../../../resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="Content-Language" content="es-es" />
		<meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" />
		<meta name="viewport" content="width=device-width, maximum-scale=1.0" />

		
		<link rel="stylesheet" href="../../../resources/css/all.min.css" type="text/css" th:href="@{/resources/css/all.min.css}"/>
		<link rel="stylesheet" href="../../../resources/js/jquery-ui/base/jquery-ui.css"  th:href="@{/resources/js/jquery-ui/base/jquery-ui.css}"/>    
    	<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"/>    
    	<link rel="stylesheet" href="../../../resources/css/webscan.css" media="screen" th:href="@{/resources/css/webscan.css}" />
		
		
		<script src="../../../resources/js/jquery-3.4.1.js" th:src="@{/resources/js/jquery-3.4.1.js}"></script>   
		<script src="../../../resources/js/bootstrap.bundle.min.js" th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
		<script src="../../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
	</head>
	
	<head th:fragment="invalid-session-head">

		<title th:text="#{invalidSession.title}">Welcome!</title>
		<link rel="icon" type="image/vnd.microsoft.icon" href="../../../resources/images/favicon.ico" 
		th:href="@{./resources/images/favicon.ico}"/>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="Content-Language" content="es-es" />
		<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
		
		<link rel="stylesheet" href="../../../resources/css/all.min.css" type="text/css" th:href="@{/resources/css/all.min.css}"/>
		<link rel="stylesheet" href="../../../resources/js/jquery-ui/base/jquery-ui.css"  th:href="@{/resources/js/jquery-ui/base/jquery-ui.css}"/>    
    	<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"/>    
    	<link rel="stylesheet" href="../../../resources/css/webscan.css" media="screen" th:href="@{/resources/css/webscan.css}" />
	</head>
<body>
</body>
</html>
