<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body >
	<!-- Fragmento pagina login class="DWTHeader" -->
    <div th:fragment="login-page" class="container-fluid">
    
    
    	<div id="header-left"> 
			<a class="logo-ds" href="./main.html" th:href="@{/main.html}" target="_self"> 
			<img src="../../../resources/images/webscan_logo.png" th:src="@{/resources/images/webscan_logo.png}" style="margin-left: 20px; margin-top: 5px;" />
			</a> <span>&nbsp;</span><img class="img-onlineDemo" src="../../../resources/images/webscanText.png" th:src="@{/resources/images/webscanText.png}" alt="RICOH WebScan"/>
		</div>

       	<div id="header" class="container-fluid">
       		<div class="row">
				<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6"></div>
				<div class="col-xs-6 col-sm-9 col-md-6 col-lg-6">
					<div id="header-right" style:"width=100%">
						<div class="row">
							<div class="col-xs-12 col-sm-9 col-md-10 col-lg-9">
								<div id="languages">
								  <a href="?lang=es" title="Selecciona idioma" th:title="#{label.language.selection}">Bienvenido</a> | 
								  <a href="?lang=en" title="Selecciona idioma" th:title="#{label.language.selection}">Welcome</a>
								</div>
							</div>
						</div>
					</div>				
				</div>	
			</div>
		</div> 		
	
    
	</div>		

	<!-- class="DWTHeader" Fragmento pagina main -->
	<div  th:fragment="app-pages" >
								
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
				$(document).ready(function() {
					"use strict";
					
					$("#logoutLink").click(function() {
						$("#logoutForm").submit();
					});
				
				});
			
				var idUserInSession = [[${session.user.id}]];
				var context = [[@{/}]];					
			
			/*]]>*/ 
	           
				
		</script>
		<form th:action="@{/logout.html}" method="post" th:method="post" id="logoutForm" name="logoutForm">	  			
			</form>
			
		<nav class="navbar navbar-expand navbar-dark bg-light static-top">
<!--  			<button class="btn btn-link btn-sm text-black-50 order-1 order-sm-0" id="menu-toggle" href="#">
	      		<i class="fas fa-bars"></i>
	    	</button> -->
	    	<a class="logo-ds navbar-brand mr-1" href="./main.html" th:href="@{/main.html}" target="_self"> 
				<img src="../../../resources/images/webscan_logo.png" th:src="@{/resources/images/webscan_logo.png}" style="margin-left: 20px; margin-top: 5px;" />
			</a> <span>&nbsp;</span><img class="img-onlineDemo" src="../../../resources/images/webscanText.png" th:src="@{/resources/images/webscanText.png}" alt="RICOH WebScan"/>
			
		<!-- Navbar -->
		    <div class="input-goup  d-md-inline-block ml-auto ">
			   	<th:block th:if="${not #lists.isEmpty(session.user.orgUnitScanProfiles)}" sec:authorize="hasAuthority('Digitalization Staff')">
					<label th:utext="#{label.Profile}">Perfil:</label>
					<select id="profileScan" name="profileScan" >
						<option value="-1" th:text="#{value.NoSelected}">No seleccionado</option>
						<th:block th:each="orgUnitScanProfile,iterStat : ${session.user.orgUnitScanProfiles}">
							<th:block th:each="scanProfile : ${orgUnitScanProfile.scanProfiles}">
							<option 
								th:text="${orgUnitScanProfile.organizationUnit.externalId} + ' / ' + ${scanProfile.name}"
								th:attr="data-org-id=${orgUnitScanProfile.organizationUnit.id}, data-pro-id=${scanProfile.id}">
							</option>
						</th:block>											
					</select>
				</th:block>
			</div>
			<ul class="navbar-nav">
		   		<li class="nav-item">
					<div th:replace="fragments/users/content_headUser :: content"></div>
				</li>
			</ul>
				
	  </nav>

			<div id="modalUserInSession" ></div>
			
			<script type="text/javascript" th:inline="javascript">
			$("#menuScanProcess [name='submenus'] a").prepend('<span class="fas fa-check text-black-50"></span>  ');
			$("#menuScanProcess [name='submenus'] a span").css({"visibility": "hidden"});
	
			$(".dropdown-menu li").on("click", function (event) {
				console.log("Ini Llamada:"+this.dataset.url);
				/*si es un elemento padre si url no hacemos nada*/
				if(this.dataset.url==null) {return false;}
				
				if (this.dataset.orgId !=null)
				{					
					console.log("Param orgId:"+this.dataset.orgId);
					console.log("Param proId:"+this.dataset.proId);
					try{
						RequestLoad(this.dataset.url, "POST",null,  {'orgUnitId': this.dataset.orgId, 'scanProfileId': this.dataset.proId}, "#content");
						//ocultamos todos y habilitamos sólo el seleccionado	
						$("#menuScanProcess [name='submenus'] a span").css({"visibility": "hidden"});
						$(this.getElementsByTagName("span")).css({"visibility": "visible"});
						
					}
					catch(errorMessage)
					{
						console.error(errorMessage.toString());
						$("#menuScanProcess [name='submenus'] a span").css({"visibility": "hidden"});
					}
					
				}
				else
				{
					try{
						RequestLoad(this.dataset.url, "GET", null, null, "#content");
						$("#menuScanProcess [name='submenus'] a span").css({"visibility": "hidden"});
						$("#messagePantalla>center").html("");
					}
					catch(errorMessage)
					{
						console.error(errorMessage.toString());
					}

				}
				
				//evento para recargar el error si cambiamos pantalla
				//recargarMensajes();			
				console.log("Fin Llamada:"+this.dataset.url);
				event.preventDefault();
			});
			/*]]>*/
			

			/*
				Method: Funcion ajax que actualiza un selector pasandole los parametros correspondiente 
				
				Nota: Necesita estar ubicado dentro de un javascript inline de thymeleaf para recuperar el contexto de la llamada
				
				@param vUrl 
					url de la peticion 
				@param vType 
					tipo de peticion : "POST" o "GET"
				@param vForm 
					formato de los parametros vData: 'JSON' u null (para el resto)
				@param vData 
					parametro de datos a enviar, puede ser un objeto, o cualquier tipo o un JSON.
				@param vSelector 
					selector jquery en formato cadena, ejemplo: "#idTabla"
				
			*/
			

				function RequestLoad(vUrl,vType, vForm, vData, vSelector)
				{
					showModalWait();
					var context = [[@{/}]];
					console.log("Llamada realizada:"+context+vUrl);
					//destruimos el scroll previo si existe
					try{
						$("#content").mCustomScrollbar("destroy");
					}
					catch(error){
						
					}
					$.ajax({
					  url: context+vUrl,
	  				  type: vType,
					  data: (vForm == 'JSON') ? JSON.stringify(vData) : vData,
					  success: function(data)
					  {
						$(vSelector).html(data);
						console.log("Actualizamos la pantalla con la información recibida");
				
						
					  }, 
					  error: function (e)
					  {
						console.error("Error:"+e.responseText);
					  },
					  complete:function (){ 
						  recargarMensajes();		
						  console.log("Fin llamada ...");
						  hiddenModalWait();
						  //adaptScreen();
						}
					});
				}
	
				function adaptScreenPartial(screen, adapt){
					if ($(screen).length>0)
					{
						$(screen).css("width", $(screen).css("width").substring(0,$(screen).css("width").indexOf("px"))- adapt);
					}
				}			
				
				function adaptScreen(){
					console.log("Inicio ajuste pantalla");
					$('#content').attr('style', 'margin-top: 22vh !important');
					window.scrollBy(0, -1000); 
					console.log("Fin ajuste pantalla");
				}			
			</script>
		</div>
</body>

</html>