<th:block th:fragment="contentMessages" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<table th:if="${not #lists.isEmpty(session.commonMessages)}" class="table table-condensed">
		<tr th:each="msg : ${session.commonMessages}" >
			<th:block th:switch="${msg.msgLevel.level}">
				<th:block th:if="${msg.msgArgs} == null">
					<div th:case="'INFO'" th:remove="tag"><td class="success tdMessageMain"><span th:utext="#{${msg.msgText}}">Texto del mensaje</span></td><td class="tdMessageAux"><span class="ui-icon ui-icon-circle-close" onclick="ocultarTad(this)"></span></td></div>
					<div th:case="'WARN'" th:remove="tag"><td class="warning tdMessageMain"><span th:utext="#{${msg.msgText}}">Texto del mensaje</span></td><td class="tdMessageAux"><span class="ui-icon ui-icon-circle-close" onclick="ocultarTad(this)"></span></td></div>
					<div th:case="'ERROR'" th:remove="tag"><td class="danger tdMessageMain"><span th:utext="#{${msg.msgText}}">Texto del mensaje</span></td><td class="tdMessageAux"><span class="ui-icon ui-icon-circle-close" onclick="ocultarTad(this)"></span></td></div>
				</th:block>
				<th:block th:if="${msg.msgArgs} != null">
					<div th:case="'INFO'" th:remove="tag"><td class="success tdMessageMain"><span th:utext="#{${msg.msgText}(${#lists.toList(msg.msgArgs)})}">Texto del mensaje</span></td><td class="tdMessageAux"><span class="ui-icon ui-icon-circle-close" onclick="ocultarTad(this)"></span></td></div>
					<div th:case="'WARN'" th:remove="tag"><td  class="warning tdMessageMain"><span th:utext="#{${msg.msgText}(${#lists.toList(msg.msgArgs)})}">Texto del mensaje</span></td><td class="tdMessageAux"><span class="ui-icon ui-icon-circle-close" onclick="ocultarTad(this)"></span></td></div>
					<div th:case="'ERROR'" th:remove="tag"><td  class="danger tdMessageMain"><span th:utext="#{${msg.msgText}(${#lists.toList(msg.msgArgs)})}">Texto del mensaje</span></td><td class="tdMessageAux"><span class="ui-icon ui-icon-circle-close" onclick="ocultarTad(this)"></span></td></div>
				</th:block>
			</th:block>		
		</tr>
	</table>
	<script>
	/*
		Función para controlar el espacio entre la zona de breadcrumb cuando hay o no mensaje, reasigna el espacio a partir del
		cual aparece el contenido principal.
	*/
	function ocultarTad(event){
		$(event).parent().parent().remove();
		console.log("Eliminamos mensaje");
		if ($("#commonMessages table tr").length == 0)
		{
			$("#commonMessages table").remove();
		}
		console.log("Configurado cabecera distancia a "+$("#content").css("top"));
	}
	ocultarTad(null);
	
	$( window ).resize(function() {
		if ($("#cuerpo").length>0)
		{
			$("#cuerpo").css("width", $("#content").css("width").substring(0,$("#content").css("width").indexOf("px"))- 20);
		}
		ocultarTad(null);
	});
		
	</script>	
</th:block>