<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div id="cuerpo" th:fragment="content">
			<div class="row">
				<div class="col-md-4">
					<div th:replace="fragments/admin/content_tree :: contentConf"><p>Arbol</p></div>
					
				</div>
				<div class="col-md-8">
					<div th:replace="fragments/admin/content_tabs :: contentConf"><p>Tabs</p></div>
				</div>
			</div>
	</div>	
</th:block>