<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
      <table id="idTabla" class="display">
			<thead>
				<tr>
					<th></th>
					<th th:utext="#{label.NameUser}">Nombre de Usuario</th>
					<th th:utext="#{label.NameFull}">Nombre Completo</th>
					<th th:utext="#{label.Email}">Direcci&oacute;n de Correo</th>
					<th th:utext="#{label.Action}">Acciones</th>
					<th style="display:none"></th>
				</tr>
			</thead>
			<tbody>
					  <tr th:each="usuario : ${usuarios}">
						 <td ></td>
						 <td th:text="${usuario.username}">Doe</td>
						 <td th:text="${usuario.name}+' '+${usuario.surname}+(${usuario.secondSurname} == null ? '': ' '+${usuario.secondSurname})">John</td>
						 <td th:text="${usuario.email}">john@doe.com</td>
						 <td><a href="#" th:value="${usuario.id}"><span class="ui-icon  ui-icon-pencil"></span></a></td>
						 <td style="display:none" th:text="${usuario.id}"></td>
					  </tr>        
			</tbody>
       </table>
        <div id="idButton" >
			  <button id="linkUser" class="ui-button ui-widget ui-corner-all">
	    			<span class="ui-icon ui-icon-plusthick" ></span>
	    			<span th:utext="#{button.Link}">Vincular</span>
	  		  </button>
	
			  <button id="desLinkUser" class="ui-button ui-widget ui-corner-all">
	    			<span class="ui-icon  ui-icon-closethick"></span> 
	    			<span th:utext="#{button.Unlink}">Desvincular</span>
	  		  </button>
		</div>
		<br>
		<br>
<!-- revisar la idea -->
	<div th:replace="fragments/admin/content_modal :: contentModal">
		<p>Modal</p>
	</div>

		
	<script type="text/javascript" class="init" th:inline="javascript">
		 
		  $( function() {
				
				//enlace a la administración de usuarios			
				$("#idTabla > tbody > tr > td:nth-child(5)").on("click", function (event) {
					$("#content").load(contexto()+'admin/users.html');
					event.preventDefault();
				});			  
			  
				$( "#puser").unbind( "click" );
				  
				$('#puser').click (function (){
					$('#idTabla').DataTable().draw(false);
					console.log("redibujamos la tabla");
				});
			  
				console.log("start idTabla configurada");
				if (tablaInit==null || true)	
				{
					console.log("configurada idTabla");
					tablaInit= $('#idTabla').dataTable( {
							"language": {"url": tableLanguage()},
							"pagingType": "full_numbers",
							"order": [ 2, "desc" ],	
							"initComplete": function(settings, json) {
								console.log("Tabla terminada de cargar tabla usuarios vista unidades organizativas");
								
							},
							"lengthChange": false,
							"scrollY":        "20vh",
							"scrollCollapse": true,	
							columnDefs: [ {
								orderable: false,
								className:'select-checkbox',
								targets:   0
							} ],
							select: {
								style:'os',
								selector: 'td:first-child',
								multi:true
							},
					} );
				}
				console.log("Fin idTabla configurada");
		  
				console.log("Start Cargamos idTablaModal");
			    if (tablaModalSelector==null)
				{
					console.log("Configuramos idTablaModal");
					tablaModalSelector=$('#idTablaModal').DataTable( {
							//scrollY:'600px',
							scrollCollapse: true,
							"language": {"url": tableLanguage()},
							"pagingType": "full_numbers",
							"order": [ 2, "desc" ],	
							"initComplete": function(settings, json) {
								console.log("Tabla terminada de cargar");

							},				
							columnDefs: [ {
								orderable: false,
								className:'select-checkbox',
								targets:   0
							} ],
							select: {
								style:'os',
								selector: 'td:first-child',
								multi:true
							},
							
					} );
				}
				console.log("Fin Cargamos idTablaModal");
				

				$("#linkUser").on("click", function(event){
					$("#bloqueTablaModal").dialog().dialog('open');
					console.log("Mostramos el modal de obtener la info de la tabla");
					event.preventDefault();
				});

				$("#desLinkUser").on("click", function(event){
						//obtenemos los elementos checked
						//console.log(getChecked());
						$("#idTabla").DataTable().rows('.selected').remove().draw(false);
						console.log("Llamar para eliminar el user de la relación con unidad organizativa");	  		
						event.preventDefault();
				});
				
				if ($("#bloqueTablaModal").hasClass("ui-dialog-content") == false){
					$("#bloqueTablaModal").dialog({						
						title: 'Usuarios', 
						height: 700,width: 1000,
						draggable: false,
						autoOpen: false,
						classes: {"ui-dialog": "highlight"},
						dialogClass: "no-close",
						modal : true, 
						closeOnEscape: false,						 
						buttons: [{
									text:textAceptar(),
									click: function(event) {
										//recorremos los seleccionados y revisamos si los tenemos ya incluidos
										//var seleccionadas =tablaModalSelector.rows( { selected: true } ).data();
										var seleccionadas =tablaModalSelector.rows('.selected').data();
										var actuales= $("#idTabla").DataTable().rows().data();
										var encontrado;
										
										for(i=0;i<seleccionadas.length;i++)
										{
											encontrado=false;
											for(ii=0;ii<actuales.length;ii++)
											{
												//usamos para comparar el username ( campo segundo)
												if (seleccionadas[i][1]==actuales[ii][1])
												{
													encontrado=true;
													break;
												}
											
											}
											//si no encontrado
											if (!encontrado)
											{
													$("#idTabla").DataTable().row.add(seleccionadas[i]).draw(false);
													//columna oculta ya que al insertar no podemos indicar que sea oculta
													$("#idTabla").DataTable().column( 5 ).visible( false );
													console.log("Añadimos:");
													console.log(seleccionadas[i])
											}
										}
										
										console.log("Fin seleccion");
										$(this).dialog('close');
										event.preventDefault();
									}
							},
							{
								text: textCancel(),
								click: function(event) {
									$(this).dialog('close');
									event.preventDefault();
								}
							}
							]
					});
				}
		} );


					
	</script>			

	
	
	
</th:block>
<!-- revisar la idea -->


<th:block th:fragment="contentTablesMeta" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	
	<div class="row">
		<div class="col-sm-11" style="float: none;margin: 0 auto;">
				<fieldset class="border p-4">
					<legend  class="p-1">[[#{label.Metadatas}+' ']]
						<button id='addMeta' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-plus'></span></button>
						<button id='modifyMeta' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-pencil'></span></button>
						<button id='removeMeta' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-minus'></span></button>
					</legend>
						<div th:replace="fragments/admin/listDocument :: contentListMeta"><p>metadatos</p></div>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-11" style="float: none;margin: 0 auto;">
				<fieldset class="border p-4">
					<legend  class="p-1">[[#{label.Def.Doc.Father}+' ']]
						<button id='addMetaInherit' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-plus'></span></button>
						<button id='removeMetaInherit' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-minus'></span></button>
					</legend>
						<div th:replace="fragments/admin/listDocument :: contentListMetaInherit"><p>Definiciones de Documentos Padre</p></div>
				</fieldset>
			</div>
		</div>
</th:block>			



					