<th:block th:fragment="contentModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

 <div id="bloqueTablaModal" style="display:none;">     
	<div class="modal-body modal-md" >
			<div class="row">
			  <table id="idTablaModal" class="display" style="cellspacing:0;width:100%;">
					<thead>
						<tr>
							<th></th>
							<th th:utext="#{label.NameUser}">Nombre de Usuario</th>
							<th th:utext="#{label.NameFull}">Nombre Completo</th>
							<th th:utext="#{label.Email}">Direcci&oacute;n de Correo</th>
							<th th:utext="#{label.Action}">Acciones</th>
							<th style="display:none"></th>
						</tr>
					</thead>
					<tbody>
						  <tr th:each="usuario : ${usuariosAll}">
							 <td ></td>
							 <td th:text="${usuario.username}">Doe</td>
							 <td th:text="${usuario.name}+' '+${usuario.surname}+(${usuario.secondSurname} == null ? '': ' '+${usuario.secondSurname})">John</td>
							 <td th:text="${usuario.email}">john@doe.com</td>
							 <td><a href="#" th:value="${usuario.id}"><span class="ui-icon  ui-icon-pencil"></span></a></td>
							 <td style="display:none" th:text="${usuario.id}"></td>
						  </tr>        
					</tbody>
			   </table>
			</div>
			<div class="row" style="height:30px">
			</div>
	</div>
</div>

</th:block>

					
						
<!-- Contenido de la pantalla de documentacion -->

<th:block th:fragment="contentModalDocMeta" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--  Modal -->
 <div id="bloqueModal" style="display:none;">     
		<div class="col-sm-12 col-md-12 modal-body modal-md">

				<form></form>
				<form id="formDocMeta" name="formDocMeta" action="#"  novalidate>
				
					<fieldset class="col-12 col-sm-12 col-md-12 border p-4">
						<legend  class="p-1">[[#{label.New.Metadatas}+' ']]</legend>	
							<div class="row">
								<label class="col-12 col-sm-12 col-md-3 " for="nameMeta" th:utext="#{label.Name}+'*'">Nombre*:</label>
								<input class="col-12 col-sm-12 col-md-9" id="nameMeta" name="nameMeta" maxlength="100"  th:type="text" size="60" th:max="100" type="text" th:placeholder="#{label.Name}" required="required"/>
							</div>	
							
							<div class="row" style="height:10px"></div>
							
							<div class="row">
								<label class="col-12 col-sm-12 col-md-3" for="metaDesc" th:utext="#{label.Description}+'*'">Descripcion*:</label>
								<textarea class="col-12 col-sm-12 col-md-9" id="metaDesc" rows="4" cols="60" maxlength="256" name="metaDesc"  th:placeholder="#{label.Description}" required="required"></textarea>
							</div>
	
							<div class="row" style="height:10px"></div>
	
							
							<div class="row">
								<label class="col-12 col-sm-4 col-md-3" for="metaEdit" th:utext="#{label.Editable}">Edit:</label>
								<input class="col-12 col-sm-4 col-md-1" id="metaEdit" name="metaEdit" th:type="checkbox" />
							</div>
	
							<div class="row" style="height:10px"></div>
	
							<div class="row">
								<label class="col-12 col-sm-4 col-md-3" for="metaReq" th:utext="#{label.Required}">Requerido:</label>
								<input class="col-12 col-sm-4 col-md-1" id="metaReq" name="metaReq" th:type="checkbox" />
							</div>
	
							<div class="row" style="height:10px"></div>
	
							<div class="row">
								<label class="col-12 col-sm-4 col-md-3" for="metaReq" th:utext="#{label.includedInBatchSpacer}">Incorporable a car&aacute;tula:</label>
								<input class="col-12 col-sm-4 col-md-1" id="metaCover" name="metaCover" th:type="checkbox" />
							</div>
	
							<div class="row" style="height:10px"></div>
	
							<div class="row">
								<label class="col-12 col-sm-12 col-md-3" for="metaVal" th:utext="#{label.Value.Def}">Valor por defecto:</label>
								<input class="col-12 col-sm-12 col-md-9" id="metaVal" th:type="text" name="metaVal" th:size="100" th:rows="2" th:max="256" th:placeholder="#{label.Value.Def}" />
							</div>
	
							<div class="row" style="height:10px"></div>
							
							<div class="row">
								<label class="col-12 col-sm-12 col-md-3" for="metaList" th:utext="#{label.ListValue}">Listado de Valores:</label>
								<fieldset class="col-12 col-sm-12 col-md-9 border p-4">
									<legend  class="p-1">	
										<button id='listValNew' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-plus'></span></button>
										<button id='listValDel' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-minus'></span></button>
										<button id='listValUpload' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-script'></span></button>
									</legend>
									<input type="file" id="fileScript" name="ficheroScript" size="chars" onchange='javascript:openFile(event)'/>
									<table id="idTableListValue" class="display" >
										<thead>
											<tr>
											  <th>[[#{label.Key}]]</th>
											  <th>[[#{label.Value}]]</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</fieldset> 				
							</div>							
					</fieldset> 
				</form>
				<div class="row" style="height:5px"></div>

		</div>	
</div>
<!--
style visual type file
-->
<style>
#fileScript {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}
</style>


 <div id="modalListValue" style="display:none;">     
	<div class="modal-body modal-md" >
		<fieldset class="border p-4">
			<legend  class="p-1">[[#{label.Value}+' ']]	
			</legend>
			<table id="idModalTableListValue" class="display" style="width:100%">
				<thead>
					<tr>
					  <th class="col-md-2">[[#{label.Key}]]</th>
					  <th class="col-md-10">[[#{label.Value}]]</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</fieldset> 				
	</div>
<script>
	//rellenamos la tabla con la informacion obtenida de la vista en JSON	
	console.log("Mostramos modal");
	$('#idModalTableListValue').dataTable( {
		"pageLength": 5,
		"width":"100%",
		"language": {"url": tableLanguage()},
		"pagingType": "full_numbers",
		"order": [ 1, "desc" ],	
		"initComplete": function(settings, json) {
			console.log("Tabla terminada de cargar modal");
		},
		"lengthChange": true,
		"scrollY":        "20vh",
		"scrollCollapse": true	
	} );	
</script>
	
</div>
<!--  Fin Modales -->
<script src="../../../resources/js/table-edits.min.js" th:src="@{/resources/js/table-edits.min.js}"></script>
<script>

//funcion para leer el fichero de configuracion de metadatos
var openFile = function(event) {
	console.log("lanzamos el modal de lectura de fichero");
	var input = event.target;
	var reader = new FileReader();
	reader.onload = function(){
		//recuperamos el resultado
		var json = reader.result;
		//validamos la informacion
		try{
			var aux = JSON.parse(json);
		}
		catch(e)
		{
			alert("Error al parsear la información recibida");
			console.log("Error parseo info:"+aux);
			return false;
		}
		
		var confirmar =  confirm("Esta seguro que desear eliminar los valores ya existente?");
		if (confirmar ==true )
		{
			$('#idTableListValue').DataTable().rows().remove().draw(false);
		}
		cargarDatosListValue(json)
		console.log("Metadatos recibido:"+reader.result.substring(0, 200));
		
	};
	reader.readAsText(input.files[0]);
};


function cargarDatosListValue(jsonValue)
{
	console.log("cargarDatosListValue start");
	try{	

		//rellenamos la tabla con la info que nos pasa
		if (jsonValue!=null && jsonValue!="")
		{
			var listValores = JSON.parse(jsonValue);
			console.log("Listado de Valores a cargar:");
			console.dir(listValores);
		
			//comprobar que la info añadir es correcta


		
			//recorremos la lista de valores y los añadimos a la tabla
			var jRow;
			for (i=0;i<listValores.length;i++)
			{
				jRow = $("<tr>").append("<td data-field='key'>"+listValores[i].key+"</td>", "<td data-field='value'>"+listValores[i].value+"</td>");
				console.log(jRow);
				$('#idTableListValue').DataTable().row.add(jRow).draw(false);
			}
			
		}
		
	}
	catch(e)
	{
		alert("Se ha producido un error al cargar el fichero, compruebe los datos incluidos");
	}
	finally
	{
		//limpiamos la info del fichero a cargar
		$('#fileScript').val("");
	}
	console.log("cargarDatosListValue end");
}






$( function() {
	$('#listValUpload').click(function(event){
		$('#fileScript').click();
		event.preventDefault();
	});
	
	
	$('#idTableListValue').DataTable( {
		"language": {"url": tableLanguage()},
		"order": [ 0, "desc" ],	
		"initComplete": function(settings, json) {
			console.log("Tabla terminada de cargar modal");
			refreshTable();
		},
		"lengthChange": false,
		"scrollY":        "30vh",
		"scrollCollapse": true,	
		"paging": true,
		"searching":false,
		select: {
			style:'os',
			selector: 'tr',
			multi:true
		},		
	});	
	
	$('#listValNew').click(function(event)
	{
		anyadirRow();
		event.preventDefault();
	}
	);

	$('#listValDel').click(function(event)
	{
		deleteRow();
		event.preventDefault();
	}
	);
});

function refreshTable()
{
$('#idTableListValue').DataTable().draw(false);
}

function editableTabla()
{
$('#idTableListValue>tbody>tr').editable({
	keyboard: true,
	dblclick: true,
	maintainWidth: true	
});
}

function anyadirRow()
{
	//creamos nueva fila
	var jRow = $("<tr>").append("<td data-field='key'></td>", "<td data-field='value'></td>");
	$('#idTableListValue').DataTable().row.add(jRow).draw(false);
	//$('#idTableListValue').DataTable().order([0, 'asc']).draw();
	editableTabla();
	console.log("Añadimos nueva fila");
	//pulsamos nueva fila
	$("#idTableListValue>tbody>tr:last").dblclick();
}

function deleteRow()
{
	console.log("Se val eliminar las siguientes rows:");
	console.dir($('#idTableListValue').DataTable().rows( { selected: true } ));
	$('#idTableListValue').DataTable().rows('.selected' ).remove().draw();
	$('#idTableListValue').DataTable().draw(false);
	//$('#idTableListValue').DataTable().order([0, 'desc']).draw();
	console.log("Elimanmos la info previamente seleccionada");
	$("#idTableListValue>tbody>tr:first").dblclick();
}


</script>
</th:block>		
<th:block th:fragment="contentTablesMeta" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<fieldset class="border p-4">
			<legend  class="p-1">[[#{label.Metadatas}+' ']]
				<button id='addMeta' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-plus'></span></button>
				<button id='modifyMeta' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-pencil'></span></button>
				<button id='removeMeta' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-minus'></span></button>
			</legend>
			
				<div th:replace="fragments/admin/listDocument :: contentListMeta"><p>metadatos</p></div>
				
		</fieldset>
		<fieldset class="border p-4">
			<legend  class="p-1">[[#{label.Def.Doc.Father}+' ']]
				<button id='addMetaInherit' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-plus'></span></button>
				<button id='removeMetaInherit' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-minus'></span></button>
			</legend>
			
				<div th:replace="fragments/admin/listDocument :: contentListMetaInherit"><p>Definiciones de Documentos Padre</p></div>
				
		</fieldset>
</th:block>			



<th:block th:fragment="contentTableDocBox" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<style>
	.botonBox
	{
		float:right;
	}
</style>
<div class="row">
	<div class="col-md-12">
      <table id="idTabla" class="display">
			<thead>
				<tr>
					<th></th>
					<th th:utext="#{label.Document}">Documento</th>
					<th th:utext="#{label.Process}">Proceso</th>
					<th th:utext="#{label.ScanDate}">Fecha captura</th>
					<th th:utext="#{label.ScanUser}">Usuario captura</th>
					<th th:utext="#{label.Status}">Estado</th>
					<th th:utext="#{label.Action}">Acciones</th>
					<th style="display:none"></th>
				</tr>
			</thead>
			<tbody>
					  <tr th:each="docBox : ${listDocBox}">
						 <td ></td>
						 <td th:text="${docBox.document}"></td>
						 <td th:text="${docBox.lote}"></td>
						 <td th:text="${docBox.scanDate}"></td>
						 <td th:text="${docBox.scanUser}"></td>
						 <td th:text="${docBox.status}"></td>
						 <td><a href="#"><span class="fas fa-search text-black-50" aria-hidden="true"></span></a><a href="#" ><span class="ui-icon  ui-icon-pencil"></span></a></td>
						 <td style="display:none" th:text="${usuario.id}"></td>
					  </tr>        
			</tbody>
       </table>
	</div>
</div>
<div class="row">
	<div class="col-md-12" style="height:20px">
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	   <div id="idButtons" class="botonBox" >
			  <button id="putButton" class="ui-button ui-widget ui-corner-all">
	    			<span th:utext="#{button.Put}">Depositar</span>
	  		  </button>
	
			  <button id="desLinkUser" class="ui-button ui-widget ui-corner-all">
	    			<span th:utext="#{button.Restart}">Reanudar</span>
	  		  </button>

			  <button id="desLinkUser" class="ui-button ui-widget ui-corner-all">
	    			<span th:utext="#{button.Remove}">Eliminar</span>
	  		  </button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12" style="height:20px">
	</div>
</div>
		
<script>
	
	var tableDocBox= $('#idTabla').dataTable( {
		"language": {"url": tableLanguage()},
		"pagingType": "full_numbers",
		"order": [ 2, "desc" ],	
		"initComplete": function(settings, json) {
			console.log("Tabla terminada de cargar tabla usuarios vista unidades organizativas");
			
		},
		"lengthChange": true,
		"scrollY":        "20vh",
		"scrollCollapse": true,	
		columnDefs: [ {
			orderable: false,
			className:'select-checkbox',
			targets:   0
		} ],
		select: {
			style:'os',
			selector: 'td:first-child',
			multi:true
		},
	} );
	
</script>		
		
</th:block>		


