<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<div class="col-sm-11" style="float: none;margin: 0 auto;">
		<div class="row">
			<div class="col-md-12">
				<label th:utext="#{label.Denomination}+'*'">Denominación*:</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<input id="nombreDoc" type="text" style="width: 100%" />
			</div>
			<div class="col-md-4">
				<label th:utext="#{label.Active}">Activo:</label><input
					id="activoDoc" type="checkbox" /> <input type="hidden"
					id="propagacion" value="false">
			</div>
		</div>
		<div class="row" style="height: 10px;"></div>
		<div class="row">
			<div class="col-md-8">
				<label th:utext="#{label.Description}+'*'">Descripci&oacute;n*:</label>
				<textarea id="descripDoc" rows="3" style="min-width: 100%" maxlength="256"></textarea>
			</div>
			<div class="col-md-4" style="height: 15px;">
				<label th:utext="#{label.idBatchDoc}">Metadato identificador
					lotes de documentos:</label>
				<select id="idBatchDoc">
					<option value="-1" th:utext="#{label.select}">Sel. Opt.</option>
					<option th:each="idMetaAux : ${listMeta}"
						th:utext="${idMetaAux.name}" th:value="${idMetaAux.id}"
						th:selected="${idMetaAux.isBatchId)"></option>
				</select>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="row" style="height: 20px;"></div>

		<div id="idTableMeta">
			<div th:replace="fragments/admin/content_tabla :: contentTablesMeta">
				<p>Tablas Meta</p>
			</div>
		</div>

		<!-- Modal -->
		<div id="idDivModalMeta" style="display: none"
			th:insert="fragments/admin/content_modal :: contentModalDocMeta">
		</div>

		<div id="idDivModalMetaInher">
			<!-- style="display:none" th:insert="fragments/admin/tablaModalDocument :: contentModalDocMetaInher">-->
		</div>
		<!-- Fin Modal -->

		<!-- BOTONES COMUNES -->
		<div id="idButton" style="margin: 5px; float: right">
			<button id="saveDoc" class="ui-button ui-widget ui-corner-all">
				<span class="ui-icon ui-icon-disk" th:utext="#{button.Save}"></span>
				Guardar
			</button>

			<button id="cancelDoc" class="ui-button ui-widget ui-corner-all">
				<span class="ui-icon ui-icon-cancel" th:utext="#{button.Cancel}"></span>
				Cancelar
			</button>
		</div>
	</div>
	
	<script>
		//botones de salvar y cancelar}
		$('#saveDoc').on("click", function(event) {			
			console.log("Iniciamos saveDoc");
			varSaveDoc.call();
			console.log("Fin saveDoc");
			event.preventDefault();
		});

		$('#cancelDoc').on("click", function(event) {			
			console.log("Iniciamos cancelDoc");
			varCancelDoc.call();
			console.log("Fin cancelDoc");
			event.preventDefault();
		});
	</script>

</th:block>