<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--<div id="divTablaPerfil" class="row"> <!-- Perfiles de Digitalización: Definiciones -->
	<fieldset  class="border p-4">
		<legend  class="p-1" th:utext="#{label.ScanProcess}">Procesos de digitalizaci&oacute;n</legend>	
			<table id="idTablaPerfil" class="display">
				<thead>
					<tr>
						<th th:utext="#{label.Denomination}">Denominaci&oacute;n</th>
						<th th:utext="#{label.Description}">Descripci&oacute;n</th>
						<th th:utext="#{label.ScanStages}">Fases</th>
					</tr>
				</thead>
				<tbody>
						  <tr th:each="perfil : ${specifications}" th:attr="data-row=${perfil.idSuper}" >
							 <td th:attr="data-name=${perfil.name}" th:text="${perfil.name}">Definicion Perfil 1</td>
							 <td th:attr="data-description=${perfil.description}" th:text="${perfil.description}">Descripci&oacute;n</td>
							 <td th:text="${perfil.listSpecificationPlugin}">Fase1-Fase2</td>
						  </tr>        
				</tbody>
			</table>
	</fieldset>
<!--</div>-->
<div class="row" style="height: 20px;"></div>
<!--<div id="divTablaConfiguraciones" class="row"> <!-- Perfiles de Digitalización: Configuraciones -->   
	<fieldset  class="border p-4">
		<legend  class="p-1">[[#{label.ScanModels}+' ']]
		<button id='addConfig' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-plus'></span></button>
		<button id='modifyConfig' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-pencil'></span></button>
		<button id='removeConfig' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-minus'></span></button>
		</legend>	
			<div id="idDivTablaConfiguraciones">
				<div  th:replace="fragments/admin/profiles :: content"><p>Configuraciones</p></div>
			</div>
	</fieldset>
<!--</div>-->      

<div class="row" style="height: 20px;"></div>
      
<!--<div id="divPerfiles" class="row">   <!-- Perfiles de Digitalización: Perfil -->     
	<fieldset class="border p-4">
		<legend  class="p-1" th:utext="#{label.ScanModel}">Plantilla de Digitalizaci&oacute;n</legend>		
			<div   class="row">
				<div class="col-md-10">
					<label th:utext="#{label.Denomination}+'*'">Denominación*:</label>
				</div>	
				<div class="col-md-2">
				</div>
			</div>

			<div class="row">		
				<div class="col-md-10">
					<input id="denominPerfil" type="text" style="width: 100%"/>		
				</div>
				<div class="col-md-2">
					<label th:utext="#{label.Active}">Activo:</label><input id="activoPerfil" type="checkbox"/>
					<input type="hidden" id="propagacion" value="false">
				</div>
			</div>

			<div class="row" style="height: 5px;"></div>

			<div class="row">
				<div class="col-md-12">
					<label th:utext="#{label.Description}+'*'">Descripci&oacute;n*:</label>
					<input id="descripPerfil" type="text" style="width: 100%"/>		
				</div>
			</div>

			<div class="row" style="height: 10px;"></div>
				
			<div id="idTablaConfiguraciones" class="row">
				<fieldset class="border p-4">
					<legend class="p-1" th:utext="#{label.ScanProfiles}">Perfiles de Digitalizaci&oacute;n</legend>
						<div th:replace="fragments/admin/content_pConfig :: content"><p>cuerpo del perfil</p></div>
				</fieldset>
			</div>
			<!--
			<div class="row" style="height: 20px;">       
			</div>       
			-->
			<div id="botonesPagina">
			   <div id="idButtonPage" >
				  <button id="save" class="ui-button ui-widget ui-corner-all">
						<span class="ui-icon ui-icon-disk" ></span>
						<span th:utext="#{button.Save}">Guardar</span>
					  </button>

				  <button id="cancel" class="ui-button ui-widget ui-corner-all">
						<span class="ui-icon  ui-icon-closethick"></span> 
						<span th:utext="#{button.Cancel}">Cancelar</span>
					  </button>
				</div>
			</div>
	</fieldset>	
<!--</div>-->

	
</th:block>


					
					