<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="row idTablaListDocumentRow" >
	<div class="col-md-12">					
		<table id="idTablaListDocument" class="display" style="width:95%">
			<thead>
				<tr>
					<th></th>
					<th th:utext="#{label.Denomination}">Denominaci&oacute;n</th>
					<th th:utext="#{label.Description}">Descripci&oacute;n</th>
					<th th:utext="#{label.Active}">Activo</th>
					<th th:utext="#{label.Actions}">Acciones</th>
				</tr>
			</thead>
			<tbody>
					  <tr th:each="document : ${documents}" th:attr="data-url=${document.idSuper}">
						 <td></td>
						 <td th:text="${document.name}">Doe</td>
						 <td th:text="${document.description}">John</td>
						 <td >
						 	<input type="checkbox" th:checked="${document.active}"/>
						 	<a th:attr="data-id=${document.idSuper}, href='javascript:RequestLoad(\'admin/typesDocuments.html\', \'POST\',null, {\'documentSelect\':\''+${document.name}+'\'}, \'#content\');'">
								<span class="ui-icon ui-icon-pencil"></span>
							</a>
						 </td>
						 <td  th:name="linkDoc">
							<a th:attr="data-id=${document.idSuper}, href='javascript:RequestLoad(\'admin/typesDocuments.html\', \'POST\',null, {\'documentSelect\':\''+${document.name}+'\'}, \'#content\');'">
								<span class="ui-icon ui-icon-pencil"></span>
							</a>
						</td>									 
					  </tr>        
			</tbody>
		   </table>
	</div>	   
</div>
<div class="row" style="height:10px">
</div>
<div class="row" style="text-align:center">
	<div id="idButtonDoc" >
		  <button id="linkDoc" class="ui-button ui-widget ui-corner-all">
				<span class="ui-icon ui-icon-plusthick" ></span>
				<span th:utext="#{button.Link}">Vincular</span>
		  </button>

		  <button id="unLinkDoc" class="ui-button ui-widget ui-corner-all">
				<span class="ui-icon  ui-icon-closethick"></span> 
				<span th:utext="#{button.Unlink}">Desvincular</span>
		  </button>
	</div>
</div>


<!--  Modal -->
 <div id="bloqueTablaModal" style="display:none;">     
	<div class="modal-body modal-md" >
				  
		  <table id="idTablaModal" class="display" >
			<thead>
				<tr>
					<th></th>
					<th th:utext="#{label.Denomination}">Denominaci&oacute;n</th>
					<th th:utext="#{label.Description}">Descripci&oacute;n</th>
					<th th:utext="#{label.Active}">Activo</th>
					<th style="display:none;"></th>
				</tr>
			</thead>
			<tbody>
					  <tr th:each="document : ${documentsAll}" th:attr="data-url=${document.id}">
						 <td></td>
						 <td id="nameDocM" th:text="${document.name}">Doe</td>
						 <td id="descDocM" th:text="${document.description}">John</td>
						 <td id="actDocM"><input type="checkbox" th:checked="${document.active}" disabled/></td>
						 <!--
							<td id="linkDocM" th:attr="data-id=${document.id}" style="display:none;"><a href="#" data-id="[[${document.id}]]"><span th:attr="data-id=${document.id}" class="ui-icon ui-icon-pencil"></span></a></td>									 
						 -->
					  </tr>        
			</tbody>
		   </table>
			<div class="row" style="height:30px">
		</div>
	</div>
</div>
<!--  Fin Modal -->

<script type="text/javascript" th:inline="javascript">
var tablaModalSelector=null;
var tablaInit=null;
var tablaPlugin = null;
$( function() {
	
	
	console.log("start idTabla configurada");
	tablaInit= $('#idTablaListDocument').dataTable( {
			//scrollY:"50vh",
			//scrollCollapse: true,
			"language": {"url": tableLanguage()},
			"pagingType": "full_numbers",
			"order": [ 2, "desc" ],	
			"initComplete": function(settings, json) {
				console.log("Tabla terminada de cargar");

			},
			"lengthChange": false,
			"scrollY":        "24vh",
			"scrollCollapse": true,				
			columnDefs: [ {
				orderable: false,
				className:'select-checkbox',
				targets:   0
			},{
				className: 'control',
				orderable: false,
				targets:   -1
			} ],
			select: {
				style:'os',
				selector: 'td:first-child',
				multi:true
			},
			responsive: {
				details: {
					type: 'column',
					target: -1
				}
			}			
	} );
	console.log("Fin idTabla configurada");
	
	console.log("Start Borramos el modal");
	//$('div.ui-dialog').not(':first').remove();
	$('div.ui-dialog').remove();
	console.log("End Borramos el modal");

	
	$("#linkDoc").on("click", function(event){
		$('#idTablaModal').parent().load (contexto()+'admin/listDocuments.html', function()
		{
			
			/*width: "700px",
			height: "auto",
			draggable: true,
			classes: {"ui-dialog": "highlight"},
			dialogClass: "no-close",
			modal : true, closeOnEscape: false,						 
			buttons:buttonArray */
				$("#bloqueTablaModal").dialog({
				//'Documentos',
				title: /*[[#{label.Documents}]]*/,
				autoOpen: false,
				width: "700px",
				height: "auto",				
				draggable: false,
				classes: {"ui-dialog": "highlight"},
				dialogClass: "no-close",
				modal : true, 
				closeOnEscape: false,						 
				buttons: [{
								text:textAceptar(),
								click: function(event) {
										//recorremos los seleccionados y revisamos si los tenemos ya incluidos
										var seleccionadas =tablaModalSelector.rows('.selected').data();
										var actuales= $("#idTablaListDocument").DataTable().rows().data();
										var encontrado;
										
										for(i=0;i<seleccionadas.length;i++)
										{
											encontrado=false;
											for(ii=0;ii<actuales.length;ii++)
											{
												//usamos para comparar el username ( campo segundo)
												if (seleccionadas[i][1]==actuales[ii][1])
												{
													encontrado=true;
													break;
												}
											
											}
											//si no encontrado
											if (!encontrado)
											{
													$("#idTablaListDocument").DataTable().row.add(seleccionadas[i]).draw(false);
													console.log("Añadimos:");
													console.log(seleccionadas[i])
											}
										}
										
										//var hola =$("#idTablaModal").DataTable();
										console.log("Fin seleccion");
										$(this).dialog('close');
										//aplicamos el centrado a los nuevos campos añadidos
										$('#idTablaListDocument tr td').css({'text-align':'center'});
										event.preventDefault();
									}
						},
						{
							text:textCancel(),
							click: function(event) {
								$(this).dialog('close');
								event.preventDefault();
							}
						}
				],
				close: function(event, ui) 
				{ 
					$(this).dialog('close');
				} 
		}).dialog('open');
		});
		console.log("Mostramos el modal de obtener la info de la tabla");
		event.preventDefault();
	});

	$("#unLinkDoc").on("click", function(event){
		/* 
			var docSpecSelect =$($("#idTablaListDocument").DataTable().rows('.selected').data()[0][4]).attr('data-id');
			var scanProfileSelect =$($("#idTablaConfiguraciones").DataTable().rows('.selected').nodes()[0]).attr('data-row');
			var orgUnit = $("#tree").jstree().get_selected()[0];
			checkHasDocInFly(docSpecSelect,scanProfileSelect,orgUnit);
		*/
		
		$("#idTablaListDocument").DataTable().rows('.selected').remove().draw(false);
		console.log("Llamar para eliminar el user de la relación con unidad organizativa");	  		
		event.preventDefault();
	});
	
	function checkHasDocInFly(docSpec, scanProfile, orgUnit)
	{
		$.ajax({
			url:contexto()+'admin/checkHasDocInFly.html',
			type:'POST',
			data:{	
				'_csrf':$("input[name='_csrf']").val(),
				'docSpecId':docSpec,
				'scanProfileId':scanProfile,
				'orgUnitId':orgUnit
				
			},success: function(res){
				$("#idTablaListDocument").DataTable().rows('.selected').remove().draw(false);		
				console.log("Obtenida respuesta del servidor");
			},
			error:function (res){
				console.log("Obtenida respuesta del servidor");
			},complete:function(){
				recargarMensajes();
				console.log("checkHasDocInFly: Terminada llamada");
			}
		});	
	}
	
});
</script>
</th:block>	



<th:block th:fragment="contentList" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="row idTablaListDocumentRow" >
	<div class="col-sm-11" style="float: none;margin: 0 auto;">															
		<table id="idTablaListDocument" class="display" style="width:100%">
			<thead>
				<tr>
					<th></th>
					<th th:utext="#{label.Name}">Nombre</th>
					<th th:utext="#{label.Description}">Descripci&oacute;n</th>
					<th th:utext="#{label.Active}">Activo</th>
				</tr>
			</thead>
			<tbody>
					  <tr th:each="document : ${listDocuments}" th:attr="data-url=${document.id}">
						 <td th:attr="data-id=${document.id}"></td>
						 <td th:text="${document.name}">Doe</td>
						 <td th:text="${document.description}">John</td>
						 <td ><input type="checkbox" th:checked="${document.active}" disabled/></td>
					  </tr>        
			</tbody>
	   </table>
	 </div>		
</div>
<div class="row" style="height:10px">
</div>
<script type="text/javascript" th:inline="javascript">
jQuery.fn.dataTable.Api.register( 'page.jumpToData()', function ( data, column ) {
	var pos = this.column(column, {order:'current'}).data().indexOf( data );

	if ( pos >= 0 ) {
		var page = Math.floor( pos / this.page.info().length );
		this.page( page ).draw( false );
	}

	return this;
} );

console.log("Definimos variables tabla documentos");
var tablaInit=null;
//obtenemos el elemento seleccionado en su caso
/*<![CDATA[*/
var docSelectSpec =[[${documentSelect}]];
/*]]>*/


$( function() {
	console.log("Recargamos la información de los mensajes de la pantalla");
	recargarMensajes();	
	console.log("Recargamos la información de los mensajes de la pantalla");
	
	setTimeout(initialTable, 1000);
	
	function initialTable(){	
		console.log("start idTabla configurada");
		tablaInit= $('#idTablaListDocument').dataTable( {
				"language": {"url": tableLanguage()},
				"pagingType": "full_numbers",
				"order": [ 2, "desc" ],	
				"initComplete": function(settings, json) {
					console.log("Tabla terminada de cargar");
					tablaInit.fnPageChange(Number(ultimaPagina));
					seleccionarDoc();
				},
				"lengthChange": false,
				"scrollY":        "20vh",
				"scrollCollapse": true,			
				columnDefs: [ {
					orderable: false,
					className:'select-checkbox',
					targets:   0
				} ],
				select: {
					style:'os',
					selector: 'td:first-child',
					multi:true
				},
		} );
		console.log("Fin idTabla configurada");	
	}
	
	function seleccionarDoc()
	{
		
		//seleccionamos el documento activo
		
		if (docSelectSpec!="")
		{
			console.log("Verificamos si existe algun documento seleccionado");
			var table = $('#idTablaListDocument').DataTable();
			//seleccionamos la pagina
			table.page.jumpToData(docSelectSpec,1);
			//clickeamos la selección
			var seleccionar;
			$('#idTablaListDocument>tbody>tr>td:nth-child(2)').each(function()
			{
			  if ($(this).html()==docSelectSpec)
			  {
				  console.log($(this).html());
				  seleccionar = $(this);
				  console.log("Encontrado elemento a seleccionar");
				  return true;
			  }
			});
			if (seleccionar!=null)	
			{
				seleccionar.click();
				console.log("Clickeamos el elemento");
			}
			console.log("Fin de seleccion de documento seleccionado");
		
		}
	}	
	
	
	
	
	
});

</script>
</th:block>	




<th:block th:fragment="contentListMeta" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="row idTablaListMetaRow" >
<div class="col-sm-11" style="float: none;margin: 0 auto;">
	<table id="idTablaListMeta" class="display">
		<thead>
			<tr>
				<th></th>
				<th th:utext="#{label.Name}">Nombre</th>
				<th th:utext="#{label.Description}">Descripci&oacute;n</th>
				<th th:utext="#{label.Edit}">Editable</th>
				<th th:utext="#{label.Required}">Requerido</th>
				<th th:utext="#{label.Cover}">Caratulas</th>
				<th th:utext="#{label.Value.Def}">Valor por Defecto</th>
				<th th:utext="#{label.ListValue}">Lista de Valores</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
				  <tr th:each="meta : ${listMeta}" th:attr="data-url=${meta.id}">
					 <td th:attr="data-id=${meta.id}"></td>
					 <td th:text="${meta.name}">Doe</td>
					 <td th:text="${meta.description}">John</td>
					 <td ><input type="checkbox" th:checked="${meta.editable}" disabled/></td>
					 <td ><input type="checkbox" th:checked="${meta.mandatory}" disabled/></td>
					 <td ><input type="checkbox" th:checked="${meta.includeInBatchSeprator}" disabled/></td>
					 <td th:utext="${meta.defaultValue}">John</td>
					 <td style="text-align:center">
						<input type="hidden" th:id="|listVal${meta.id}|" th:value="${meta.sourceValues}">
						<a th:href="|javascript:modalListValue('listVal${meta.id}')|"><span class="fas fa-search text-black-50" aria-hidden="true"></span></a>
					 </td>
					 <td></td>
				  </tr>        
		</tbody>
	   </table>
	</div>	   
</div>
<div class="row" style="height:10px">
</div>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	var selectIniList=/*[[${listMeta}]]*/;
/*]]>*/
var selectIni=null;
function selectIniFunction()
{
	if(selectIniList!=null)
	{
		for(a=0;a<selectIniList.length;a++)
		{
			if(selectIniList[a].isBatchId=="1")
			{
				console.log("seleccionado el valor:"+selectIni);
				selectIni =selectIniList[a].id;
				break;
			}
		}
	}
}

	
console.log("modalListValue");
function modalListValue(identificative)
{
	//limpiamos las busquedas
	$('#idModalTableListValue').DataTable().search( '' ).columns().search('' ).draw();
	//obtenemos el valor del campo oculto
	var valueActual = $("input[id='"+identificative+"']").val();
	console.log("Valor recibidido:");
	createModalListValue(valueActual);
	console.log("Fin mostrar valor modal");
}

var tablaMeta=null;
$( function() {
	
	console.log("start idTablaListMeta configurada");
	tablaMeta= $('#idTablaListMeta').dataTable( {
			"pageLength": 5,
			"language": {"url": tableLanguage()},
			"pagingType": "full_numbers",
			"order": [ 2, "desc" ],	
			"initComplete": function(settings, json) {
				console.log("Tabla terminada de cargar");
			},
			"lengthChange": false,
			"scrollY":        "20vh",
			"scrollCollapse": true,	
			columnDefs: [ {
				orderable: false,
				className:'select-checkbox',
				targets:   0
			},{
				className: 'control',
				orderable: false,
				targets:   -1
			} ],
			select: {
				style:'os',
				selector: 'td:first-child',
				multi:true
			},
			responsive: {
				details: {
					type: 'column',
					target: -1
				}
			}
	} );
	console.log("Fin idTablaListMeta configurada ");
	selectIniFunction();
	refreshComboMetaBatchSelect();
	console.log("Valor select:"+selectIni);
	selectIni=null;

});

function refreshComboMetaBatchSelect()
{
	console.log("Refrescamos el combo de meta seleccionado posibles");
	var metas =tablaMeta.fnGetNodes();
	var combox = $('#idBatchDoc');
	
	//comprobamos si previamente tiene aluna seleccionado
	var prevSelect =$('#idBatchDoc>option:selected').val();
	if(selectIni!=null && prevSelect!=null)
		prevSelect=selectIni;
	//elimimanos todas las opciones menos la select por defecto
	$('#idBatchDoc>option[value!="-1"]').remove();
	
	var myOptions =[];
	//creamos el array con la información añadir al combo
	for(i=0;i<metas.length;i++)
	{
		var valorId =$(metas[i]).find('td')[0].getAttribute('data-id');
		var nombre = $(metas[i]).find('td')[1].innerHTML;
		myOptions[i]={text:nombre, value:valorId};
	}
	//añadimos al combo
	$.each(myOptions, function(i, el) 
	{ 
	   if(prevSelect!="-1" && prevSelect!="" &&  prevSelect==el.value)
	   {
			var opt = new Option(el.text,el.value);
			$('#idBatchDoc').append( opt );
			opt.setAttribute("selected","selected")
	   }
	   else
	   {
			$('#idBatchDoc').append( new Option(el.text,el.value) );
	   }
	});	

	console.log("Fin  Refrescamos el combo de meta seleccionado posibles");
}
</script>
</th:block>	


<th:block th:fragment="contentListMetaInherit" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="row idTablaListMetaInheritRow" >
	<div class="col-sm-11" style="float: none;margin: 0 auto;">
		<table id="idTablaListMetaInherit" class="display">
			<thead>
				<tr>
					<th></th>
					<th th:utext="#{label.defDocuments}">Def. Documento</th>
					<th th:utext="#{label.Name}">Nombre</th>
					<th th:utext="#{label.Description}">Descripci&oacute;n</th>
					<th th:utext="#{label.Editable}">Editable</th>
					<th th:utext="#{label.Required}">Requerido</th>
					<th th:utext="#{label.Cover}">Caratulas</th>
					<th th:utext="#{label.Value.Def}">Valor por Defecto</th>
					<th th:utext="#{label.ListValue}">Lista de Valores</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
					  <tr th:each="meta : ${listMetaInher}"  th:attr="data-id=${meta.id}, data-spec=${meta.specification}">
						 <td th:attr="data-id=${meta.id}"></td>
						 <td th:text="${meta.specification}">Doe</td>
						 <td th:text="${meta.name}">Doe</td>
						 <td th:text="${meta.description}">John</td>
						 <td ><input type="checkbox" th:checked="${meta.editable}" disabled/></td>
						 <td ><input type="checkbox" th:checked="${meta.mandatory}" disabled/></td>
						 <td ><input type="checkbox" th:checked="${meta.includeInBatchSeprator}" disabled/></td>
						 <td th:text="${meta.defaultValue}">John</td>
						 <td style="text-align:center">
							<input type="hidden" th:id="|listValHer${meta.id}|" th:value="${meta.sourceValues}">
							<a th:href="|javascript:modalListValue('listValHer${meta.id}')|"><span class="fas fa-search text-black-50" aria-hidden="true"></span></a>
						 </td>
						 <td></td>
					  </tr>     
			</tbody>
		   </table>
	</div>   
</div>
<div class="row" style="height:10px">
</div>
<script>
var tablaMetaInherit=null;
$( function() {
	
	console.log("start idTablaListMetaInherit configurada");
	tablaMetaInherit= $('#idTablaListMetaInherit').dataTable( {
			language: {"url": tableLanguage()},
			pagingType: "full_numbers",
			rowsGroup:[1,0],
			initComplete: function(settings, json) {
				console.log("Tabla terminada de cargar");
				/*forzamos ajustes de calculo responsive*/
// 				for(a=0;a<2;a++){
// 					$($.fn.dataTable.tables(true)).DataTable().columns.adjust().responsive.recalc();
// 				}				
			},
			"lengthChange": false,
			"scrollY":        "20vh",
			"scrollCollapse": true,	
			columnDefs: [ {
				orderable: false,
				className:'select-checkbox',
				targets:   0
			},{
				className: 'control',
				orderable: false,
				targets:   -1
			} ],
			select: {
				style:'os',
				selector: 'td:first-child',
				multi:true
			},
			responsive: {
				details: {
					type: 'column',
					target: -1
				}
			}
	} );
	
	
	$('#idTablaListMetaInherit  tbody .select-checkbox').on('click', 
	function (sel)
	{
		var aux = sel; 
		console.log("select "+sel);
		console.log(" Inicio seleccion completa agrupado");
		var spec= $($(aux.target).parent()).attr('data-spec');
		console.log("");
		if($('#idTablaListMetaInherit  tbody tr[data-spec|=\''+spec+'\']').hasClass('selected'))
		{
			$('#idTablaListMetaInherit  tbody tr[data-spec|=\''+spec+'\']').removeClass('selected');
		}
		else
		{
			$('#idTablaListMetaInherit  tbody tr[data-spec|=\''+spec+'\']').addClass('selected');
			$('#idTablaListMetaInherit  tbody tr:not([data-spec|=\''+spec+'\'])').removeClass('selected');
		}
		console.log(" Fin de seleccion completa agrupado");
	});
	
	
	
	console.log("Fin idTabla configurada MetaInherit");
	
	console.log("REFRESCAMOS LOS BOTONES");
	refreshBotonesDivs();
	console.log("REFRESCAMOS LOS BOTONES");	

	
});
</script>
</th:block>	