<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="row idTablaListPluginsRow" >
  <table id="idTablaListPlugins" class="display">
		<thead>
			<tr>
				<th th:utext="#{label.Fase}">Fase</th>
				<th th:utext="#{label.Plugins}">Plugins</th>
				<th th:utext="#{label.Instances}">Instancias</th>
				<th th:utext="#{label.Active}">Activo</th>
				<th th:utext="#{label.Actions}">Acciones</th>
			</tr>
		</thead>
		<tbody>
				  <tr th:each="plugin : ${plugins}">
				  	<!--
					<td id="fase" th:attr="data-fase-id=${plugin.fase.scanProcessStageId}" th:utext="#{${#strings.append('stage.',plugin.fase.scanProcessStage)}}"></td>
					-->
					<td id="fase" th:attr="data-fase-id=${plugin.fase.scanProcessStageId}" th:utext="${plugin.fase.scanProcessStage}+''+${plugin.fase.mandatory==true?'*':''}"></td>
					<td id="setDefPlug">
						 <select name="defPlugin" th:id="|defPlugin${plugin.fase.scanProcessStageId}|"  th:attr="data-id=${plugin.fase.scanProcessStageId}" th:required="${plugin.fase.mandatory==true}">
							<option value="-1" th:utext="#{label.select}">Sel. Opt.</option>
							<th:block th:each="pluginD : ${plugin.defPlugins}">
								<option th:if="${pluginD.active}" th:utext="${#strings.abbreviate(pluginD.name,20)}" th:value="${pluginD.id}" 
								th:selected="${plugin.activoIdPlugDef == pluginD.id}?'true':'false'" th:title="${pluginD.name}"></option>
							</th:block>
						</select>
					</td>
					<td id="setConfPlug">
						<select name="configPlugin" th:id="|configPlugin${plugin.fase.scanProcessStageId}|"  th:attr="data-id=${plugin.fase.scanProcessStageId}" th:required="${plugin.fase.mandatory==true}">
							<option value="-1" th:utext="#{label.select}"  >Sel. Opt.</option>
							<th:block th:each="pluginC : ${plugin.confPlugins}">
								<option th:if="${pluginC.active}"
									th:utext="${#strings.abbreviate(pluginC.name,15)}" 
									th:value="${pluginC.id}" 
									th:attr="data-specification=${#strings.abbreviate(pluginC.specification,20)}"
									th:selected="${plugin.activoIdPlugConf == pluginC.id}?'true':'false'"
									th:title="${pluginC.name}"></option>
							</th:block>
						</select>
					</td>
					<td id="actPlugin"><input type="checkbox" th:checked="${plugin.activoPlugConf}"/></td>
					<td id="actionPlugin" >
					    <a th:attr="href='javascript:actionPluginLink('+ |$('#defPlugin${plugin.fase.scanProcessStageId}')|+', '+|$('#configPlugin${plugin.fase.scanProcessStageId}')|+');'">
							<span class="ui-icon ui-icon-pencil"></span>
						</a>
				  </tr> 
		</tbody>
  </table>
  
</div>

<script>

function actionPluginLink(pSpec, pConf)
{
	if (pConf.val=='-1') return;
	
	console.log("Obtenemos los valores seleccionado");
	var pSpecText = pSpec.find("option:selected").text();
	var pConfText = pConf.find("option:selected").text();
	
	//$("#defPlugin3 option:selected").text();
	
	RequestLoad('admin/plugins.html', 'POST',null, {'pluginSpec':pSpecText,'pluginConf':pConfText}, '#content');
}

$( function() {
	
	console.log("start idTablaListPlugins configurada");
	tablaPlugin =$('#idTablaListPlugins').dataTable( {
		"language": {"url": tableLanguage()},
		"pagingType": "full_numbers",
		"order": [ 2, "desc" ],	
		"initComplete": function(settings, json) {
			console.log("Tabla terminada de cargar idTablaListPlugins");

		},
		"lengthChange": false,
		"scrollY":        "24vh",
		"scrollCollapse": true
	} );
	console.log("Fin idTablaListPlugins configurada");

	//inicializamos los deshabilitado
	$("select[id^='defPlugin'").on("change", function(event){
	
		console.log("change de id" + $(this).attr("data-id"));
		//var specification = $(this);
		var idSelect = $(this).attr("data-id");
		var confPluginAsoc = $("select[id^='configPlugin"+idSelect+"'");
		//reiniciamos seleccion de configuracion
		confPluginAsoc.val("-1");
		//console.dir(confPluginAsoc);
		var activar =confPluginAsoc.find("option[data-specification='"+$(this).find('option:selected').text()+"']");
		var desactivar =confPluginAsoc.find("option[data-specification!='"+$(this).find('option:selected').text()+"'][value!=-1]");
		//console.log("Activar:");
		//console.dir(activar);
		//console.log("Desactivar:");
		//console.dir(desactivar);
		desactivar.hide();
		activar.show();
		
	});
	
	//desactivamos aquellas opciones no usadas
	function deshabilitationOptionNotSelect()
	{
		var sel =$("select[id^='defPlugin'");
		for (i=0;i<sel.length;i++)
		{
			var act = sel[i];
			//desactivamos las no usadas del otro combox
			var idSelect = $(act).attr("data-id");
			var confPluginAsoc = $("select[id^='configPlugin"+idSelect+"'");
			//console.log("Plugin Asociado:");
			//console.dir(confPluginAsoc);
			var desactivar =confPluginAsoc.find("option[data-specification!='"+$(act).find('option:selected').text()+"'][value!=-1]");
			//console.log("Desactivar:");
			//console.dir(desactivar);
			desactivar.hide();
			
		}
	
	}
	
	deshabilitationOptionNotSelect();
});

	console.log("Funciones auxiliares");
	function obtenerPlugins()
	{
		var result = [];
		
		if (tablaPlugin==null) return result;
		
		var lineasPlugins =tablaPlugin.fnGetNodes();
		
		for (i=0;i<lineasPlugins.length;i++)
		{
			var linea = lineasPlugins[i];
			var plugs = {};
			plugs.datos=linea;
			plugs.idFase = $(linea).find('#fase').attr('data-fase-id');
			plugs.idEspecificacion = $(linea).find('#setDefPlug :selected').val();
			plugs.idConfiguracion = $(linea).find('#setConfPlug :selected').val();
			plugs.activoPlug = $(linea).find('#actPlugin input[type=checkbox]').is(':checked');
			result.push(plugs);
		}
		
		console.log('Resultado Plugins:' , result);
		return result;
	}
	
	
	
	function obtenerDocuments()
	{
		var result=[]
		//var documents = $('#idTablaListDocument > tbody > tr > td > a');
		
		if (tablaInit==null) return result;
		var documents =tablaInit.fnGetNodes();
		
		if(documents==null) return result;
		
		
		for (i=0;i<documents.length;i++)
		{
			var linea = documents[i];
			var document={};
			document.id =$(linea).find('td a').attr('data-id');
			document.activoDoc= $(linea).find('input[type=checkbox]').is(':checked');
			document.datos = tablaInit.fnGetData(i);
			result.push(document);
		}
	
		console.log('Resultado Documents:' , result);
		return result;
	}
	


</script>

	
</th:block>


<th:block th:fragment="contentList" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="row idTablaListPluginsRow" >
	<!--
		<button id='editPlugins' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-pencil'></span></button>				
	-->
	<div class="col-md-12">	
		<table id="idTablaListPluginSpec" class="display" style="cellspacing:0; width: 100%;"> 
			<thead>
				<tr>
					<th th:utext="#{label.Name}">Definici&oacute;n</th>
					<th th:utext="#{label.Description}">Descripci&oacute;n</th>
					<th th:utext="#{label.Fase}">Fases</th>
					<th th:utext="#{label.Active}">Activo</th>
				</tr>
			</thead>
			<tbody>
						
					  <tr th:each="plugin : ${pluginsSpec}"  th:attr="data-id=${plugin.key.id}">
						 <td id="denomPlugin" th:text="${plugin.key.name}">Doe</td>
						 <td id="descPlugin" th:text="${plugin.key.description}">John</td>
						 <td th:each="fase : ${plugin.value}">
							<span th:utext="#{${#strings.append('stage.',fase.name)}}"></span>
						 </td>
						 <td id="actPlugin"><input type="checkbox" th:checked="${plugin.key.active}" disabled/></td>
					  </tr>        
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript" th:inline="javascript">
jQuery.fn.dataTable.Api.register( 'page.jumpToData()', function ( data, column ) {
	var pos = this.column(column, {order:'current'}).data().indexOf( data );

	if ( pos >= 0 ) {
		var page = Math.floor( pos / this.page.info().length );
		this.page( page ).draw( false );
	}

	return this;
} );

console.log("Definimos variables tabla plugin");
//obtenemos el elemento seleccionado en su caso
/*<![CDATA[*/
var pluginSpecSelect =[[${pluginSpecSelect}]];
var pluginConfSelect =[[${pluginConfSelect}]];
console.log("valores recibido de selección, pluginSpecSelect:"+pluginSpecSelect+" -- pluginConfSelect:"+pluginConfSelect);
/*]]>*/



$( function() {
	
	
	
	$('#editPlugins').click(function(event){
		unLockElementsEnableIni();
		//$('#propagacionConf').val('false');
		event.preventDefault();
	});
	
	
	console.log("start idTablaListPluginSpec configurada");
	tablaPluginSpec =$('#idTablaListPluginSpec').dataTable( {
		"language": {"url": tableLanguage()},
		"pagingType": "full_numbers",
		"order": [ 1, "desc" ],	
		"lengthChange": false,
		"scrollY":        "20vh",
		"scrollCollapse": true,			
		"initComplete": function(settings, json) {
			console.log("Tabla terminada de cargar idTablaListPluginSpec");
			seleccionPrevia();
		}
	} );
	console.log("Fin idTablaListPluginSpec configurada");
	
	
	function seleccionPrevia()
	{

		//seleccionamos el documento activo
		
		if (pluginSpecSelect!="")
		{
			console.log("Verificamos si existe algun documento seleccionado");
			var table = $('#idTablaListPluginSpec').DataTable();
			//seleccionamos la pagina
			table.page.jumpToData(pluginSpecSelect,1);
			//clickeamos la selección
			var seleccionar;
			$('#idTablaListPluginSpec>tbody>tr>td:nth-child(1)').each(function()
			{
			  if ($(this).html()==pluginSpecSelect)
			  {
				  console.log($(this).html());
				  seleccionar = $(this);
				  console.log("Encontrado elemento a seleccionar");
				  return true;
			  }
			});
			if (seleccionar!=null)	
			{
				seleccionar.click();
				console.log("Clickeamos el elemento");
			}
			console.log("Fin de seleccion de documento seleccionado");
		
		}
		
		
		
	}
	
});

</script>

	
</th:block>

<th:block th:fragment="listConfig" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="row idTablaListPluginConfigsRow" >
	  <table id="idTablaListPluginConfig" class="display">
			<thead>
				<tr>
					<th></th>
					<th th:utext="#{label.Name}">Nombre</th>
					<th th:utext="#{label.Description}">Descripcion</th>
					<th th:utext="#{label.Active}">Activo</th>
				</tr>
			</thead>
			<tbody>
						
					   <tr th:each="plugin : ${plugins}" th:attr="data-id=${plugin.id}">
						<td></td>
						<td id="denomPlugin" th:text="${plugin.name}">Doe</td>
						<td id="descPlugin" th:text="${plugin.description}">Doe</td>
						<td id="actPlugin"><input type="checkbox" th:checked="${plugin.active}" disabled/></td>
					  </tr>        
			</tbody>
	   </table>
	</div>
<script type="text/javascript" th:inline="javascript">
console.log("Definimos variables tabla plugins perfiles");
//obtenemos el elemento seleccionado en su caso

$( function() {
	
	console.log("start idTablaListPluginConfig configurada");
	tablaPluginConfig =$('#idTablaListPluginConfig').dataTable( {
		"language": {"url": tableLanguage()},
		"pagingType": "full_numbers",
		"order": [ 1, "desc" ],
		"lengthChange": false,
		"scrollY":        "20vh",
		"scrollCollapse": true,
		"initComplete": function(settings, json) {
			console.log("Tabla terminada de cargar idTablaListPluginConfig");
			seleccionPreviaPluginConf();
		},
	} );
	console.log("Fin idTablaListPluginConfig configurada");

	function seleccionPreviaPluginConf()
	{
		
		if (pluginConfSelect!="")
		{
			console.log("Verificamos si existe algun documento seleccionado");
			var table = $('#idTablaListPluginConfig').DataTable();
			//seleccionamos la pagina
			table.page.jumpToData(pluginConfSelect,1);
			//clickeamos la selección
			var seleccionar;
			console.log("Valores a comparar:"+pluginConfSelect);
			$('#idTablaListPluginConfig>tbody>tr>td:nth-child(2)').each(function()
			{
			  console.log("Valores:"+ $(this).html());
			  if ($(this).html()==pluginConfSelect)
			  {
				  console.log($(this).html());
				  seleccionar = $(this);
				  console.log("Encontrado elemento a seleccionar");
				  return true;
			  }
			});
			if (seleccionar!=null)	
			{
				seleccionar.click();
				console.log("Clickeamos el elemento");
				$('#pConf>a').trigger('click');
			}
			console.log("Fin de seleccion de documento seleccionado");
		
		}
			
	
	
	}
	
	
	
	$('#idTablaListPluginConfig tbody').on( 'click', 'tr', function (event) {
		if ( $(this).hasClass('selected') ) {
			//solo admitimos una selección
			$('#idTablaListPluginConfig  tbody  tr').removeClass('selected');
			console.log("[idTablaListPluginConfig] Deseleccionada fila");
			//desactivamos los elementos no disponibles
			$('#editConfigBlock').css({'pointer-events':'none'});	
			
		}
		else {
			
			$('#idTablaListPluginConfig  tbody  tr').removeClass('selected');
			$(this).addClass('selected');
			console.log("[idTablaListPluginConfig] Seleccionada fila configuraciones");
			$('#editConfigBlock').css({'pointer-events':'none'});
			$('#idDivTablaListPluginParamConfig').css({'pointer-events':'visible'});
			cargarPluginConf();			
		}
	} );	
	
	
	
	
	function cargarPluginConf()
	{
		console.log("Cargamos la configuracion del plugin seleccionado....");
		//obtenemos la configuracion seleccionada
		var sel =$('#idTablaListPluginConfig').DataTable().rows('.selected').data();
		$('#denominConf').val(sel[0][1]);
		$('#descripConf').val(sel[0][2]);
		$('#activoConf').prop('checked',$($('#idTablaListPluginConfig').DataTable().rows('.selected').data()[0][3]).is(':checked'));
		$('#propagacionConf').val('false');
		var idPluginSpec = $($('#idTablaListPluginSpec').DataTable().rows('.selected').nodes()).attr('data-id');
		
		//tenemos que cargar los parametros 
		$('#idDivTablaListPluginParamConfig').load(contexto()+'admin/listParamConf.html',{'_csrf':$("input[name='_csrf']").val(),'pluginSpecificationId':idPluginSpec , 'denomPluginConf':$('#denominConf').val()});
		
	}
	
});
</script>
</th:block>