
<th:block th:fragment="listadoParam"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<div class="row idTablaListParamRow" style="width: 100%">
		<table id="idTablaListParamSpec" class="display" style="width: 100%">
			<thead style="width: 100%">
				<tr style="width: 100%">
					<th></th>
					<th th:utext="#{label.Name}">Nombre</th>
					<th th:utext="#{label.Description}">Descripci&oacute;n</th>
					<th th:utext="#{label.Type}">Tipo</th>
					<th th:utext="#{label.Required}">Requerido</th>
				</tr>
			</thead>
			<tbodystyle style="width: 100%">
				<tr th:each="parametro : ${listParamSpec}"
					th:attr="data-id=${parametro.id}" style="width: 100%">
					<td></td>
					<td id="denomParam" th:text="${parametro.name}">Doe</td>
					<td id="descParam" th:text="${parametro.description}">John</td>
					<td id="typeParam" th:text="${parametro.typeParamSpec.name}"></td>
					<td id="reqParam"><input th:attr="data-type-id=${parametro.typeParamSpec.id}"type="checkbox"
						th:checked="${parametro.mandatory}" disabled /></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script type="text/javascript" th:inline="javascript">
$( function() {
	console.log("start idTablaListParamSpec configurada");
	idTablaListParamSpec =$('#idTablaListParamSpec').DataTable( {
		scrollCollapse: true,
		"language": {"url": tableLanguage()},
		"pagingType": "full_numbers",
		"initComplete": function(settings, json) {
			console.log("Tabla terminada de cargar idTablaListParamSpec");
		},
		"lengthChange": false,
		"scrollY":        "20vh",
		"scrollCollapse": true,			
		columnDefs: [ {
			orderable: false,
			className:'select-checkbox',
			targets:   0
		} ],
		select: {
			style: 'single',
			selector: 'td:first-child',
			multi:false
		}
		
	} );
	console.log("end idTablaListParamSpec configurada");
});
</script>
</th:block>

<th:block th:fragment="modalParam" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<div id="bloqueModal" style="display: none;">
		<div class="modal-body modal-md">
			<form id="formParamSpec" action="#" novalidate>
				<!-- Nombre -->
				<div class="row">
					<div class="col-md-2">
						<label for="nameParamModal"
							th:utext="#{label.Name}+'*'">Nombre*:</label>
					</div>
					<div class="col-md-10">
						<input id="nameParamModal" name="nameParamModal" th:type="text"
							size="100" th:max="32" type="text" required="required" />
					</div>
				</div>
				<div class="row" style="height: 10px"></div>
				<!-- Descripcion -->
				<div class="row">
					<div class="col-md-2">
						<label for="descParamModal"
							th:utext="#{label.Description}+'*'">Descripción*:</label>
					</div>
					<div class="col-md-10">
						<input id="descParamModal" name="descParamModal" th:type="text"
							size="100" th:max="32" type="text" required="required" />
					</div>
				</div>
				<div class="row" style="height: 10px"></div>
				<!-- requerido -->
				<div class="row">
					<div class="col-md-2">
						<label for="reqParamModal"
							th:utext="#{label.Required}">Requerido:</label>
					</div>
					<div class="col-md-10">
						<input id="reqParamModal" name="reqParamModal" th:type="checkbox" />
					</div>
				</div>

				<div class="row" style="height: 10px"></div>
				<!-- tipo datos -->
				<div class="row">
					<div class="col-md-2">
						<label for="typeParamSpecModal"
							th:utext="#{label.Type}+'*'">Tipo*:</label>
					</div>
					<div class="col-md-10">
						<div th:insert="fragments/admin/parametros :: listModalParam"></div>
					</div>
				</div>
				<div class="row" style="height: 20px"></div>
				<div id="mensajesModal"></div>
			</form>
			<div class="row" style="height: 20px"></div>
		</div>
	</div>
	<script>
console.log("carga el modal");
</script>
</th:block>

<th:block th:fragment="listModalParam"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<!---->
	<select id="typeParamSpecModal">
		<option value="-1">Select Option</option>
		<option th:each="typeParam : ${typeParamSpec}" th:id="${typeParam.id}"
			th:utext="${typeParam.name}"></option>
	</select>
	<!-- -->

	<script type="text/javascript" th:inline="javascript">
	
	/*<![CDATA[*/
	var tipos = [[${typeParamSpec}]];
	/*]]>*/
	console.log("carga listado:",tipos);
</script>
</th:block>

<th:block th:fragment="config" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<fieldset class="border p-4" style="width: 100%">
		<legend class="p-1">
			[[#{label.Parameters}+' ']]
			<button id='addParamConf' class='ui-button ui-widget ui-corner-all'>
				<span class='ui-icon ui-icon-plus'></span>
			</button>
			<button id='removeParamConf'
				class='ui-button ui-widget ui-corner-all'>
				<span class='ui-icon ui-icon-minus'></span>
			</button>
		</legend>
		<div id="idDivTablaListPluginParamConfig"
			th:insert="fragments/admin/parametros :: listParamConfig">
			<p>parametros</p>
		</div>
	</fieldset>


	<script>
	
$( function() {	
	$('#addParamConf').on("click",function (event){
		console.log("Start addParamConf");
		anyadirParamConf.call();
		console.log("End addParamConf");
		event.preventDefault();
	});
	$('#removeParamConf').on("click",function (event){
		console.log("Start removeParamConf");
		eliminarParamConf.call();
		console.log("End removeParamConf");
		event.preventDefault();
	});
});
</script>

</th:block>


<th:block th:fragment="listParamConfig"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<div class="row idTablaListPluginParamConfigsRow" style="width: 100%">
		<table id="idTablaListPluginParamConfig" class="display" style="width: 100%">
			<thead style="width: 100%">
				<tr style="width: 100%"> 
					<th th:utext="#{label.Name}">Nombre</th>
					<th th:utext="#{label.Value}">Valor</th>
				</tr>
			</thead>
			<tbody style="width: 100%">

				<tr th:each="paramPlu : ${pluginsParam}" th:attr="data-id=${paramPlu.id}">
					<td id="nombreParam" th:utext="${paramPlu.specificationName}">Parametro 1</td>
					<td id="valorParam" th:utext="${paramPlu.value}">valor del
						parametro 1 para la configuracion 1 del plugin 1</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!--  Modal de configuracion de parametros plugin -->
	<div id="divModalParamConfig" th:insert=":: modalParamConfig"></div>

	<script type="text/javascript" th:inline="javascript">



$( function() {
	
	console.log("start idTablaListPluginParamConfig configurada");
	tablaPluginParamConfig  =$('#idTablaListPluginParamConfig').dataTable( {
		"language": {"url": tableLanguage()},
		"pagingType": "full_numbers",
		"order": [ 1, "desc" ],	
		"initComplete": function(settings, json) {
			console.log("Tabla terminada de cargar idTablaListPluginParamConfig");
		},
		"lengthChange": false,
		"scrollY":        "20vh",
		"scrollCollapse": true			
	} );
	console.log("Fin idTablaListPluginParamConfig configurada");
	

	$('#idTablaListPluginParamConfig tbody').on( 'click', 'tr', function (event) {
		if ( $(this).hasClass('selected') ) {
			//solo admitimos una selección
			$('#idTablaListPluginParamConfig  tbody  tr').removeClass('selected');
			console.log("[idTablaListPluginParamConfig] Deseleccionada fila");
			//desactivamos los elementos no disponibles
		}
		else {
			$('#idTablaListPluginParamConfig  tbody  tr').removeClass('selected');
			$(this).addClass('selected');
			console.log("[idTablaListPluginParamConfig] Seleccionada fila configuraciones");
		}
	} );	
	
	
	

});

</script>
</th:block>


<th:block th:fragment="modalParamConfig"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<div id="bloqueModalConfig" style="display: none;">
		<div class="modal-body modal-md">

				<form id="formParamConf" action="#" novalidate>
					<!-- Nombre -->
					<div class="row">
						<div class="col-md-2">
							<label for="nameParamConfigModal"
								th:utext="#{label.Name} +'*'">Nombre
								Parametro*:</label>
						</div>
						<div class="col-md-6">
							<select id="nameParamConfigModal" name="nameParamConfigModal">
								<option value="-1" th:utext="#{label.select}" selected>Sel. Opt.</option>
								<option th:each="paramConf : ${pluginsParamConf}"
									th:utext="${paramConf.name}+(${paramConf.mandatory}?' (*)':'')"
									th:attr="value=${paramConf.id},data-name=${paramConf.name},data-desc=${paramConf.description},data-req=${paramConf.mandatory},data-tipo=${paramConf.typeName},data-stringPattern=${paramConf.stringPattern}">Nombre Parametro</option>
							</select>
						</div>
						<div class="col-md-4">
							<div  id="comprobacionParam"></div>
						</div>
					</div>
					
					<div class="row" style="height: 10px"></div>

					<!-- Inicio de información asociada al parametro seleccionado -->
					<!-- Descripcion -->
					<div class="row">
						<div class="col-md-2">
							<label for="descParamConfigModal"
								th:utext="#{label.Description}">Descripción:</label>
						</div>
						<div class="col-md-10">
							<textarea style="min-width: 100%"
								id="descParamConfigModal" 
								name="descParamConfigModal"
								rows="2" disabled></textarea>
						</div>
					</div>
					<div class="row" style="height: 10px"></div>
					<!-- requerido -->
					<div class="row">
						<div class="col-md-2">
							<label for="reqParamConfigModal"
								th:utext="#{label.Required}">Requerido:</label>
						</div>
						<div class="col-md-10">
							<input id="reqParamConfigModal" name="reqParamConfigModal"
								th:type="checkbox" disabled />
						</div>
					</div>

					<div class="row" style="height: 10px"></div>
					<!-- tipo dato -->
					<div class="row">
						<div class="col-md-2">
							<label for="typeParamConfigSpecModal"
								th:utext="#{label.Type}">Tipo:</label>
						</div>
						<div class="col-md-10">
							<input id="typeParamConfigModal" name="typeParamConfigModal" style="min-width: 100%"
								th:type="text" th:max="32" type="text" disabled="disabled" />
						</div>
					</div>
					<!-- Fin de información asociada al parametro seleccionado -->
					<div class="row" style="height: 10px"></div>
					<!-- valor -->
					<div class="row">
						<div class="col-md-2">
							<label for="valueParamConfModal"
								th:utext="#{label.Value}+'*'">Valor:</label>
						</div>
						<div class="col-md-10">
							<textarea id="valueParamConfModal" name="valueParamConfModal"
								rows="5" style="min-width: 100%"> </textarea>
						</div>
					</div>


					<div id="infoValor" class="row" style="height: 20px"></div>
					<div id="mensajesModal"></div>
				</form>
				<div class="row" style="height: 20px"></div>
			
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
console.log("carga el modal parametros");
//preparamos el cambio de info de la seleccion
$( function() {
	
	/*<![CDATA[*/
	var valoresRecibidos = [[${pluginsParamConf}]];
	/*]]>*/

	//recorremos los elementos que tenemos, y eliminamos aquellos que hemos ya configurado

	if(valoresRecibidos!=null)
	{
		var nombreParam = $('#nameParamConfigModal option[value!=-1]');
		var nombreParamConf = tablaPluginParamConfig.fnGetData();

		for (ii=0;ii<nombreParamConf.length;ii++)
		{
			var descConf = nombreParamConf[ii][0];
			console.log("descConf:"+descConf);
			for (i=0;i<nombreParam.length;i++)
			{
				var descParam = $(nombreParam[i]).attr('data-desc');	
				//comparamos si en la tabla de configuracion existe ya el elemento, en ese caso lo eliminamos de la seleccion
				console.log("descParam:"+descParam);
				if(descParam == descConf)
				{
					$('#nameParamConfigModal option[value!=-1]')[i].remove();
				}
				
			}
		}
	}	


	console.log("configuramos los eventos de seleccion");


});

</script>
</th:block>


