<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--debe contener las pestanyas de espeficificacion y configuraciones -->

	<div id ="idPestanyaPlugin" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
	
		<ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix .ui-widget-header">
    		<li id="pEsp"><a href="#pEspecificacion" th:utext="#{label.Especification}">Especificaci&oacute;n</a></li>
    		<li id="pConf" ><a href="#pConfiguraciones" th:utext="#{label.Instances}">Instancias</a></li>
  		</ul>
		<div id="pEspecificacion">
			<div th:replace="fragments/admin/pluginContent :: especif"><p>Especificaciones</p></div>
			
		</div>
		<div id="pConfiguraciones">
			<div th:replace="fragments/admin/pluginContent :: config"><p>Instancias</p></div>
		</div>
	</div>
	<!-- Modal -->
	<div id="idDivModalEspec" style="display:none" th:insert="fragments/admin/parametros :: modalParam"></div>
		
	
	<script>
		//activamos las pestañas
		$( "#idPestanyaPlugin" ).tabs(); 
		$('#pConf').click (function (event){
			$('#idTablaListPluginConfig').DataTable().draw(false);
			$('#idTablaListPluginParamConfig').DataTable().draw(false);
		});
		
		
	</script>
	
</th:block>