<th:block th:fragment="especif" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<fieldset class="border p-4">
		<legend  class="p-1">[[#{label.Especification}+' ']]
		</legend>

		<div   class="row">
			<div class="col-md-10">
				<label th:utext="#{label.Denomination}+'*'">Denominación*:</label>
			</div>	
			<div class="col-md-2">
			</div>
		</div>

		<div class="row">		
			<div class="col-md-10">
				<input id="denominEspec" type="text" style="width: 100%" disabled/>		
			</div>
			<div class="col-md-2">
				<label th:utext="#{label.Active}">Activo:</label><input id="activoEspec" type="checkbox"/>
				<input type="hidden" id="propagacion" value="false">
			</div>
		</div>

		<div class="row" style="height: 5px;"></div>

		<div class="row">
			<div class="col-md-12">
				<label th:utext="#{label.Description}+'*'">Descripci&oacute;n*:</label>
				<input id="descripEspec" type="text" style="width: 100%"/>		
			</div>
		</div>

		<div class="row" style="height: 20px;"></div>
			
		<div id="idTablaEspec" class="row">
			<fieldset class="border p-4" >
				<legend  class="p-1">[[#{label.Parameters}+' ']]
				<!--
					<button id='addParam' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-plus'></span></button>
					<button id='removeParam' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-minus'></span></button>
				-->
				</legend>	
					<div id="idListParam" th:insert="fragments/admin/parametros :: listadoParam"><p>Par&aacute;metros</p></div>
			</fieldset>
		</div>
		<div id="mensajesAux" th:insert="/fragments/base/message :: contentMessages" style="display:none">
			
		</div>
		
		
		<!-- BOTONES COMUNES -->
		<div id="idButton" style="margin:5px; float:right">
			  <button id="saveSpec" class="ui-button ui-widget ui-corner-all">
					<span class="ui-icon ui-icon-disk" th:utext="#{plugins.plugin.save}"></span> Guardar
			  </button>
	
			  <button id="cancelSpec" class="ui-button ui-widget ui-corner-all">
					<span class="ui-icon ui-icon-cancel" th:utext="#{plugins.plugin.cancel}"></span> Cancelar
			  </button>
		</div>
	</fieldset>	
<script>
/*
$('#addParam').on("click",function (event){
	console.log("Start Anyadir Nuevo Parametro - mostramos modal");
	anyadirParam.call();
	console.log("End Anyadir Nuevo Parametro - mostramos modal");
	event.preventDefault();
});
$('#removeParam').on("click",function (event){
	console.log("Start Eliminar Parametro - mostramos modal");
	eliminarParam.call();
	console.log("End Eliminar Parametro - mostramos modal");
	event.preventDefault();
});
*/
	

$('#saveSpec').on("click", function(event){
	console.log("Start saveSpec");
	guardarEspecificacion();
	console.log("End saveSpec");
	event.preventDefault();
});

$('#cancelSpec').on("click", function(event){
	console.log("Start saveSpec");	
	cargarPluginSpec();
	console.log("End saveSpec");
	event.preventDefault();
});	
	
</script>
</th:block>

<th:block th:fragment="config" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div id="pestanyaConfig">
		<fieldset class="border p-4">
			<legend  class="p-1">[[#{label.Instances}+' ']]
					<button id='addConfig' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-plus'></span></button>
					<button id='editConfig' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-pencil'></span></button>
					<button id='removeConfig' class='ui-button ui-widget ui-corner-all'><span class='ui-icon ui-icon-minus'></span></button>
			</legend>
			
			
			<fieldset class="scheduler-border" >
				<div id="idListConfig" th:insert="fragments/admin/listPlugins :: listConfig"><p>Par&aacute;metros</p></div>
			</fieldset>
			<div class="row" style="height:10px" ></div>
				
				<div id="editConfigBlock">	
					
					<fieldset class="borderp-4">
						<legend  class="p-1">[[#{label.EditConf}+' ']]</legend>
							<div   class="row">
								<div class="col-md-10">
									<label th:utext="#{label.Denomination}+'*'">Denominación*:</label>
								</div>	
								<div class="col-md-2">
								</div>
							</div>

							<div class="row">		
								<div class="col-md-10">
									<input id="denominConf" type="text" style="width: 100%"/>		
								</div>
								<div class="col-md-2">
									<label th:utext="#{label.Active}">Activo:</label><input id="activoConf" type="checkbox"/>
									<input type="hidden" id="propagacionConf" value="false">
								</div>
							</div>

							<div class="row" style="height: 5px;"></div>

							<div class="row">
								<div class="col-md-12">
									<label th:utext="#{label.Description}+'*'">Descripci&oacute;n*:</label>
									<input id="descripConf" type="text" style="width: 100%"/>		
								</div>
							</div>

							<div class="row" style="height: 20px;"></div>
								
							<div id="idTablaConf" class="row">
								<div th:replace="fragments/admin/parametros :: config"><p>Parametros</p></div>
							</div>
						<!-- BOTONES COMUNES -->
						<div id="idButton" style="margin:5px; float:right">
							  <button id="saveConf" class="ui-button ui-widget ui-corner-all">
									<span class="ui-icon ui-icon-disk" th:utext="#{label.Save}"></span> Guardar
							  </button>
					
							  <button id="cancelConf" class="ui-button ui-widget ui-corner-all">
									<span class="ui-icon ui-icon-cancel" th:utext="#{label.Cancel}"></span> Cancelar
							  </button>
						</div>
					</fieldset>	
				</div>
		</fieldset>	
	</div>
<script>


$('#editConfig').on("click",function (event){
	$('#editConfigBlock').css({'pointer-events':'visible'});
	event.preventDefault();
});

$('#addConfig').on("click",function (event){	
	console.log("Start Anyadir Nuevo Parametro - mostramos modal");
	anyadirConfig();
	console.log("End Anyadir Nuevo Parametro - mostramos modal");
	event.preventDefault();
});
$('#removeConfig').on("click",function (event){	
	console.log("Start Eliminar Parametro - mostramos modal");
	eliminarConfig();
	console.log("Start Eliminar Parametro - mostramos modal");
	event.preventDefault();
});
	
$('#saveConf').on("click", function(event){
	console.log("Start saveConf");	
	guardarConfiguracion();
	console.log("End saveConf");
	event.preventDefault();	
});

$('#cancelConf').on("click", function(event){
	console.log("Start cancelConf");
	cargarPluginSpec();
	console.log("End cancelConf");
	event.preventDefault();
});
	
</script>	
	
	
	
</th:block>