<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<table id="idTablaConfiguraciones" class="display">
	<thead>
		<tr>				
			<th th:utext="#{label.Denomination}">Denominaci&oacute;n</th>
			<th th:utext="#{label.Description}">Descripci&oacute;n</th>
			<th th:utext="#{label.Active}">Activo</th>
		</tr>
	</thead>
	<tbody>
			  <tr th:each="config : ${profilsSpec}" th:attr="data-row=${config.id}" >
				 <td th:attr="data-name=${config.name}" th:text="${config.name}">Doe</td>
				 <td th:attr="data-description=${config.description}" th:text="${config.description}">John</td>
				 <td th:attr="data-active=${config.active}" ><input type="checkbox" th:checked="${config.active}" disabled/></td>
			  </tr>        
	</tbody>
	</table>

<script>
	//refrescamos y volvemos a indicar los eventos al refrescar
	tablaConfigu= $('#idTablaConfiguraciones').dataTable( {
					"language": {"url": tableLanguage()},
					"pagingType": "full_numbers",
					"order": [ 0, "desc" ],	
					"initComplete": function(settings, json) {
						console.log("Tabla terminada de cargar idTablaConfiguraciones");

					},
					"lengthChange": true,
					"scrollY":        "20vh",
					"scrollCollapse": true
					
			} );
	
	$('#idTablaConfiguraciones tbody').on( 'click', 'tr', function () {
			if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
				console.log("Deseleccionada fila");
				//desactivamos los elementos no disponibles
				lockElementsEnableIni();
			}
			else {
				//eliminamos seleccionada
				$('#idTablaConfiguraciones tbody tr').removeClass('selected');
				$(this).addClass('selected');
				console.log("Seleccionada fila configuraciones");
				unLockElementsEnableIni();				
				console.log("cargamos el perfil seleccionado de la configuracion");
				cargarPerfil();
				console.log("fin de la carga del perfil seleccionado de la configuracion");
				
			}
		} );
		

		
		
</script>
</th:block>