<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<table id="idTablaModal" class="display">
	<thead>
		<tr>
			<td></td>
			<td th:utext="#{label.Denomination}">Denominaci&oacute;n</td>
			<td th:utext="#{label.Description}">Descripci&oacute;n</td>
			<td th:utext="#{label.Active}">Activo</td>
			<td style="display:none;"></td>
		</tr>
	</thead>
	<tbody>
	
			  <tr th:each="document : ${documentsAll}" th:attr="data-url=${document.id}">
				 <td></td>
				 <td th:text="${document.name}">Doe</td>
				 <td th:text="${document.description}">John</td>
				 <td ><input type="checkbox" th:checked="${document.active}" disabled/></td>
				 <td th:name="linkDoc" style="display:none;"><a th:attr="data-id=${document.id}" href="#"><span class="ui-icon ui-icon-pencil"></span></a></td>									 
			  </tr>        
	</tbody>
</table>
<script>
		
		console.log("Ini Configuramos idTablaModal");
		
		tablaModalSelector=$('#idTablaModal').DataTable( {
				//scrollY:'600px',
				scrollCollapse: true,
				"language": {"url": tableLanguage()},
				"pagingType": "full_numbers",
				"order": [ 2, "desc" ],	
				"initComplete": function(settings, json) {
					console.log("Tabla terminada de cargar");

				},				
				columnDefs: [ {
					orderable: false,
					className:'select-checkbox',
					targets:   0
				} ],
				select: {
					style:'os',
					selector: 'td:first-child',
					multi:true
				},
				
		} );
		console.log("Fin Configuramos idTablaModal");

	
</script>
</th:block>

<!-- Contenido del modal pantalla de documentacion -->

<th:block th:fragment="contentModalDocMetaInher" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--  Modal -->
 <div id="bloqueTablaModal" style="display:none;">     
	<div class="modal-body modal-md" >
		
		<table id="idModalInher" class="display">
			<thead>
				<tr>
					<td></td>
					<td th:utext="#{label.Denomination}">Denominaci&oacute;n</td>
					<td th:utext="#{label.Description}">Descripci&oacute;n</td>
					<td th:utext="#{label.Active}">Activo</td>
				</tr>
			</thead>
			<tbody>
			
					  <tr th:each="document : ${listDefDoc}" th:attr="data-url=${document.id}">
						 <td th:attr="data-url=${document.id}"></td>
						 <td th:text="${document.name}">Doe</td>
						 <td th:text="${document.description}">John</td>
						 <td ><input type="checkbox" th:checked="${document.active}" disabled/></td>
					  </tr>        
			</tbody>
		</table>
	
		<div class="row" style="height:30px">
		</div>
	</div>
</div>
<!--  Fin Modal -->

<script>

$( function() {	
		console.log("[tablaModalDocument] Ini Configuramos idModalInher");
		
		$('#idModalInher').DataTable( {
				//scrollY:'600px',
				scrollCollapse: true,
				"language": {"url": tableLanguage()},
				"pagingType": "full_numbers",
				"order": [ 2, "desc" ],	
				"initComplete": function(settings, json) {
					console.log("Tabla terminada de cargar idModalInher");
				},				
				columnDefs: [ {
					orderable: false,
					className:'select-checkbox',
					targets:   0
				} ],
				select: {
					style:'os',
					selector: 'td:first-child',
					multi:true
				}
		} );

		var buttonArray = {};
				
		console.log("Aceptar añadir metaDosSpecHer");		
		buttonArray[textAceptar()] = function(event) {
					idSelects=[];
					var seleccionadas = $('#idModalInher').DataTable().rows('.selected').nodes();
					console.log("Seleccionadas:");
					console.dir(seleccionadas);
					var actuales= $("#idTablaListMetaInherit").DataTable().rows().nodes();
					console.log("Actuales:");
					console.dir(actuales);
					
					for(i=0;i<seleccionadas.length;i++)
					{
						var idActual = seleccionadas[i].getAttribute('data-url'); ;
						var eltoCompareSelect =$($(seleccionadas[i]).find('td')[1]).text();
						
						encontrado=false;
						for(ii=0;ii<actuales.length;ii++)
						{
							var eltoCompareExist =$($(actuales[ii]).find('td')[1]).text();

							//usamos para comparar el username ( campo segundo)
							if (eltoCompareSelect == eltoCompareExist)
							{
								console.log("Encontrado en seleccionado:"+eltoCompareSelect+"("+eltoCompareExist+")");
								encontrado=true;
								break;
							}
						
						}
						//si no encontrado
						if (!encontrado)
						{
							idSelects.push(idActual);
							console.log("Añadido a existentes:"+eltoCompareSelect);
						}
					}
					
					//eliminamos el elemento actual de la lista
					console.log("Antes idSelects length:"+idSelects.length);
					console.log("Antes idSelects:"+idSelects);
					
					if($('#idTablaListDocument').DataTable().rows('.selected')>0)
					{
						var idDocSpecActual = idSelects.indexOf($('#idTablaListDocument').DataTable().rows('.selected').nodes()[0].getAttribute('data-url'));
						console.log("Id Doc Spec actual:"+idDocSpecActual);
						if (idDocSpecActual > -1) {
							idSelects.splice(idDocSpecActual, 1);
						}	
					}
					/*
					else
					{
						idSelects.splice(idDocSpecActual, 0)
					}
					*/
					console.log("Despues idSelects length:"+idSelects.length);
					console.log("Despues idSelects:"+idSelects);
					
					//obtenemos la informacion de los metadatos
					if(idSelects.length>0)
					{
						obtenerMetaDocHer(idSelects);
					}

					//ceramos el modal
					$("#bloqueTablaModal").dialog().dialog('close');
					event.preventDefault();
				};

				buttonArray[textCancel()] = function(event) {			
					$("#bloqueTablaModal").dialog().dialog( 'close' );	
					event.preventDefault();
				};
		
		
		function obtenerMetaDocHer(idSelects)
		{
			var resultado=[];
			//recuperamos la info de la definición seleccionada
			console.log("Obtenemos los metadatos de la definicion:"+idSelects);
			var llamada =contexto()+'admin/getMetadatosDocSpecByidDocSpec.html?idDocsSpec='+idSelects;
			console.log("Realizamos la peticion:$.getJSON(contexto()+'admin/getMetadatosDocSpecByidDocSpec.html?idDocsSpec="+idSelects);
			$.getJSON(contexto()+'admin/getMetadatosDocSpecByidDocSpec.html?idDocsSpec='+idSelects
			, function( data ) {
				console.log("Respuesta recibida:");
				console.dir(data);
				//tratamos el resultado
				ii=0;
				for(i=0;i<data.length;i++)
				{
					
					
					resultado[ii]=[];		
					resultado[ii][0]="";
					resultado[ii][1]=data[i].specification;
					resultado[ii][2]=data[i].name;
					resultado[ii][3]=data[i].description;
					resultado[ii][4]="<input data-id=\""+data[i].id+"\" data-spec=\""+data[i].specification+"\" type=\"checkbox\" value=\""+data[i].editable+"\" disabled=\"true\">";
					resultado[ii][5]="<input type=\"checkbox\" value=\""+data[i].mandatory+"\" disabled=\"true\">";
					resultado[ii][6]="<input type=\"checkbox\" value=\""+data[i].isBatchId+"\" disabled=\"true\">";
					resultado[ii][7]="";
					if (data[i].defaultValue!=null)
					{
						resultado[ii][7]=data[i].defaultValue;
					}
					
					resultado[ii][8]="<input type=\"hidden\" id=\"listValHer"+data[i].name+"\" value='"+data[i].sourceValues+"'><a href=\"javascript:modalListValue('listValHer"+data[i].name+"')\"><span class=\"fas fa-search text-black-50\" aria-hidden=\"true\"></span></a>";
					resultado[ii][9]="";
					console.log("Prepara la linea a insertar");
					
					//verificamos antes de añadir que no exista previamente
					var COLUMN_TIPO_DOC = 1 ,COLUMN_METADATA=2;
					var actuales = $("#idTablaListMetaInherit").DataTable().rows().nodes().data();
					var insertar = true;
					console.log("comprobamos que no exista ningun tipo heredado ya previamente");
					for (a=0;a<actuales.length;a++)
					{
						if (actuales[a][COLUMN_TIPO_DOC] == data[i].specification && actuales[a][COLUMN_METADATA] == data[i].name)
						{
							//ya existe en la tabla, no insertamos
							insertar=false;
							break;
						}
					}
					console.log("Resultado de la comprobacion:"+insertar);
					if (insertar)
					{
						try{
							//lo añadimos y actualizamos la info asociada al node de la row										
							var node =$("#idTablaListMetaInherit").DataTable().row.add(resultado[ii]).draw(false).node();
							node.setAttribute('data-url',data[i].id);
							node.setAttribute('data-id',data[i].id);
							node.setAttribute('data-spec',data[i].specification);
							ii++;
						}
						catch(error)
						{
							console.log("Error al insertar en nuevo elemento heredado:"+resultado);
							console.log(error);
						}
					}
					$($("#idTablaListMetaInherit").DataTable().rows().nodes()).find('td').css('text-align','center');
					console.log("Terminada verificación e insertado en su caso el tipo");
				}
				console.log("Nuevos metadatos seleccionados:"+ resultado);								
			});
		
		}
		
		$("#bloqueTablaModal").dialog({
			title: langModalDocInher, 
			autoOpen: false,
			width: "700px",
			height: "auto",
			draggable: true,
			classes: {"ui-dialog": "highlight"},
			dialogClass: "no-close",
			modal : true, 
			closeOnEscape: false,						 
			buttons:buttonArray 
		});	
		
		
		console.log("[tablaModalDocument] Fin Configuramos idModalInher");
});

</script>

</th:block>

<!-- Fin Contenido de la pantalla de documentacion -->