<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
</head>
<body>
	<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<style>
	.espacioFila
	{
		height:10px;
	
	}
	.lineRowTrace
	{
		background-color:rgb(235, 235, 235);
		font-weight:700;
		color:#006232;
	}
	
	.fieldsetMinHeight
	{
		min-height:320px
	}
	
	</style>
		<!--  Principal-->
		 
		<fieldset class="border p-4">
			<legend class="p-1" th:utext="#{label.Audit}">Auditoria</legend>
		 
			<!-- Criterios de Filtrado -->
			<fieldset class="border p-4">
				<legend class="p-1" th:utext="#{label.Critery}">Criterios de filtrado</legend>
				<div class="row">
					<div class="col-md-6">
						<!-- Operaciones (Traza) -->
						<fieldset class="border p-4 fieldsetMinHeight" > 
							<legend class="p-1" th:utext="#{label.Trace}">Traza</legend>
							
								<div class="row">
									<div class="col-md-12">
										<span th:utext="#{label.Denomination}"></span>
									</div>
									<div class="col-md-12">
										<select class="col-md-12" style="overflow-x: initial;height: 120px;" id="denomTrace" multiple>
											<option th:each="denomTra : ${listDenomTraza}" 
												 th:utext="#{${denomTra}}"
												 th:value="${denomTra}">
											</option>										
										</select>	
									</div>
								</div>
								<!-- espacion entre filas -->
								<div class="row espacioFila">
								</div>
								<!-- fin espacion entre filas -->
								<div class="row">
									<div class="col-md-4">
										<span th:utext="#{label.State}"></span>
									</div>
									<div class="col-md-8">
										<select id="stateTrace">
											<option value="-1" th:utext="#{label.select}">Sel. Opt.</option>
											<option th:each="estadoTra : ${listEstadoTraza}" th:utext="#{${estadoTra}}" th:value="${estadoTra}"></option>										
										</select>
									</div>
								</div>
								
								<!-- espacion entre filas -->
								<div class="row espacioFila">
								</div>
								<!-- fin espacion entre filas -->
								
								<div class="row">
									<div class="col-md-4">
										<span th:utext="#{label.DateStateFrom}"></span>
									</div>
									<div class="col-md-8">
										<div class='input-group date' id='dateTimeFromTrace'>
											<input id="dateTimeFromTraceInput" type='text' class="form-control" />
											<span class="input-group-addon">
												<span class="fas fa-calendar-alt text-black-50"></span>
											</span>
										</div>								
									</div>
								</div>
								
								<!-- espacion entre filas -->
								<div class="row espacioFila">
								</div>
								<!-- fin espacion entre filas -->
								
								<div class="row">
									<div class="col-md-4">
										<span th:utext="#{label.to}"></span>
									</div>
									<div class="col-md-8">
										<div class='input-group date' id='dateTimeToTrace'>
											<input id="dateTimeToTraceInput" type='text' class="form-control" />
											<span class="input-group-addon">
												<span class="fas fa-calendar-alt text-black-50"></span>
											</span>
										</div>		
									</div>
								</div>
								<script type="text/javascript" th:inline="javascript">
									$(function () {
									
										//configuration date locale
										$('#dateTimeFromTrace').datetimepicker({
											locale: idLanguage()
										}); 
										
										$('#dateTimeToTrace').datetimepicker({
											locale: idLanguage()
										});
										$('#dateTimeFromTrace').data("DateTimePicker");
										$('#dateTimeToTrace').data("DateTimePicker");								
	
										
										$('#dateTimeFromTrace').datetimepicker();
										$('#dateTimeToTrace').datetimepicker({
											useCurrent: false //Important! See issue #1075
										});
										$("#dateTimeFromTrace").on("dp.change", function (e) {
											$('#dateTimeToTrace').data("DateTimePicker").minDate(e.date);
										});
										$("#dateTimeToTrace").on("dp.change", function (e) {
											$('#dateTimeFromTrace').data("DateTimePicker").maxDate(e.date);
										});
									});
								</script>					
	
								<!-- espacion entre filas -->
								<div class="row" style="min-height:10px">
								</div>
								<!-- fin espacion entre filas -->
								
								
								
						</fieldset>
						<!-- Fin Operaciones (Traza) -->
					</div>
					
					
					
					<div class="col-md-6">
					<!-- Eventos  -->
					<fieldset class="border p-4 fieldsetMinHeight" >
						<legend class="p-1" th:utext="#{label.Event}">Evento</legend>
						
							<div class="row">
								<div class="col-md-12">
									<span th:utext="#{label.Denomination}"></span>
								</div>
								<div class="col-md-12">
									<select class="col-md-12" style="overflow-x: initial;height: 120px;" id="denomEvent" multiple>
										<option th:each="denomEvento : ${listDenomEvento}" 
										th:utext="#{${denomEvento}}"
										th:value="${denomEvento}"></option>		
									</select>
								</div>
							</div>
							<!-- espacion entre filas -->
							<div class="row espacioFila">
							</div>
							<!-- fin espacion entre filas -->
						
							<div class="row">
								<div class="col-md-2">
									<span th:utext="#{label.State}"></span>
								</div>
								<div class="col-md-3">
									 <select id="stateEvent">
										<option value="-1" th:utext="#{label.select}">Sel. Opt.</option>
										<option th:each="stateEv : ${listEstadoEvento}" th:utext="#{${stateEv}}" th:value="${stateEv}"></option>		
									</select>
								</div>
								<div class="col-md-2">
									<span th:utext="#{label.User}"></span>
								</div>
								<div class="col-md-5">
									<input id="userEvent" type="text" />
								</div>
							</div>
							<!-- espacion entre filas -->
							<div class="row espacioFila">
							</div>
							<!-- fin espacion entre filas -->
							<!-- fin espacion entre filas -->
						
							<div class="row">
								<div class="col-md-4">
									<span th:utext="#{label.DateStateFrom}"></span>
								</div>
								<div class="col-md-8">
									<div class='input-group date' id='dateTimeFromEvent'>
										<input id="dateTimeFromEventInput" type='text' class="form-control" />
										<span class="input-group-addon">
											<span class="fas fa-calendar-alt text-black-50"></span>
										</span>
									</div>								
								</div>
							</div>
							<!-- espacion entre filas -->
							<div class="row espacioFila">
							</div>
							<!-- fin espacion entre filas -->
	
							<div class="row">
								<div class="col-md-4">
									<span th:utext="#{label.to}"></span>
								</div>
								<div class="col-md-8">
									<div class='input-group date' id='dateTimeToEvent'>
										<input id="dateTimeToEventInput" type='text' class="form-control" />
										<span class="input-group-addon">
											<span class="fas fa-calendar-alt text-black-50"></span>
										</span>
									</div>								
								</div>
							</div>
							<!-- espacion entre filas -->
							<div class="row espacioFila">
							</div>
							<!-- fin espacion entre filas -->
							<script type="text/javascript" th:inline="javascript">
							    $(function () {
									//configuration date locale
									$('#dateTimeFromEvent').datetimepicker({
										locale: idLanguage()
									});								
									$('#dateTimeToEvent').datetimepicker({
										locale: idLanguage()
									});
									$('#dateTimeFromEvent').data("DateTimePicker");
									$('#dateTimeToEvent').data("DateTimePicker");								
									
							    });
								
							</script>					
						
					</fieldset>		
					<!-- Fin Eventos  -->
					</div>
				</div>
				<div class="row" style="min-height:2px">
				</div>
				<!-- Botones  -->
				<div id="idButton" style="margin:5px; float:right">
					<input class="ui-button" id="filtrar" type="button" th:value="#{button.Filtrar}"/>
					<input class="ui-button" id="limpiar" type="button" th:value="#{button.Limpiar}"/>
				</div>		
				<!-- Fin Botones  -->
								
			</fieldset>
			<!-- Fin Criterios de Filtrado -->
			<!-- Resultados -->
			<fieldset class="border p-4">
				<legend class="p-1" th:utext="#{label.Logs}">Trazas</legend>
					<div class="row">
						
						<div class="col-md-6">
							<!--
							<label th:utext="#{label.NumRowFromPage}"></label>
							<select id="rowFromPage">
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="75">75</option>
								<option value="100">100</option>							
							</select>
							-->
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table id="resultAudit" style="width: 100%">
								<thead>
									<tr>
										<th th:utext="#{label.Trace}"></th>
										<th th:utext="#{label.StaOp}"></th>
										<th th:utext="#{label.DateOp}"></th>
										<th>ID</th>
										<th th:utext="#{label.Event}"></th>								
										<th th:utext="#{label.User}"></th>
										<th th:utext="#{label.DateEv}"></th>
										<th th:utext="#{label.StaEv}"></th>
										<th th:utext="#{label.InformAdd}"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>						
					</div>
					<!-- Paginación  -->
					<div class="row" style="min-height:10px">
					</div>
					<!-- Fin Paginación  -->
					<input type="button" id="generCSV" value="CSV"/>
					<input type="button" id="generEXCEL" value="Excel"/>
					<input type="button" id="generPDF" value="PDF"/>
			
			</fieldset>
			<!-- Fin Resultados -->		
			<script>
			$(document).ready(function() {
				
				//action de generar CSV
				$('#generCSV').on("click", function(){
					console.log("Pulsado boton csv");
					var params ={'file_name':'Informe auditoria', 'file_tipo':'csv'}; 
					callDownloadFile(params);							
					console.log( 'Button activated CSV' );
				});
				
				//action de generar CSV
				$('#generEXCEL').on("click", function(){
					var params ={'file_name':'Informe auditoria', 'file_tipo':'excel'}; 
					callDownloadFile(params);							
					console.log( 'Button activated Excel' );
				});
	
				//action de generar CSV
				$('#generPDF').on("click", function(){
					var params ={'file_name':'Informe auditoria', 'file_tipo':'pdf'}; 
					callDownloadFile(params);
					console.log( 'Button activated PDF' );			
				});
				
				//declaración de la tabla
				var tablaResult = $('#resultAudit').DataTable(
				{
					columnDefs: [{ "visible": false, "targets": 3 }],
					language: {"url": tableLanguage()},
					pagingType: "full_numbers",
					paging:true,
					ordering:true,
					//info:false,
					responsive:true,
					searching:false,
					processing: true,
					serverSide: true,
					ajax:
					{
						url: contexto()+'audit/auditOperations.html',
						type: 'POST',
						data:function (d)
						{
							d.denTrace = $('#denomTrace').val();
							d.stateTrace = $('#stateTrace').val();
							d.dateFromTrace = $('#dateTimeFromTraceInput').val();
							d.dateToTrace = $('#dateTimeToTraceInput').val();
	
							if($('#dateTimeFromTraceInput').val()!="")
								d.dateFromTrace = $('#dateTimeFromTrace').data("DateTimePicker").viewDate()._d.valueOf(); 
							if($('#dateTimeToTraceInput').val()!="")	
								d.dateToTrace = $('#dateTimeToTrace').data("DateTimePicker").viewDate()._d.valueOf(); 
							
							
							d.denEvent = $('#denomEvent').val();
							d.stateEvent = $('#stateEvent').val();
							d.userEvent =  $('#userEvent').val();
							
							d.dateFromEvent = $('#dateTimeFromEventInput').val();
							d.dateToEvent = $('#dateTimeToEventInput').val();
							
							if($('#dateTimeFromEventInput').val()!="")
								d.dateFromEvent = $('#dateTimeFromEvent').data("DateTimePicker").viewDate()._d.valueOf(); 
							if($('#dateTimeToEventInput').val()!="")
								d.dateToEvent = $('#dateTimeToEvent').data("DateTimePicker").viewDate()._d.valueOf(); 
							
							
							//revisar
							d.pageNumber=1;
							d.elementsPerPage=10;
							
							console.log('DATOS DE LALLAMADA DE AUDITORIA:');
							console.dir(d);
							
						},
						dataFilter: function ( data ) {
							console.log('callback :'+data);
							recargarMensajes();
							if (data=="")
							{
								data =JSON.stringify({"draw":7,"recordsTotal":0,"recordsFiltered":0,"data":[]});
							}
							return data;
						}
					},
					dom: 'Bfrtip',
					drawCallback: function (settings) {
						var api = this.api();
						var rows = api.rows({ page: 'current' }).nodes();
						var last = null;
						
						api.column(3, { page: 'current' }).data().each(function (group, i) {
						
							if (last !== group) {
	
								$(rows).eq(i).before(
										'<tr class="group"><td colspan="9" class="lineRowTrace" ></td></tr>'
								);
	
								last = group;
							}
						});
						
					}
					
				});
	
				function download(filename,type,  text) {
					var pom = document.createElement('a');
					pom.setAttribute('href', 'data:'+type+',' + encodeURIComponent(text));
					pom.setAttribute('download', filename);
	
					if (document.createEvent) {
						var event = document.createEvent('MouseEvents');
						event.initEvent('click', true, true);
						pom.dispatchEvent(event);
					}
					else {
						pom.click();
					}
				}			
				
				
				console.log("callDownloadFile");
				function callDownloadFile(params){
					console.log("Iniciando descarga de documento "+ params.file_name+"y tipo" + params.file_tipo + ".");
					//Build a form
					var form = $('<form></form>').attr('action', contexto()+'audit/getReportFile.html').attr('method', 'post');
					// Add the one key/value
					form.append($("<input></input>").attr('type', 'hidden').attr('name','_csrf').attr('value', $("input[name='_csrf']").val()));
					form.append($("<input></input>").attr('type', 'hidden').attr('name', 'file_name').attr('value', params.file_name));
					form.append($("<input></input>").attr('type', 'hidden').attr('name', 'file_tipo').attr('value', params.file_tipo));
					//send request
					form.appendTo('body').submit().remove();
					console.log("Documento tipo " + params.file_tipo + " descargado.");
				} 
				
				
				//
				$('#filtrar').click(function (event) {				
					$('#resultAudit').DataTable().draw();
					event.preventDefault();
				});
				
				$('#limpiar').click(function (event) {				
					$('#denomTrace').val('');
					$('#stateTrace').val('-1');
					$('#dateTimeFromTraceInput').val('');
					$('#dateTimeToTraceInput').val('');
					
					$('#denomEvent').val('');
					$('#stateEvent').val('-1');
					$('#userEvent').val('');
					$('#dateTimeFromEventInput').val('');
					$('#dateTimeToEventInput').val('');
					event.preventDefault();
				});
			} );
			</script>
		</fieldset>
	</th:block>
</body>
</html>
