<!-- <th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>


		<style type="text/css">
			.botonBox {
				float: right;
			}
			
			.dataTables_wrapper table thead {
				display: none;
			}
			
			table.dataTable.no-footer {
				border-bottom: none;
			}
		</style>
		
		<!-- <div id="contentBatchDocBox"  class="col-md-4" th:fragment="content"> -->
		<div id="contentBatchDocBox" th:fragment="content">
			<div class="row">
				<div class="botonBox col-md-12">
					<div class="text-right" style="margin-bottom: 15px;">
<!-- 						<a th:href="'javascript:depositAll('+${docBox.batchId}+')'" class="button"> -->
<!-- 							<span th:utext="#{label.depositAll}">Depositar todo</span> -->
<!-- 						</a> -->
						<button id="btnDepositAll" 
							class="ui-button ui-widget ui-corner-all">
							<span th:utext="#{label.depositAll}">Depositar todo</span>
						</button>
						<button id="btnCancelAll" class="ui-button ui-widget ui-corner-all">
							<span th:utext="#{label.cancelAll}">Cancelar Deposito</span>
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<fieldset  class="border p-4">
						<legend  class="p-1" th:utext="#{label.Documents}">Documentos</legend>			
		
						<table id="batchDocTable" class="display" style="width:100%">
								<thead>
									<tr>
										<th></th>
										<th th:utext="#{label.Document}">Documento</th>
										<th th:utext="#{label.Action}">Acciones</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="docBox : ${listDocBoxVO}">
										<td></td>
										<td th:utext="${docBox.id}">Documento</td>
										<td>
											<a id="downloadDocContentLink" th:href="'javascript:downloadDocContent('+${docBox.id}+')'" >
							 					<span class="fas fa-save text-black-50" aria-hidden="true"></span>
							 				</a>
											<a th:href="'javascript:loadMetadata('+${docBox.id}+', false, '+${docBox.batchId}+')'">
												<span class="fas fa-list-alt text-black-50" th:title="#{message.view.seeMetadata}" aria-hidden="true"></span>
											</a>
											<a th:href="'javascript:loadState('+${docBox.id}+','+${docBox.batchId}+')'">
												<span th:title="#{message.view.seeStatus}" class="fas fa-th text-black-50" aria-hidden="true"></span>
											</a>
									 	</td>
										<td></td>
									</tr>
								</tbody>
							</table>
					</fieldset>
				</div>
				<div class="col-md-8">
					<fieldset class="border p-4">
						<legend class="p-1">
							<span th:utext="#{message.view.seeDoc}" id="labelLegend"></span>
						</legend>
						<div id="viewMetadata"></div>
						<div id="viewState"></div>
					</fieldset>
				</div>
			</div>
			<script type="text/javascript" th:inline="javascript">
				var tableDocBox;
				var batchIdSel;
				
				$(function(){
					debugger;
					
					var batchIdDocs =$('#batchDocTable')[0].parentNode.parentNode.parentNode.parentNode.parentNode.id.split('_');
					//var batchId = $('.tab-pane.active')[0].id.split("_");
					batcIdSel=batchIdDocs[1];
					var newId = "batchDocTable_" + batchIdDocs[1];
					$("#batchDocTable").attr("id", newId);
					tableDocBox= $('#'+newId).DataTable( {
						"language": {"url": tableLanguage()},
						"pagingType": "full_numbers",
						"initComplete": function(settings, json) {
							console.log("Tabla documentos digitalizados terminada de cargar");
							//eliminamos el scroll inferior
							$('#idTabla_wrapper .dataTables_scrollBody').css("overflow-x","d-none");
							setTimeout(function(){
								$(".dataTables_scrollHeadInner > table:nth-child(1) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(7)").click();
							},500);
						},
						"lengthChange": true,
						"scrollY":       "20vh",
						"scrollCollapse": true,	
						"order": [ 1, 'desc' ],
						"bDestroy": true,
						columnDefs: [ {
							orderable: false,
							className:'select-checkbox',
							targets:   0
						},
						{
							className: 'control',
							orderable: false,
							targets:   -1
						}],
						select: {
							style:'os',
							selector: 'td:first-child',
							multi:true
						},
						responsive: {
							details: {
								type: 'column',
								target: -1
							}
						}
						
					});
					// Al seleccionar una fila, se carga la interfaz de visualización del documento
					// Añadimos caso en el que si seleccionamos una fila que ya ha sido seleccionada 
					// no se va a deseleccionar a no ser que seleccionemos otra fila distinta
					tableDocBox.on( 'select', function ( e, dt, type, indexes ) {
						$('#docsTable tr[data-doc-id='+documentId+']').removeClass('selected');
						
						var rowSelected = tableDocBox.row(indexes[0]).data();
						docSelect = rowSelected[0];
						if ( docSelect == documentId ){
							$('#docsTable tr[data-doc-id='+docSelect+']').addClass('selected');
						}else {
							$('#docsTable tr[data-doc-id='+docSelect+']').removeClass('selected');
						}
						documentId = docSelect;
						loadDoc(docSelect, rowSelected[5]);
					} );
					
					tableDocBox.on( 'deselect', function ( e, dt, type, indexes ) {
						$('#docsTable tr[data-doc-id='+documentId+']').removeClass('selected');
						
						var rowDeselected = tableDocBox.row(indexes[0]).data();
						docDeselect = rowDeselected[0];
						if ( docDeselect == documentId ){
							$('#docsTable tr[data-doc-id='+docDeselect+']').addClass('selected');
						}else {
							$('#docsTable tr[data-doc-id='+docDeselect+']').removeClass('selected');
						}
						documentId = docDeselect;
					} );
					
					// Seleccionamos el primer documento y lo visualizamos en pantalla
					tableDocBox.row(0).select();
				});
	
				// Pantalla metadatos
				function loadMetadata(docId, editable,batchId) {
					debugger;
					documentId = docId;
					$('#docsTable tr[data-doc-id='+docId+']').addClass('selected');
					$.ajax({
						url : contexto()
								+ 'docBox/getMetadataContent.html',
						type : 'POST',
						data : {
							'_csrf':$("input[name='_csrf']").val(),
							'docId' : documentId,
							'editable' : editable
						},
						success : function(data) {
							if(data != "" && $(data).filter("input[id='respWithError']").val()=='true'){
								messageBase ([[#{docBox.error.title}]],data);						
							} else {
								$('#tabPane_'+batchId+' #viewMetadata').removeClass("d-none");
								$('#tabPane_'+batchId+' #viewState').addClass("d-none");
								//$('#tabPane_'+batchId+' #viewPDF').addClass("hidden");
								$('#tabPane_'+batchId+' #labelLegend').text([[#{message.view.seeMetadata}]]);
								view = 'loadMetadata';
								
								$('#tabPane_'+batchId+' #viewMetadata').html(data);
							}
						},
						error : function(data) {
							console
									.log("ERROR recuperando los metadatos del documento: "
											+ documentId);
							if(data != "" && $(data).filter("input[id='respWithError']").val()=='true'){
								messageBase ([[#{docBox.error.title}]],data);						
							}
						}
					});
				}

				/* // Pantalla metadatos
				function loadMetadata(docId, editable) {
					debugger;
					documentId = docId;
					$('#docsTable tr[data-doc-id='+docId+']').addClass('selected');
					$.ajax({
						url : contexto()
								+ 'docBox/getMetadataContent.html',
						type : 'POST',
						data : {
							'_csrf':$("input[name='_csrf']").val(),
							'docId' : documentId,
							'editable' : editable
						}
					});
				} */
				
				//Pantalla estados		
				function loadState(docId,batchId) {
					debugger;
					documentId = docId;
					$('#docsTable tr[data-doc-id='+docId+']').addClass('selected');
					$.ajax({
						url : contexto()
								+ 'docBox/getStatusContent.html',
						type : 'POST',
						data : {
							'_csrf':$("input[name='_csrf']").val(),
							'docId' : documentId
						},
						success : function(data) {	
							if(data != "" && $(data).filter("input[id='respWithError']").val()=='true'){
								messageBase ([[#{docBox.error.title}]],data);						
							} else {
								$('#tabPane_'+batchId+' #viewMetadata').addClass("d-none");
								$('#tabPane_'+batchId+' #viewState').removeClass("d-none");
								$('#tabPane_'+batchId+' #labelLegend').text([[#{message.view.seeStatus}]]);
								view = 'loadState';
			
								$('#tabPane_'+batchId+' #viewState').html(data);
							}
						},
						error : function(data) {
							console
									.log("ERROR recuperando los metadatos del documento: "
											+ documentId);
							if(data != "" && $(data).filter("input[id='respWithError']").val()=='true'){
								messageBase ([[#{docBox.error.title}]],data);						
							}
						}
					});
				}	
				function downloadDocContent(docId){
					console.log("Iniciando descarga de documento " + docId + ".");
					//Build a form
					var form = $('<form></form>').attr('action', contexto()+'docBox/getDocContent.html').attr('method', 'post');
					// Add the one key/value
					form.append($("<input></input>").attr('type', 'hidden').attr('name','_csrf').attr('value', $("input[name='_csrf']").val()));
					form.append($("<input></input>").attr('type', 'hidden').attr('name', 'docId').attr('value', docId));
					//send request
					form.appendTo('body').submit().remove();
					console.log("Documento " + docId + " descargado.");
				}
				
				//function depositAll(batchId){
				$('#btnDepositAll').click(
					function(event) {
						debugger;
							
					var rowSelected = tableDocBox.row('.selected');
					showModalWait();
					$.ajax({
						url : contexto()+'docBox/storeBatch.html',
						type : 'post',
						data : {'_csrf':$("input[name='_csrf']").val(),
								'batchId':batcIdSel
						},
						success : function(httpResponse) {
							var rowSelectedData = rowSelected.data();
							hiddenModalWait();
							if(httpResponse != "" && $(httpResponse).filter("input[id='respWithError']").val()=='true'){
								messageBase ([[#{docBox.error.title}]],httpResponse);
								if (view == 'loadState'){
									loadState(rowSelectedData[0]);
								}
							} else {
								//La función recargarMensajes debe ser invocada antes que la función RequestMainLoad
								recargarMensajes();
								RequestMainLoad(null,null);
							}
							console	.log("Documento/s digitalizado/s depositados correctamente.");
						},
						error : function(res) {
							hiddenModalWait();
							recargarMensajes();
							console	.log("Error depositando el/los documento/s digitalizado/s.");
						}
					});
					event.preventDefault();
				});

				$('#btnCancelAll')
					.click(
						function(event) {
							showModalWait();
							$.ajax({
								url : contexto()
										+ 'docBox/cancelScanWork.html',
								type : 'POST',
								data : {
									'_csrf' : $("input[name='_csrf']")
											.val()
								},
								success : function(res) {
									hiddenModalWait();
									if(res != "" && $(res).filter("input[id='respWithError']").val()=='true'){
										messageBase ([[#{docBox.error.title}]],res);
									} else {
										//La función recargarMensajes debe ser invocada antes que la función RequestMainLoad
										recargarMensajes();
										RequestMainLoad(null,null);
									}
								},
								error : function(res) {
									console.log("Error cancelando el/los documento/s digitalizado/s");
									hiddenModalWait();
									recargarMensajes();
								}
							});
							event.preventDefault();
						});


			</script>

			</script> 
		</div>	
	</body>
</html>