<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<style>
/* 	.dataTables_wrapper table thead {
		display: none;
	} */

	table.dataTable.no-footer {
		border-bottom: none;
	}
</style>

	<div class="col-sm-12 col-md-12">
		<div>
			<div class="col-sm-12 col-md-12 row text-right"
				style="margin-bottom: 15px;">
				<button th:if="${resStatusCont.actionRecovery == true}"
					id="btnRecovery" class="ui-button ui-widget ui-corner-all"
					th:onclick="|actionRecovery('${resStatusCont.auditOperationId}', '${resStatusCont.documentId}')|">
					<span th:utext="#{button.actionRecovery}">Accion recuperable</span>
				</button>
			</div>
			<table id="statusTable" class="display"
				style="cellspacing: 0; width: 100%;">
				<thead>
					<tr>
						<th>Orden</th>
						<th th:utext="#{label.stage}">Fase</th>
						<th th:utext="#{label.date}">Fecha</th>
						<th th:utext="#{label.stageResult}">EventName</th>
						<th>EventData</th>
						<th>Check?</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="status : ${resStatusCont.statusContents}">
						<td th:text="${status.order}"></td>
						<td th:text="#{${status.stage}}"></td>
						<td th:text="*{#calendars.format(status.eventDate,'dd/MM/yyyy HH:mm')}"></td>
						<td th:text="${status.eventName}"></td>
						<td th:text="${status.eventData}"></td>
						<td th:if="${status.check}"><span
							class="fas fa-check text-black-50" aria-hidden="true"></span></td>
						<td th:if="${status.check == false or status.check == ''}"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript">
		var tableStatus;

		$(function() {
			debugger;
			var batchId = $('.tab-pane.active')[0].id.split("_");
			var newId = "statusTable_" + batchId[1]
			$("#statusTable").attr("id", newId);
			tableStatus = $('#'+newId).dataTable(
				{
					"pagingType" : "full_numbers",
					"initComplete" : function(settings, json) {
						$('#statusTable_wrapper .dataTables_scrollBody')
								.css("overflow-x", "hidden");
						$('#statusTable_length').addClass("hidden");
						$('#statusTable_filter').addClass("hidden");
						$('#statusTable_info').addClass("hidden");
						$('#statusTable_paginate').addClass("hidden");
					},
					"columnDefs" : [ {
						"visible" : false,
						"targets" : [ 0, 3 ]
					} ],
					"order" : [ 0, "asc" ],
					responsive : {
						details : {
							type : 'column',
							target : -1
						}
					}

				});

		});

		function actionRecovery(auditOp, docId) {

			$.ajax({
				url : contexto()
						+ 'docBox/getActionRecovery.html',
				type : 'POST',
				data : {
					'auditOp' : auditOp,
					'docId' : docId
				},
				success : function(data) {				
					$("#content").html(data);
					loadState(docId);
				},
				error : function(data) {
					console
							.log("ERROR recuperando los estados del documento auditOp: "
									+ auditOp);
				},
				complete : function() {
					recargarMensajes();
				}
			});
		}
	</script>

