<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<div class="col-sm-12 col-md-12">
		<div>
			<div class="col-sm-12 col-md-11 text-right"
				style="margin-bottom: 20px;">
				<button id="btnEditMetadata"
					class="ui-button ui-widget ui-corner-all">
					<span th:utext="#{button.Edit}">Editar</span>
				</button>
				<button id="btnSeeAllMetadata"
					class="ui-button ui-widget ui-corner-all">
					<span id="seeAllMeta" th:utext="#{button.seeAll}">Mostrar
						Todos</span>
				</button>
				<button id="btnSaveMetadata"
					class="ui-button ui-widget ui-corner-all">
					<span th:utext="#{button.Save}">Guardar</span>
				</button>
				<button id="btnCancelMetadata"
					class="ui-button ui-widget ui-corner-all">
					<span th:utext="#{button.Cancel}">Cancelar</span>
				</button>
			</div>
			<div class="row"></div>
			<div th:if="${listEdit eq false}">
				<div class="col-sm-12 col-md-12 row">
					<span class="text-center" th:utext="#{message.error.noMetadataEdit}">El documento no dispone de metadatos editables</span>
				</div>
			</div>
			<div th:if="${not #lists.isEmpty(tblUserList)}">
				<div class="col-sm-12 col-md-12 row">
					<span class="text-center" th:utext="#{message.error.noMetadataDoc}">El
						documento no dispone de metadatos para ser mostrados</span>
				</div>
			</div>
			<div th:if="${#lists.isEmpty(tblUserList)}">
				<div class="col-sm-12 col-md-12 row" th:each="meta : ${mapMetadata}">
					<div class="row vertical-align">
						<!-- nombre del metadato -->
						<div th:name="metasItem"
							th:attr="data-item-editable=(${meta.key.editable})? 'true' : 'false'"
							class="col-sm-4 col-md-4"
							th:text="${meta.key.description}+( (${meta.key.mandatory})? ' (*)' : '')">
						</div>
						<!-- fin nombre del metadato -->

						<!-- elemento de seleccion o textarea -->
						<!-- textarea -->
						<div th:name="metasItem"
							th:attr="data-item-editable=(${meta.key.editable})? 'true' : 'false'"
							class="col-sm-8 col-md-8"
							style="margin-bottom:5px;"
							th:if="${meta.key.sourceValues==null or #strings.equals(meta.key.sourceValues, '[]')}">
							<textarea
								th:attr="data-item-id=${meta.key.id},data-item-type='text'"
								name="metaVal${meta.key.id}" th:text="${meta.value.value}"
								rows="5" style="min-width: 100%"
								th:disabled="!${meta.key.editable and editable}"></textarea>
						</div>
						<!-- fin textarea -->
						<!-- combo de valores JSON -->
						<div th:name="metasItem"
							th:attr="data-item-editable=(${meta.key.editable})? 'true' : 'false'"
							class="col-sm-8 col-md-8"
							th:if="${meta.key.sourceValues!=null and !#strings.equals(meta.key.sourceValues, '[]')}"
							th:id="'sourceValues'+${meta.key.id}">

							<script th:inline="javascript">
							/*<![CDATA[*/

								createComboJSON([[${meta.key.id}]], [['sourceValues'+${meta.key.id}]], [[${meta.key.sourceValues}]], [[${meta.value.value}]],[[${meta.key.editable}]], [[${editable}]] )
								
							/*]]>*/
							</script>
						</div>
						<!-- fin combo de valores JSON -->
						<!-- fin elemento de seleccion o textarea -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	
	var editMetadata = [[${editable}]];
	
	$(function(){
		$("div[name='metasItem'][data-item-editable='false']").css('display','none');
	});
	
	$('#btnEditMetadata').click(function(event){
		debugger;
		var batchIdDocs =$('#contentBatchDocBox')[0].parentNode.id.split('_');
		//var batchId = $('.tab-pane.active')[0].id.split("_");
		batcIdSel=batchIdDocs[1];
		

		loadMetadata(documentId, true,batcIdSel);
	});

	$('#btnSeeAllMetadata').click(function(event){
		debugger;
		$("div[name='metasItem'][data-item-editable='false']").css('display','flex');
	});

	$('#btnSaveMetadata').click(function(event){
		var info=[];
		
		var idDocBox = documentId;
		//obtenemos todos los metas identificados por el item type
		var selects =$("select[data-item-type='select']");
		//obtenemos todos los textareas identificados por el item type
		var texts =$("textarea[data-item-type='text']");	
		
		//preparamos el objeto de respuesta, solo enviamos la información seleccinada	
		for(a=0;a<selects.length;a++){
			var aux={};
			aux.idMeta=$(selects[a]).attr('data-item-id');
			aux.valor=$(selects[a]).val();
			if (aux.valor!=-1){
				info.push(aux);
			}
		}
		
		for(a=0;a<texts.length;a++){
			var aux={};
			aux.idMeta=$(texts[a]).attr('data-item-id');
			aux.valor=texts[a].value;		
			if (aux.valor!=""){
				info.push(aux);
			}
		}

		$.ajax({
			url:contexto()+'docBox/saveEditMetadata.html',
			type:'POST',
			data:{ 'docId': documentId, 
				   'datos': info,
				   'editable': editMetadata},
			success: function(data){
				if(data != "" && $(data).filter("input[id='respWithError']").val()=='true'){
					messageBase ('[[#{docBox.error.title}]]',data);						
				} else {
					recargarMensajes();
					$('#viewMetadata').html(data);
				}
			},
			error:function (data){
				console.log("ERROR guardando los metadatos del documento: " + documentId);
			}
		});
	});

	$('#btnCancelMetadata').click(function(event){
		debugger;
		var batchIdDocs =$('#contentBatchDocBox')[0].parentNode.id.split('_');
		//var batchId = $('.tab-pane.active')[0].id.split("_");
		batcIdSel=batchIdDocs[1];
		

		loadMetadata(documentId, false,batcIdSel);
	});
		
	</script>

</th:block>