<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<script th:inline="javascript">
var heightDivPreview = 370;//'70%';
var widthtDivPreview = 470;//'70%';



/*<![CDATA[*/
	var docBoxSelect =
	{
		scannedDoc : /*[[${docBoxSelect == null} ? null : ${docBoxSelect}]]*/
	};
	
/*]]>*/

//funciones auxiliares
function createComboJSON (idMetaDocBox, father, values, defaultVal, editable, editView)
{
	var parse = JSON.parse(values);
	pruebas =parse;
	
	//creamos la nueva select
	var selectNew;
	if(editable && editView)
	{
		selectNew = $("<select id=\""+father+"\" name=\"selectName\" style=\"width:100%\"/  data-item-id=\""+idMetaDocBox+"\" data-item-type='select' >");
	}
	else
	{
		selectNew = $("<select id=\""+father+"\" name=\"selectName\" disabled style=\"width:100%\"/  data-item-id=\""+idMetaDocBox+"\" data-item-type='select' >");
	}
	
	//option for default
	$("<option value ='-1' selected>Sel. Opt.</option>").appendTo(selectNew);
	
	
	for(i=0;i<$(parse).length;i++) {
		$("<option />", {value: $(parse)[i].key, text: $(parse)[i].value}).appendTo(selectNew);
		if (defaultVal == $(parse)[i].key)
		{
			//removemos previa select
			$(selectNew).val($(parse)[i].key);
		}
	}		
	selectNew.appendTo('#'+father);
	
	
}

$('#refreshBox').click(function(event)
{	
	console.log("Refrescamos la pagina");
	RequestLoad("docBox/docBox.html" , "GET", null, null, "#content");
	event.preventDefault();
});

</script>
<style>
	label[for='metaReq']
	{
		margin-bottom: 10px;
	}
	.metaEditDocBoxCss fieldset
	{
		margin-left: 15px!important;
		margin-right:15px!important;
	}
</style>

<div id="contentDocBox" class="col-sm-12" style="float: none;margin: 0 auto;">
	<div th:if="${docBoxSelect}!=null" >
		<fieldset class="border p-4">
			<legend  class="p-1">[[#{label.EditDoc}+' ']]<span id="legendaEdit"></span></legend>					
				<div style="text-align: right;margin-bottom: 10px;margin-right: 5px">								
					<button th:attr="data-id-docbox=${docBoxSelect.id}" id="docBoxDownloadDoc" class="ui-button ui-widget ui-corner-all" >
						<span th:utext="#{button.DownloadDoc}">Descargar documento</span>
					</button>
				</div>	
				<div class="row">
					<div class="col-sm-12 col-md-12 metaEditDocBoxCss">
						<div class="row">						
						<!--[[#{label.Metadata}+' - ']]-->
							<fieldset class="border p-4">
								<legend  class="p-1"><input id="metaReq" type="checkbox"/> <label for="metaReq" th:utext="#{label.ReqEditDocMeta}">Mostrar requeridos editables exclusivamente</label></legend>
								<!-- Metadatos -->
								<div class="col-sm-12 col-md-12 listMetaEditDocBoxCss">						
									<div>
										<div class="col-sm-12 col-md-12" th:each="meta : ${docBoxSelect.mapMetadatos}">
											<div class="row vertical-align" >
												<!-- nombre del metadato -->
												<div th:name="metasItem" th:attr="data-item-required-editable=(${meta.key.mandatory and meta.key.editable})? 'true' : 'false'"  class="col-sm-4 col-md-4" th:text="${meta.key.description}+( (${meta.key.mandatory})? ' (*)' : '')"></div>
												<!-- fin nombre del metadato -->
												
												<!-- elemento de seleccion o textarea -->
												<!-- textarea -->
												<div th:name="metasItem" th:attr="data-item-required-editable=(${meta.key.mandatory and meta.key.editable})? 'true' : 'false'" class="col-sm-8 col-md-8" th:if="${meta.key.sourceValues==null or #strings.equals(meta.key.sourceValues, '[]')}">
													<textarea th:attr ="data-item-id=${meta.key.id},data-item-type='text'" name="metaVal${meta.key.id}" th:text="${meta.value.value}" rows="5" style="min-width: 100%" th:disabled="!${meta.key.editable and editable}"></textarea>
												</div>
												<!-- fin textarea -->
												<!-- combo de valores JSON -->
												<div th:name="metasItem" th:attr="data-item-required-editable=(${meta.key.mandatory and meta.key.editable})? 'true' : 'false'" class="col-sm-8 col-md-8" th:if="${meta.key.sourceValues!=null and !#strings.equals(meta.key.sourceValues, '[]')}"  th:id="'sourceValues'+${meta.key.id}">	
													<script th:inline="javascript">
													/*<![CDATA[*/
				
													createComboJSON([[${meta.key.id}]], [['sourceValues'+${meta.key.id}]], [[${meta.key.sourceValues}]], [[${meta.value.value}]],[[${meta.key.editable}]], [[${editable}]] )
														
													/*]]>*/
													</script>
												</div>
												<!-- fin combo de valores JSON -->
											<!-- fin elemento de seleccion o textarea -->											
											</div>
											<!-- espacion entre metadatos-->
											<div class="row" style="height:5px"></div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
				<div id="editDocButtons" style="min-height:15px; float:right">						
					<!-- Botones para la visualización y edición de documentos -->						
					<button th:if ="${editable}" th:attr="data-id-docbox=${docBoxSelect.id}" id="saveMetaDocBox" class="ui-button ui-widget ui-corner-all" style="top: 12px;">
						<span th:utext="#{button.Save}">Guardar</span>
					</button>
					<button th:if ="${editable}" id="cancelMetaDocBox" class="ui-button ui-widget ui-corner-all" style="top: 12px;">
						<span th:utext="#{button.Cancel}">Cancelar</span>
					</button>						
				</div>
		</fieldset>
	</div>
</div>
<script>
	//funcionalidad de botones
	$('#metaReq').on("click", function(){
			debugger;
			console.log("Pulsado metaReq");
			if (this.checked)
			{
				console.log("Seleccionado sólo mostrar requeridos");
				//no podemos usar propiedad hidden debido a que al usar bootstrap, el comportamiento no esperado
				$("div[name='metasItem'][data-item-required-editable='false']").css('display','none');
			}
			else
			{
				console.log("mostrar todos");
				$("div[name='metasItem'][data-item-required-editable='false']").css('display','flex');
			}
	});
	
	
	$('#docBoxDownloadDoc').click(function(event){
		var res = false;
		console.log("Se inicia la descarga de un documento");
		//obtenemos el id del docbox
		var docId = $('#docBoxDownloadDoc').attr('data-id-docbox');
		console.log("Documento " + docId);
		
		if(docId != null){
			downloadDocContent(docId);
			res = true;
		} else {
			console.log("Identificador de documento no obtenido.");
		}
		
		event.preventDefault();	
		
		return res;
	});
	
	$('#saveMetaDocBox').click(function(event){
		console.log("salvamos los cambios");
		continueSaveAfterOK();
	});
	
	function continueSaveAfterKO(){
		//no hacemos nada
		console.log("Ha sido rechazado el guardar la informacion");
	}
	
		
	function continueSaveAfterOK(){
		var info=[];
		
		//debugger;
		//obtenemos el id del docbox
		var idDocBox = $('#saveMetaDocBox').attr('data-id-docbox');
		//obtenemos todos los metas identificados por el item type
		var selects =$("select[data-item-type='select']");
		//obtenemos todos los textareas identificados por el item type
		var texts =$("textarea[data-item-type='text']");	
		
		//preparamos el objeto de respuesta, solo enviamos la información seleccinada	
		for(a=0;a<selects.length;a++)
		{
			//console.log("item: "+$(selects[a]).attr('data-item-id') +" -valor:"+$(selects[a]).val());
			var aux={};
			aux.idMeta=$(selects[a]).attr('data-item-id');
			aux.valor=$(selects[a]).val();
			if (aux.valor!=-1)
			{
				info.push(aux);
			}
			
		}
		
		console.log("Textarea");
		for(a=0;a<texts.length;a++)
		{
			//console.log("item: "+$(texts[a]).attr('data-item-id') +" -valor:"+texts[a].value);
			var aux={};
			aux.idMeta=$(texts[a]).attr('data-item-id') ;
			aux.valor=texts[a].value;		
			if (aux.valor!="")
			{
				info.push(aux);
			}
		}
		
		console.log("info obtenida:");
		console.dir(info);
	
		var editDocBox = {editDocBox:{'idDocBox':idDocBox, 'datos':info}};
		console.log("Send data:");
		console.log(editDocBox);
	
		$('#contentDocBox').load(
				contexto()+'docBox/saveEditDocBox.html',
				{
					'_csrf':$("input[name='_csrf']").val(),
					'idDocBox':idDocBox, 
					'datos':info
				}, 
				function ()
				{
					console.log("Finalizada la llamada saveEditDocBox");
					recargarMensajes();	
					numEditDocBox(idDocBox);
				}
		);
	};
	
	$('#cancelMetaDocBox').click(function(event){
		console.log("Cancelar la info cargada");
	});
	
	
</script>
</th:block>


<th:block th:fragment="contentTableDocBox" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<style>
	.botonBox
	{
		float:right;
	}
</style>
<div id="messagePantalla" title="Mensaje"></div>


<div>
	<div>
		<ul class="nav nav-tabs" id="tabs">
	        <li class="nav-item">
	            <a href="#procBox" class="nav-link active" data-toggle="tab" id="tabProcess">Procesos</a>
	        </li>
	    </ul>
    </div>



    <div class="tab-content">
        <div class="row">
			<div class="col-md-12" style="height:20px">
			</div>
		</div>
<!-- 		<div class="tab-pane fade col-sm-11" style="float: none;margin: 0 auto;" id="scannedDoc" th:insert="fragments/docBox/content_ScannedDoc :: content">
			<span>Prueba</span>
		</div>
 -->        
        <div class="tab-pane fade show active col-sm-11" style="float: none;margin: 0 auto;" id="procBox">
        
      		<table id="idTabla" class="display" style="cellspacing:0;width:100%;">
				<thead>
					<tr>
						<th></th>
						<th th:utext="#{label.ScanUser}" >Usuario captura</th>
						<th th:utext="#{label.ScanDate}">Fecha captura</th>
						<th th:utext="#{label.Process}">Proceso</th>
						<th th:utext="#{label.NumDocuments}">Número Documentos</th>
						<th th:utext="#{label.Action}">Acciones</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					 <tr th:each="batch : ${listBatchVO}">
						 <td ></td>
						 <td th:text="${batch.username}"></td>
						 <td th:text="${batch.startDate}"></td>
							 <td id="identificatorBatch" th:text="${batch.batchNameId}"></td>
						 <td th:text="${batch.numDocs}"></td> 
						
						 <td>
						 	<div class="row">
						 		<div class="col-md-3">
									<a id="digitProcess" th:href="'javascript:openDocsByBatch('+${batch.id}+')'">
							 			<span class="fas fa-layer-group text-black-50" aria-hidden="true"></span>
							 		</a>	
						 		</div>
						 		<div class="col-md-3">
								 	<a th:href="'javascript:editDocBox('+${batch.id}+')'" >
								 		<span class="fas fa-edit text-black-50"></span>
								 	</a>
							 	</div>
							 	<div class="col-md-3">
									<a id="downloadDocContentLink" th:href="'javascript:downloadDocContent('+${batch.id}+')'" >
							 			<span class="fas fa-save text-black-50" aria-hidden="true"></span>
							 		</a>	
						 		</div>
							</div>
						 </td>
					 <td ></td>
					</tr>        
				</tbody>
       		</table>
     		<div class="row">
				<div class="col-md-12" style="height:20px">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-11" style="float: none;margin: 0 auto;">
				   <div id="idButtons" class="botonBox">
						  <button id="putButton" class="ui-button ui-widget ui-corner-all">
				    			<span th:utext="#{button.Put}">Depositar</span>
				  		  </button>
				
						  <button id="reStart" class="ui-button ui-widget ui-corner-all">
				    			<span th:utext="#{button.Restart}">Reanudar</span>
				  		  </button>
			
						  <button id="removeDoc" class="ui-button ui-widget ui-corner-all">
				    			<span th:utext="#{button.Remove}">Eliminar</span>
				  		  </button>
					</div>
				</div>
			</div>
       		
   		</div>
	</div>
</div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	var totalData = /*[[${listDocBoxVO}]]*/;
/*]]>*/
//console.dir(totalData);
$(document).ready(function () {
	$( "#idDocBoxMainScreen" ).tabs();
	//activamos la primera pestanya
	$('#idBathGeneration>a').trigger('click');
});

function numEditDocBox(id)
{
	var nuevo = ' Nº '+id;
	$('#legendaEdit').html(nuevo);
	//activamos sólo los requeridos
	$('#metaReq').prop('checked', true);
	$("div[name='metasItem'][data-item-required-editable='false']").css('display','none');
}

function loadEditDocBox(id)
{
	$('#contentDocBox').load(contexto()+'docBox/getViewDocBox.html',	
	{
		'_csrf':$("input[name='_csrf']").val(),
		'idDocBox':id
	}, function (){
		numEditDocBox(id);
	});
}

function editDocBox(id)
{
	$('#contentDocBox').load(contexto()+'docBox/getEditDocBox.html',	
	{
		'_csrf':$("input[name='_csrf']").val(),
		'idDocBox':id
	}, function (){
		numEditDocBox(id);
	});
}

$('#downloadDocContentLink').click(function(){
	console.log( "Eliminar pulsado!" );
});

function downloadDocContent(docId){
	console.log("Iniciando descarga de documento " + docId + ".");
	//Build a form
	var form = $('<form></form>').attr('action', contexto()+'docBox/getDocContent.html').attr('method', 'post');
	// Add the one key/value
	form.append($("<input></input>").attr('type', 'hidden').attr('name','_csrf').attr('value', $("input[name='_csrf']").val()));
	form.append($("<input></input>").attr('type', 'hidden').attr('name', 'docId').attr('value', docId));
	//send request
	form.appendTo('body').submit().remove();
	console.log("Documento " + docId + " descargado.");
}
//RMF

function openDocsByBatch(batchId){
	var id = $(".nav-tabs").children().length; 
    debugger;
	if (id <= 5)
	{
		//Comprobamos si ya se ha abierto el lote
		if (document.getElementById("tabPane_" + batchId)){
			$('.nav-tabs a[href="#tabPane_' + batchId + '"]').tab('show');
		}else{
		  	// create the tab
		  	$('<li class="nav-item"><a href="#tabPane_' + batchId + '" class="nav-link"  data-toggle="tab" id="batch_'+batchId+'"  >'+batchId+'</a><span>x</span></li>').appendTo('#tabs');
		  	
		  	// create the tab content
		  	$('<div class="tab-pane fade" id="tabPane_' + batchId +'">Prueba</div>').appendTo('.tab-content');
		  	
		  	$('#tabPane_' + batchId).load(contexto()+'docBox/getDocsByBatch.html',	
					{
						'_csrf':$("input[name='_csrf']").val(),
						'batchId': batchId
					});
			
		  	// make the new tab active
		  	$('#tabs a:last').tab('show');			
		}
	}else{
		messageBase(tituloWarning(),[[#{scandoc.warning.maxopendigitprocess}]]);
	}	
}

$('#batchDocTable').dataTable( {
	"language": {"url": tableLanguage()},
	"pagingType": "full_numbers",
	"order": [ 1, "desc" ],
	"lengthChange": false,
	"scrollY":        "20vh",
	"scrollCollapse": true,						
	"initComplete": function(settings, json) {
		console.log("Tabla terminada de cargar");
	},
	columnDefs: [ {
		orderable: false,
		className:'select-checkbox',
		targets:   0
	},{
		className: 'control',
		orderable: false,
		targets:   -1
	}
	],
	select: {
		style:'os',
		selector: 'td:first-child',
		multi:true
	},
	responsive: {
		details: {
			type: 'column',
			target: -1
		}
	}
});
/* $('#digitProcess').click(function(e) {
	debugger;
	e.preventDefault();
	var id = $(".nav-tabs").children().length; 
    
	if (id <= 5)
	{
		// create the tab
		$('#tabProcess').closest('li').after('<li class="nav-item"><a href="#contact_'+id+'" class="nav-link"  id="Tab_'+id+'" data-toggle="tab" >Tab '+id+'</a><span>x</span></li>');

		// create the tab content
		$('.tab-content').append('<div class="tab-pane fade" id="contact_'+id+'">Contact Form: New Contact '+id+'</div>');
		// th:insert="fragments/docBox/content_ScannedDoc :: content"
		//$('.tab-content').append('<div id="scannedDoc" th:insert="fragments/docBox/content_ScannedDoc :: content"></div>');
		
		// make the new tab active
		$('.nav-tabs a[href="#contact_' + id + '"]').tab('show')
	}else{
		messageBase(tituloWarning(),[[#{scandoc.warning.maxopendigitprocess}]]);
	}
    
});
 */
	$(".nav-tabs").on("click", "a", function(e){
		e.preventDefault();
		$(this).tab('show');
    })
    .on("click", "span", function () {
    	var anchor = $(this).siblings('a');
        $(anchor.attr('href')).remove();
        $(this).parent().remove();
        $(".nav-tabs li").children('a').first().click();
        //e.preventDefault();
          
    });

</script>




		
<script type="text/javascript">
var tableDocBox;

$(function(){
		
	tableDocBox= $('#idTabla').dataTable( {
		"language": {"url": tableLanguage()},
		"pagingType": "full_numbers",
		"initComplete": function(settings, json) {
			console.log("Tabla documentos digitalizados terminada de cargar");
			//eliminamos el scroll inferior
			$('#idTabla_wrapper .dataTables_scrollBody').css("overflow-x","hidden");
			setTimeout(function(){
				$(".dataTables_scrollHeadInner > table:nth-child(1) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(7)").click();
			},500);
		},
		"lengthChange": true,
		"scrollY":       "20vh",
		"scrollCollapse": true,	
		"order": [ 1, 'desc' ],
		"bDestroy": true,
		columnDefs: [ {
			orderable: false,
			className:'select-checkbox',
			targets:   0
		},
		{
			className: 'control',
			orderable: false,
			targets:   -1
		}],
		select: {
			style:'os',
			selector: 'td:first-child',
			multi:true
		},
		responsive: {
			details: {
				type: 'column',
				target: -1
			}
		}
		
	});
	
});
</script>		
		
</th:block>	