<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
	<th:block th:fragment="content">
		<input id="respWithError" type="hidden" th:value="${respWithError}" />
		<div id="modalResponseOk">
			<fieldset class="border p-4">
				<table>
					<tr th:each="response : ${resultResponse}">
						<td th:utext="${response}"></td>
					</tr>
				</table>
			</fieldset>
		</div>
	</th:block>
	</body>
</html>