<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div id="messagePantalla"></div>
	<!-- 
	<fieldset class="scheduler-border">
		<legend  class="scheduler-border">[[#{label.SpacerBatchGeneration&SpacerReusable}+' ']]</legend>
	 -->
				<div id="idSpacerMainScreen" class="ui-tabs ui-corner-all ui-widget ui-widget-content" >
					<ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix .ui-widget-header">
							<li id="idPBathGeneration">
								<a href="#pBatchGeneration" th:utext="#{label.BatchGeneration}">BatchGeneration</a>
							</li>
							<li id="idPReusableDoc">
								<a href="#pReusableDocsGeneration" th:utext="#{label.ReusableDocsGeneration}">ReusableDocsGeneration</a>
							</li>
					</ul>
						<!-- pestanya spacer pBatchGeneration -->
						<div id="pBatchGeneration">
							<div class="row">
								<div class="col-md-12">									
									<!--  
									<fieldset class="scheduler-border">
											<legend class="scheduler-border" th:utext="#{label.BatchGeneration}">pBatchGeneration</legend>
									-->
												<div th:replace="fragments/spacers/batchGeneration :: content"><p>pBatchGeneration</p></div>
									<!--
									</fieldset>
									-->
								</div>
							</div>
						</div>
						<!-- end pestanya spacer pBatchGeneration -->

						<!-- pestanya spacer pReusableDocsGeneration -->
						<div id="pReusableDocsGeneration">
							<div class="row">
								<div class="col-md-12">
									<!--
									<fieldset class="scheduler-border">
											<legend class="scheduler-border" th:utext="#{label.ReusableDocsGeneration}">pReusableDocsGeneration</legend>
									-->
												<div th:replace="fragments/spacers/reusableDocsGeneration :: content"><p>pReusableDocsGeneration</p></div>
									<!--
									</fieldset>
									-->
								</div>
							</div>
						</div>
						<!-- end pestanya spacer pReusableDoc -->						
				  </div>
	<!--
	</fieldset>
  	-->
<script>
$(document).ready(function () {
	$( "#idSpacerMainScreen" ).tabs();
	//activamos la primera pestanya
	$('#idPBathGeneration>a').trigger('click');
});
</script>
</th:block>