.card-heading {
    padding: 5px 15px;
}

.card-footer {
	padding: 1px 15px;
	color: #A0A0A0;
	bottom:2px;
}

/*
.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
*/
.profile-img {
	margin: 0 auto 10px;
	display: block;
	text-align:center;
}


.btn-primary{
	color: #fff;
	background-color: #fe8e14;
	border-color: #fe8e14;	
}
.btn-primary:hover{
	color: #fff;
	background-color: #ff9f1f;
	border-color: #ff9f1f;	
}

.card-login{
	justify-content:center
}