/*fuentes global*/
* {
 font-size: 100%;
 font-family: Arial;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	margin: 0 auto 10px;
	display: block;
	text-align:center;
}

#header-left
{
	float:left;
}
#header-right
{
	float:left;
}
.container
{
	height:100%;
}
header
{
    top: 0px;
	z-index:90;
	position:fixed;
	background-color:#FFFFFF;
	height:14vh;
}

#content
{
    top: auto;
    position:inherit;
    height:auto;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 10px;
}
#idBreadcrumb{
	margin-top:2px;
	margin-bottom:5px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777;
}

footer
{
	top:95vh;
	position:fixed;
	margin-right:30px;
	margin-top:20px;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	footer
	{
		width:100%;
 	}
}

nav
{
	margin-bottom: 0px!important;
}

#commonMessages{
	background-color:#FFFFFF;
	margin:0px;
	margin-bottom:5px;
	
}
.table{
	margin-bottom: 10px!important;
}



body{
	height:100%;
	min-height:600px;

}

.panel-default
{
	margin-right:30px;
}


#idArbol, #idPestanya
{
	border: 1px solid;
	border-color: #ccc;
    border-radius: 2px;
	height: 50vh;
}
.arbolPlugins{
	height: 49vh!important;
}
#idArbol
{
	overflow-y: scroll;
}

#idArbol #headTree
{
	text-align: center;	
    margin-top: 5px;
    margin-bottom: 5px;
	 
}

#pusuario
{
	
}
#idPestanya #idButton
{
    margin-top: 5px;
    margin-bottom: 5px;
}


#pusuario #idButton
{
	position: absolute; right: 0px; bottom:5px;
}


#idPestanyaUsers
{
	border: 1px solid;
	border-color: #ccc;
    border-radius: 2px;
	height: 50vh;
	
}

#idPestanyaUsers #idButton
{
    margin-top: 5px;
    margin-bottom: 5px;
}

#idArbolOrg
{
	border: 1px solid;
	border-color: #ccc;
    border-radius: 2px;
	height: 42vh;
	overflow-y: scroll;
}

#idArbolOrg #headTree
{
	text-align: center;	
    margin-top: 5px;
    margin-bottom: 5px;
	 
}
.tdMessageMain{
	width:99vh;
}
.tdMessageAux{
	width:1vh;
}

.dataTables_wrapper{
	width: 100%;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
 
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
 
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
/* Button menu. wrapper*/
.btn-menu {
background-color: transparent;

}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:100%;
}
body {
  overflow-x: hidden;
}
 
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
 
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
 
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
 
a svg{
  transition:all .5s ease;
 
  &:hover{
    #transform:rotate(180deg);
  }
}
 
#ico{
  display: none;
}
 
.menu{
  background: #000;
  display: none;
  padding: 5px;
  width: 320px;
  @include border-radius(5px);
 
  #transition: all 0.5s ease;
 
  a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;
 
    &:nth-child(1){
      margin-top: 0;
      @include border-radius(3px 3px 0 0 );
    }
    &:nth-child(5){
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }
 
    &:hover{
      background: #555;
    }
  }
}
 
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#sidebar ul.components{
  padding: 20px 0px;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p{
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a{
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #7386D5;
    background: #6d7fcc;
}
#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
