* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px !important;
}


fieldset {
  width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

table.display { margin:0 auto; width:100%; }

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper #content-wrapper {
  overflow-x: hidden;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 80px;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.navbar-nav .form-inline .input-group {
  width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
}

.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
  content: '\f107';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-item .nav-link:focus {
  outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
  position: absolute;
  margin-left: 0.75rem;
  top: 0.3rem;
  font-weight: 400;
  font-size: 0.5rem;
}
.nav-tabs > li {
    position:relative;    
}

.nav-tabs > li > a {
    display:inline-block;
}

.nav-tabs > li > span {
    /*display:none;*/
    cursor:pointer;
    position:absolute;
    right: 2px;
    top: 7px;
    color: red;
}

.nav-tabs > li:hover > span {
    display: inline-block;
}
.tab-content{
	border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    border-bottom: 1px solid #ddd
}
.p-1 {
  width: auto;
}
.dataTables_scrollHeadInner{
	width:100%;
}	
.dataTable{
	width:100%;
}			
.dropdown-menu .divider {
	background-color: #e5e5e5;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
.input-goup.d-md-inline-block{
	margin-right:10px;
}
/*Dynamsoft v12 webscan*/

#divEdit { float: left; margin: 0; padding: 0; width: 59px; border: none; border-top: solid 1px #ccc; }

#DWTcontainerTop {
    position: relative;
    float: left;
    width: 700px;
    height: 590px;
    border: solid 1px #ccc;
    border-top: none;
}

#header-download .btn-download { height: 36px; line-height: 30px; width: auto; padding: 0 25px; text-align: right; color: #fff; font-size: 14px; font-weight: bold; border: none; margin-left: 15px; float: right; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
#header-download .btn-download:hover { background: #fff; color: #fff; border-color: none; }
#header-download .btn-download:active { background: #fff; color: #fff; border-color: none; }
#DWTcontainerBtm {position: relative;float: left;width: auto;}

/*Dynamsoft v12 batch-details*/
div#dwtcontrolContainer {width: 600px;height: 450px;}
#divUpload li, #divSave li, #div_BARCODE li{padding:0px;}



#divTablaPerfil, #divTablaConfiguraciones, #divPerfiles, #idListDocumentos, #idListPlugins
{
	padding:5px;
}

#idTablaConfiguraciones
{
	margin:0px;
}

#contentConfiguraciones
{
}
#idListDocumentos
{
}

#idButtonPage
{
	float:right;
	
}

/*
.idTablaListDocumentRow, .idTablaListPluginsRow
{
	
	padding:5px;
	border: 1px solid #ccc;
}
*/
#namePlugin,#descPlugin,#selPlug,#actPlugin,#actionPlugin, #nameDoc,#descDoc,#actDoc, #linkDoc, #nameDocM,#descDocM,#actDocM, #linkDocM
{                                                          
	text-align:center;                                     
}                                                          

.top-buffer { margin-top:20px; }

/*LOGIN CSS */
#bodyContainer{
	height: 66vh;
	margin-top:10vh;
}

.vertical-align {
  display: flex;
  flex-direction: row;
  width:100%;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
							  horizontally inside the column */
}

.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
  /* flex: 1; */
  flex-grow: 1;
}

.vertical-align-td
{
	min-height:20px;
	vertical-align: middle!important;
}

.max-td-col-1{
	max-width:300px;
	overflow-wrap:break-word;
}

.max-td-col-2{
	max-width:500px;
	overflow-wrap:break-word;
}

.overlay {
	
	position: fixed!important;
    display: block;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
    z-index: 500000!important;
    width: 100%;
    min-height: 100vh;
	overflow: auto;
	
}

#commonMessages{
	max-height: 5vh!important;
	overflow-x: hidden!important;
	overflow-y: auto!important;
	border: 1px solid #f8f8f8;
    border-radius: 2px;
	background-color: #FCFCFC!important;
}

#messageDisable{
	text-align: center;
	color:blue;
}

#idUser, #languages{
	text-align: right;
}

#languages{
	margin-top:10px;
}
#divDocParameter, #divParamDig, #divParamBatch, #divScanMain, #divScanMessage
{
	margin-right:0px;
	margin-left:0px;
}
.card-login {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.card-login {
  max-width: 25rem;
  justify-content:center
}
.card-heading {
    padding: 5px 15px;
}

.card-footer {
	padding: 1px 15px;
	color: #A0A0A0;
	bottom:2px;
}
.card-register {
  max-width: 40rem;
}
@media (min-width: 768px) {
  .navbar-nav .form-inline .input-group {
    width: auto;
  }
}

.sidebar {
  width: 90px !important;
  background-color: #212529;
  min-height: calc(100vh - 56px);
  height: 100%
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 90px;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.65rem;
  display: block;
}

.sidebar .nav-item .dropdown-menu {
  position: absolute !important;
  -webkit-transform: none !important;
  transform: none !important;
  left: calc(90px + 0.5rem) !important;
  margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
  bottom: 0;
  top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.sidebar .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.sidebar.toggled {
  width: 0 !important;
  overflow: hidden;
}

@media (min-width: 768px) {
  .sidebar {
    width: 225px !important;
  }
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 225px;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 1rem;
    display: inline;
  }
  .sidebar .nav-item .dropdown-menu {
    position: static !important;
    margin: 0 1rem;
    top: 0;
  }
  .sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: block;
  }
  .sidebar.toggled {
    overflow: visible;
    width: 90px !important;
    height:100%
  }
  .sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
  }
  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  .sidebar.toggled .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
  }
  .sidebar.toggled .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
  }
  .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
    display: none;
  }
}


@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}



.form-label-group {
  position: relative;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

footer.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 90px);
  height: 80px;
  background-color: #e9ecef;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  footer.sticky-footer {
    width: calc(100% - 225px);
  }
}

body.sidebar-toggled footer.sticky-footer {
  width: 100%;
}

@media (min-width: 768px) {
  body.sidebar-toggled footer.sticky-footer {
    width: calc(100% - 90px);
  }
}

