<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script>
		recargarMensajes();
	</script>
	<div id="cuerpo" class="container-fluid" th:fragment="content">
	<div id="messagePantalla" title="Mensaje">
	</div>
		<fieldset class="border p-4">
			<legend class="p-1" th:utext="#{label.orgUnits}">Colectivos de usuario</legend>
			<form id="formOrg" role="form" th:action="@{admin/organizationUnit.html}" method="POST">
				<div class="row">
					<div class="col-md-4">
						<div th:replace="fragments/admin/content_tree :: content"><p>Arbol</p></div>
						
					</div>
					<div class="col-md-8">
						<div th:replace="fragments/admin/content_tabs :: content"><p>Tabs</p></div>
					</div>
				</div>
			</form>
		</fieldset>
			<script src="../../../resources/js/scriptTree.js" th:src="@{/resources/js/scriptTree.js}"></script>		
			<script src="../../../resources/js/organismos.js" th:src="@{/resources/js/organismos.js}"></script>		

	</div>	
</th:block>