<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div id="cuerpo" class="container-fluid" th:fragment="content">
		<div id="messagePantalla" title="Mensaje" style="display: none"></div>
 	 
		<fieldset class="border p-4">
			<legend class="p-1" th:utext="#{label.AdmPerfDig}">Administraci&oacute;n Perfiles de Digitalizaci&oacute;n</legend>
	
	 
			<form id="formOrg" role="form" th:action="@{/admin/profilesScan.html}" method="POST">
				<div th:replace="fragments/admin/content_perfil :: content"><p>Perfil</p></div>
			</form>
			<script src="/resources/js/jquery-ui/jquery-ui.js" th:src="@{/resources/js/jquery-ui/jquery-ui.js}"></script>
			<script src="/resources/js/jquery.dataTables.js" th:src="@{/resources/js/jquery.dataTables.js}"></script>		
			  
		</fieldset>
	
	</div>
		
	<script type="text/javascript" th:inline="javascript">
	//objecto principal de la pantalla
	var perfilActual={};	
	
	var tablaPerfil=null;  
	var tablaConfigu = null;
	var tablaDocument = null;
	var tablaPlugin = null;
	
	function lockElementsEnableIni()
	{
		$('#divPerfiles').css({'pointer-events':'none'});	  
		$('#removeConfig').css('display', 'none');
		$('#modifyConfig').css('display', 'none');
	}

	function unLockElementsEnableIni()
	{
		$('#divPerfiles').css({'pointer-events':'none'});	  	  
		$('#removeConfig').css('display', 'inline');
		$('#modifyConfig').css('display', 'inline');
	}

	 $( function() {
	
	
			lockElementsEnableIni();
			
			tablaPerfil=$('#idTablaPerfil').dataTable( {
					"language": {"url": tableLanguage()},
					"pagingType": "full_numbers",
					"order": [ 2, "desc" ],	
					"initComplete": function(settings, json) {
						//seleccionamos la primera fila
						$('#idTablaPerfil tbody tr:eq(0)').click();
						console.log("Tabla terminada de cargar idTablaPerfil");

					}
			} );
			
			
			$('#idTablaPerfil tbody').on( 'click', 'tr', function (e, callback) {
					console.log("Row seleccionada");
					tablaPerfil.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
					console.log("Seleccionada fila definiciones perfil");
					//limpiamos formulario inferior
					$('#denominPerfil').val("");
					$('#descripPerfil').val("");
					if ($.fn.DataTable.isDataTable( '#idTablaListDocument' ))
					{
						$('#idTablaListDocument').DataTable().rows().clear();
						$('#idTablaListDocument').DataTable().rows().draw(false);
					}
					if ($.fn.DataTable.isDataTable( '#idTablaListPlugins' ))
					{
						$('#idTablaListPlugins').DataTable().rows().clear();
						$('#idTablaListPlugins').DataTable().rows().draw(false);
					}
						$('#idDivTablaConfiguraciones').load(contexto()+"admin/profilsSpec.html",{'_csrf':$("input[name='_csrf']").val(),'idSpec':$(this).attr('data-row')},
						function()
						{
							lockElementsEnableIni();
							if (callback!=null)
								callback();
							console.log("Fin llamada a carga de la informacion de configuracion de perfil");
						}
					);
				} );
			
			
			/* Exportacion de documentos y plugins actuales a las unidades organizativas que seleccionemos en modal
			*/
			function configExport(event)
			{
				
				//guardamos la informacion actual
				var nodoActual =$("#tree").jstree().get_selected();
				actualizarCambios(nodoActual, false);
				
				//recuperamos la configuracion actual para poder tratarla
				try{
					
					//mostramos el modal
					$('body').append("<div id='modalTreeNuevo' style='display:none'><ul><li>Organismos</li></ul></div>");
					var auxiliar =actualizarArbol();
					$(auxiliar).css('display','block');
					$('#modalTreeNuevo').css('height','45vh');
					//esta funcion mostrara el modal y retornara el resultado a la funcion de tratamiento seleccionado
					creamosModalTree (/*[[#{label.title.modal.export.orgUnit}]]*/, auxiliar);
				}
				catch(e)
				{
					console.error("Error mostrando modal");
				}
				event.preventDefault();
			}
			
			function tratarSeleccionado(recupSelect)
			{
				
				var copiados=[];
				copiados[0] ='message.modal.export.orgUnit';
				
				if (recupSelect!=null && recupSelect!="")
				{
					var nodeActual = $('#tree').jstree("get_selected")[0];
					copiados[1] = $.jstree.reference('tree').get_node(nodeActual).text;
					var documentsExport =obtenerDocuments();
					var pluginsExport =obtenerPlugins();
					console.log("Documentos recuperados:");
					console.dir( documentsExport);
					console.log("Plugins recuperados");
					console.dir(pluginsExport);
					//tratamos la seleccion realizada
					console.log("Se han seleccionado:"+recupSelect);
					copiados[2]="";
					for(re=0;re<recupSelect.length;re++)
					{
						var nodoTratar = recupSelect[re];
						console.log("Nodo actual:"+nodoTratar);
						if (nodeActual != nodoTratar)
						{
							var infoAntes = $.jstree.reference('tree').get_node(nodoTratar);
							copiados[2]+= infoAntes.text+'<br>';
							infoAntes.documentos = documentsExport;
							infoAntes.plugins = pluginsExport;
							infoAntes.delete =false;
							var unidadActual = filtrerUnid(infoAntes.id);
							actualizarCambios(infoAntes, false);
						}
						else
						{
							console.log("El nodo desde el que queremos exportar no puede ser seleccionado");
						}
					}
				}
				else
				{
					console.log("No se ha seleccionado ninguna organizacion para exportar");
				}
				return copiados;
			}
			
			function creamosModalTree (titulo, texto)
			{
				$("#messagePantalla").html(texto);
				$("#messagePantalla").dialog({
					title: titulo,
					draggable: false,
					classes: {"ui-dialog": "highlight"},
					modal : true,
					width: '60vw',
					closeOnEscape: false,
					buttons: [
						{
							text:textAceptar(),
							click:function ()
							{
								var seleccionados =$('#modalTreeNuevo').jstree("get_selected");
								console.log("Nodos seleccionados:");								
								console.dir(seleccionados);
								$("#messagePantalla").html("");
								$( this ).dialog( "close" );
								messageExport = tratarSeleccionado(seleccionados);
								console.log(getTextLanguage(messageExport));
								messageBase(/*[[#{label.title.modal.export.orgUnit.result}]]*/, getTextLanguage(messageExport));
							}
						},		
						{
							text:textCancel(),
							click:function ()
							{
								$("#messagePantalla").html("");
								$( this ).dialog( "close" );
								return null;
							}
						}
					  ]
				});
				$('#messagePantalla').css('width','60vw');
			}			
			
			$("#confExport").on("click", function (event) {
				configExport(event);				
			});
			
			/*
			Fin Exportacion de documentos y plugins actuales a las unidades organizativas que seleccionemos en modal
			*/			
			
			
			//botones del arbol de unidades organizativas
			$("#confOrgUnit").on("click", function (event) {
				$("#content").load(contexto()+'admin/organizationUnit.html');
				event.preventDefault();
			});

			$('#confOrgUnitDelete').on("click", function(event){
				console.log("Eliminamos informacion de la unidad organizativa seleccionada");
				if ($.fn.DataTable.isDataTable( '#idTablaListDocument' ))
				{
					$('#idTablaListDocument').DataTable().rows().clear();
					$('#idTablaListDocument').DataTable().rows().draw(false);
				}
				if ($.fn.DataTable.isDataTable( '#idTablaListPlugins' ))
				{
					$('#idTablaListPlugins').DataTable().rows().clear();
					$('#idTablaListPlugins').DataTable().rows().draw(false);
				}				
				
				var nodoActual =$("#tree").jstree().get_selected();
				actualizarCambios(nodoActual, true);
				event.preventDefault();
			})
	  } );
	 
	/*Nombre: cargarPerfil	Desc: Funcion que realiza la carga del perfil selecionado de digitalización e prepara el objeto de dicho perfil para conservar los cambios*/	
	function cargarPerfil()
	{
		var err = new Error();
		level ="Error";
		msg ="Prueba";
		console.log(level + ': '+ msg + 'file: ' + err.fileName + ' line:' + err.lineNumber);

		
		var idDefinicion =$('#idTablaPerfil .selected').attr('data-row');
		var idPerfil =$('#idTablaConfiguraciones .selected').attr('data-row');
		console.log("Datos informacion seleccionada: "+idDefinicion +"/"+idPerfil);
		
		if(idDefinicion== null || idPerfil==null)
		{
			alert("Por favor, seleccione una definición previamente");
			return;
		}
		
		$('#divPerfiles').css({'pointer-events':'visible'});
		
	
		//asignamos los valores adecuados
		var nombrePerfil =$($('#idTablaConfiguraciones .selected td')[0]).attr('data-name');
		var descripcionPerfil =$($('#idTablaConfiguraciones .selected td')[1]).attr('data-description');
		var activoPerfil =$($('#idTablaConfiguraciones .selected td')[2]).attr('data-active');
		
		console.log("Ini Seleccionado");
		console.log("nombrePerfil:"+nombrePerfil);
		console.log("descripcionPerfil:"+descripcionPerfil);
		console.log("activoPerfil:"+activoPerfil);
		console.log("Fin Seleccionado");
		
		$('#denominPerfil').val(nombrePerfil);
		$('#descripPerfil').val(descripcionPerfil);
		$('#activoPerfil').prop('checked', $.parseJSON(activoPerfil));
		$('#propagacion').val('false');
		//deshabilitamos el nombre del perfil
		if(nombrePerfil!=null)
		{
			$('#denominPerfil').prop('disabled',true);
		}
		//inicializamos la definicion del perfil a cargar
		//perfilActual.id = idDefinicion;
		perfilActual.id = idPerfil;
		perfilActual.denominacion =nombrePerfil;
		perfilActual.descripcionPerfil =descripcionPerfil;
		perfilActual.activoPerfil = activoPerfil;
		perfilActual.propagacion=false;
		//inicializamos la unidad organizativa
		perfilActual.unidOrg=[];
		//inicializamos el nodo seleccionado
		ultimoSelect = null;		
		
		//cargamos la info asociada a la unidad organizativa y el perfil seleccionado
		cambioUltimo(disabledButtons);
		//deshabilitamos botones
		disabledButtons();
	}

	$('#addConfig').on("click", function(event){		
		console.log("Start Pulsado boton añadir perfil");
		//deseleccionamos si existe previamente seleccionado
		$('#idTablaConfiguraciones tbody  tr.selected').click();
		
		//desbloqueamos zona pantalla	
		var scanProfileSpec =$('#idTablaPerfil .selected').attr('data-row');;
		$('#divPerfiles').css({'pointer-events':'visible'});
		$('#denominPerfil').val('');
		$('#denominPerfil').prop('disabled',false);
		$('#descripPerfil').val('');
		$('#activoPerfil').prop('checked',false);
		$('#propagacion').val('false');
		
		//inicializamos la definicion del perfil a cargar
		perfilActual.id = null;
		perfilActual.denominacion =null;
		perfilActual.descripcionPerfil =null;
		perfilActual.activoPerfil = null;
		perfilActual.propagacion=false;
		//inicializamos la unidad organizativa
		perfilActual.unidOrg=[];
		
		//inicializamos el nodo seleccionado
		ultimoSelect = null;
		//$("#tree").click();
		
		$("#contentConfiguraciones").load(contexto()+'admin/profileSpecUniNew.html',	{'_csrf':$("input[name='_csrf']").val(),'scanProfileSpecId': scanProfileSpec});
		//habilitamos los botones
		enabledButtons();
		
		console.log("Nuevo perfil seleccionado");
		console.log("End Pulsado boton añadir perfil");
		event.preventDefault();
	});
	
	$('#removeConfig').on("click", function(event){		
		console.log("Start Pulsado boton eliminar perfil");
		//obtenemos el perfil seleccionado
		var confPerfil =$('#idTablaConfiguraciones .selected').attr('data-row');
		if (confPerfil!=null)
		{
			console.log("Perfil seleccionado para eliminar:"+confPerfil);			
			messageWarning(
			/*[[#{label.TituloConfirmScanProfile}]]*/, 
			/*[[#{label.MessageConfirmScanProfile}]]*/,
			function (){
				console.log("Se procede a borrar el perfil");
				removeConfirm(confPerfil);
			}, 
			function(){
				console.log("Se ha cancelado la eliminacion");
			});
		}
		console.log("End Pulsado boton eliminar perfil");
		event.preventDefault();
	});
	
	function removeConfirm(confPerfil)
	{
		$.ajax({
			url:contexto()+'admin/removeScanProfile.html',
			type:'POST',
			data:{	
				'_csrf':$("input[name='_csrf']").val(),
				'scanProfileId':confPerfil
			},success: function(res){
				$("#content").html(res);
				console.log("Obtenida respuesta del servidor OK");
			},
			error:function (res){
				console.log("Obtenida respuesta del servidor remove");
			},complete:function(){
				recargarMensajes();
				console.log("removeConfirm: Terminada llamada");
			}
		});	
	
	}	
	
	
	
	$('#activoPerfil').on("click", function(){
		console.log("Cambio en activacion de perfil");
		$('#propagacion').val($('#propagacion').val()=='true'?'false':'true');
		console.log("Cambio en activacion de perfil. Valor propagacion:"+$('#propagacion').val());
	});
		
		
	$('#save').on("click", function(event){		
		console.log("Start Pulsado boton save");
		guardarInfoProfile(event);
		console.log("End Pulsado boton save");
		event.preventDefault();
	});	
		
		
	/* No propaga la activacion*/	
	function guardarNoInfoProfile(event){
		$('#propagacion').val('false');
		guardarInfoProfile(event);
	}
		
	/* si propaga la activacion si se ha producido*/	
	function guardarInfoProfile(event){	
		//debugger;
		console.log("Start Pulsado boton save");
		var scanProfileSpec =$('#idTablaPerfil .selected').attr('data-row');
		
		
		//validamos los valores de los campos denominacion y descripcion
		if(perfilActual.id== null &&  $('#denominPerfil').val()==null)
		{
			console.log("ERROR DE INFO INTRODUCIDA CAMPO: denominacion perfil");
			return;
		}

		if ($('#descripPerfil').val()== null)
		{
			console.log("ERROR DE INFO INTRODUCIDA CAMPO: descripcion perfil");
			return;
		}

		//actualizamos la info de la última pantalla 
		var nodoActual =$("#tree").jstree().get_selected();
		var infoAntes = $.jstree.reference('tree').get_node(nodoActual);
		var unidadActual = filtrerUnid(infoAntes.id);
		if ( typeof unidadActual == 'undefined') 
		{
			actualizarCambios(nodoActual, false);
		}
		else
		{
			actualizarCambios(nodoActual, unidadActual.delete);
		}
		
		//recorremos todas las unidades y verificamos el campo eliminar y documentos
		var unidades =perfilActual.unidOrg;
		for(a=0;a<unidades.length;a++)
		{
			if(unidades[a].delete=== 'true' && unidades[a].documentos.length>0)
			{
				unidades[a].delete=false;
			}
		}

		//preparamos envio	
		var cambiosRequest={};
		cambiosRequest.idPerfilSpec =scanProfileSpec;
		cambiosRequest.idPerfil= perfilActual.id;
		//actualizamos la informacion de la denominacion del perfil si no existe
		if(perfilActual.id!=null)
		{
			cambiosRequest.denominacion =perfilActual.denominacion;
		}
		else
		{
			cambiosRequest.denominacion =$('#denominPerfil').val();
		}
		cambiosRequest.descripcion = $('#descripPerfil').val(); //ultimo valor
		cambiosRequest.activo = $('#activoPerfil').is(':checked')?true:false;
		cambiosRequest.propagacion = perfilActual.propagacion;

		var unidadesEnviar=[];
		
		for (i=0;i<perfilActual.unidOrg.length;i++)
		{
			//obtenemos actual unidad de trabajo
			var actual =perfilActual.unidOrg[i];
			
			//inicializamos la unidad 
			var unid ={};
			unid.id =actual.id;
			unid.scanProfileOrgUnitId=actual.scanProfileOrgUnitId;
			unid.delete = actual.delete;
			//obtenemos los documentos
			unid.documentos=[];
			for(j=0;j<actual.documentos.length;j++)
			{
				//
				var vdoc = actual.documentos[j];
				
				//solo enviamos los documentos seleccionados
				var doc={};
				doc.idDoc = vdoc.id;
				doc.actDoc =vdoc.activoDoc;
				//doc.actDoc =$(vdoc.datos[3]).is(':checked');
				unid.documentos.push(doc);
			}
			
			
			unid.plugins=[];
			//obtenemos los plugins 		
			for(j=0;j<actual.plugins.length;j++)
			{
				var vplug =actual.plugins[j];
				if (vplug.idConfiguracion!=-1)
				{
					var plug={};
					//plug.id=vplug.id;
					plug.idFase = vplug.idFase;
					plug.idEspec =vplug.idEspecificacion;
					plug.idConf=vplug.idConfiguracion;
					plug.actPlug = vplug.activoPlug;					
					unid.plugins.push(plug);
				}
			}
			//anyadimos los parametros
			unidadesEnviar.push(unid);
		}
		
		
		//asignamos las unidades al objeto padre.
		cambiosRequest.unidOrg=unidadesEnviar;
		
		//preparamos la informacion a guardar
		//var info = JSON.stringify(perfilActual);
		var info = JSON.stringify(cambiosRequest);
		
		console.log("info a enviar:", info);
		
		var unidadSel = $.jstree.reference('tree').get_node($("#tree").jstree().get_selected());
		console.log("Unidad enviada actual",unidadSel);
		
		if(perfilActual.id!=null)
		{
			
			saveOldDocument(info, unidadSel.id);
		}
		else
		{
			saveNewDocument(info, unidadSel.id);
		}
		console.log("End Pulsado boton save"); 
		//solo cuando es llamado directamenteº
		if (event!=null)
		{
			event.preventDefault();
		}
	}


	function saveOldDocument(info, unidadSelId)
	{
		var perfilSelect = $('#idTablaConfiguraciones tbody tr.selected').attr('data-row');			
		if(perfilSelect==null){return false;}
		console.log("perfil modificado");
		
		showModalWait();
		
		$.ajax({
			url:contexto()+'admin/saveInfo.html',
			type:'POST',
			data:{	
				'_csrf':$("input[name='_csrf']").val(),
				'infoSave':info, 
				'orgUnitIdSel': unidadSelId
			},success: function(res){
				recargarMensajes();
				if(res!=null && res !="")
				{
					$('#contentConfiguraciones').parent().html(res);
					$('#idTablaPerfil tbody tr.selected')
					.trigger("click",[
							function (){
								console.log("pulsamos el perfil previamente seleccionado");
								$('#idTablaConfiguraciones tbody tr[data-row='+perfilSelect+']').click();
								$('#modifyConfig').trigger('click');
							}
						]);
				}
				console.log("Obtenida respuesta del servidor OK");
			},
			error:function (res){
				recargarMensajes();
				console.log("Obtenida respuesta del servidor");
			},complete:function(){
				console.log("saveNewDocument: Terminada llamada");
				hiddenModalWait();
			}
		});	
	}
	
	
	
	
	function saveNewDocument(info, unidadSelId)
	{
		showModalWait();
		
		$.ajax({
			url:contexto()+'admin/saveInfo.html',
			type:'POST',
			data:{	
				'_csrf':$("input[name='_csrf']").val(),
				'infoSave':info, 
				'orgUnitIdSel': unidadSelId
			},success: function(res){
				recargarMensajes();
				if (res!=null && res!="")
				{
					$('#cuerpo').parent().html(res);
				}
				console.log("Obtenida respuesta del servidor OK");
			},
			error:function (res){
				recargarMensajes();
				console.log("Obtenida respuesta del servidor");
			},complete:function(){
				
				console.log("saveNewDocument: Terminada llamada");
				hiddenModalWait();
			}
		});	
	}

	$('#cancel').on("click", function(event){		
		console.log("Start Pulsado boton cancel");
		var idPerfil =$('#idTablaConfiguraciones .selected').attr('data-row');
		$("#content").load(contexto()+"admin/profilesScan.html", {'idPerfil':idPerfil});
		console.log("End Pulsado boton cancel");
		event.preventDefault();
	});
	
		
    $('#modifyConfig').click(function(event){
		console.log("Activamos la edición del perfil");
		if($('#idTablaConfiguraciones tbody tr').hasClass('selected'))
		{
			enabledButtons();
			//$('#divPerfiles').css({'pointer-events':'visible'});	  		
		}
		console.log("Activamos la edición del perfil");
		event.preventDefault();
	});	
	
	function disabledButtons()
	{
		$('#descripPerfil').prop('disabled', true)
		$('#activoPerfil').prop('disabled',true);
		$('#linkDoc').prop('disabled', true);
		$('#unLinkDoc').prop('disabled', true);
		$('#save').prop('disabled', true);
		$('#cancel').prop('disabled', true);
		$('#confOrgUnitDelete').prop('disabled', true);
		$('#confExport').prop('disabled', true);
	}
	
	function enabledButtons()
	{
		$('#descripPerfil').prop('disabled', false)
		$('#activoPerfil').prop('disabled',false);
		$('#linkDoc').prop('disabled', false);
		$('#unLinkDoc').prop('disabled', false);
		$('#save').prop('disabled', false);
		$('#cancel').prop('disabled', false);
		$('#confOrgUnitDelete').prop('disabled', false);
		$('#confExport').prop('disabled', false);
	}
	
	</script>

</th:block>