<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<form id="batchSpacersForm" name="batchSpacersForm" autocomplete="off" role="form" th:action="@{/spacers/generateBatchSpacer.html}" th:object="${batchSpacerFormData}" method="POST" th:method="POST">
			<!-- Zona en la que se presenta el error por no seleccionar la unidad orgánica en la cabecera -->
			<div class="row">
				<div id="userDptoErrorContainer">
				</div>
			</div>
			<!--  information general -->
					<fieldset class="border p-4" >
						<legend  class="p-1">[[#{label.GeneralInformation}+' ']]</legend>			 	
							<div class="col-xs-12 col-md-4">
								<div id="divSpacerType" th:class="${#fields.hasErrors('spacerType')}? 'form-group has-error' : 'form-group'">											
									<div class="input-group">
										<div class="col-xs-8 col-md-8">
											<label th:text="#{label.spacerType} + '*: '">Codificación información:</label>
										</div>	
										<div class="col-xs-4 col-md-4">
											<select id="spacerType" name="spacerType" th:field="*{spacerType}" >
												<option value="-1" th:text="#{value.NoSelected}">No seleccionado</option>
												<option 
													th:each="vspacerType : ${batchSpacerType}" 
													th:value="${vspacerType}" 
													th:utext="#{${vspacerType}}">CODE</option>											
											</select>
										</div>
									</div>
									<div id="spacerTypeContainer">
										<span th:if="${#fields.hasErrors('spacerType')}" th:errors="*{spacerType}" class="alert-danger">spacerType no informado</span>
									</div>
								</div>
							</div>
							
							<div class="col-xs-12 col-md-offset-1 col-md-7">
								<div id="divNumberOfReusableDocSpacers" th:class="${#fields.hasErrors('numberOfReusableDocSpacers')}? 'form-group has-error' : 'form-group'">		
										<div class="input-group">
											<div class="col-xs-8" style="padding-right: 0">
												<input id="enableReusable" type="checkbox"/>
												<label th:text="#{label.NumberOfReusableDocSpacers} + ': '">Generar separadores reutilizables</label> 											
											</div>												
											<div class="col-xs-4" style="padding-left: 0">
												<input class="form-control input-sm" name="numberOfReusableDocSpacers" id="numberOfReusableDocSpacers" th:id="numberOfReusableDocSpacers" th:field="*{numberOfReusableDocSpacers}" type="number" />													
											</div>
										</div>
										<div id="numberOfReusableDocSpacersErrorContainer">
											<span th:if="${#fields.hasErrors('numberOfReusableDocSpacers')}" th:errors="*{numberOfReusableDocSpacers}" class="alert-danger">El número de separadores reutilizables debe ser entero y positivo.</span>
										</div>							
								</div>
							</div>
					</fieldset>
			<!--  fin information general -->
			<div class="row" style="height:10px"></div>
			<!--  validation lote  -->
				<fieldset class="border p-4">
					<legend  class="p-1">[[#{label.BatchValidation}+' ']]</legend>			 	
					<div class="col-xs-12 col-md-4">
						<div id="divBatchDocSize" th:class="${#fields.hasErrors('batchDocSize')}? 'form-group has-error' : 'form-group'">		
							<div class="input-group">
								<div class="col-xs-8">
									<label th:text="#{label.BatchDocSize} + '*:'">Numeros de documentos lote</label> 
								</div>
								<div class="col-xs-4">
									<input class="form-control input-sm" name="batchDocSize" id="batchDocSize" th:id="batchDocSize" th:field="*{batchDocSize}" type="number" />													
								</div>
								<div id="batchDocSizeErrorContainer">
									<span th:if="${#fields.hasErrors('batchDocSize')}" th:errors="*{batchDocSize}" class="alert-danger">batchDocSize error</span>
								</div>							
							</div>							
						</div>
					</div>
					
					<div class="col-xs-12 col-md-4">
						<div id="divDocSpacerType" th:class="${#fields.hasErrors('docSpacerType')}? 'form-group has-error' : 'form-group'">											
							<div class="input-group">
								<div class="col-xs-8 col-md-6">
									<label th:text="#{label.DocSpacerType} + ':'">Separador Documentos</label>
								</div>
								<div class="col-xs-offset-1 col-xs-3 col-md-offset-1 col-md-3">
									<select id="docSpacerType" name="docSpacerType" th:field="*{docSpacerType}" >
										<option value="" th:text="#{value.NoSelected}">No seleccionado</option>		
										<option 
											th:each="vspacerType : ${docSpacerType}" 
											th:value="${vspacerType}" 
											th:text="#{${vspacerType}}">CODE</option>												
									</select>													
								</div>
							</div>
							<div id="docSpacerTypeContainer">
								<span th:if="${#fields.hasErrors('docSpacerType')}" th:errors="*{docSpacerType}" class="alert-danger">Separador Documentos no informado</span>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-md-4">
						<div id="divBatchPages" th:class="${#fields.hasErrors('batchPages')}? 'form-group has-error' : 'form-group'">		
								<div class="input-group">
									<div class="col-xs-8">
										<label th:text="#{label.BatchPages} + ':'">Numero paginas del lote</label> 
									</div>
									<div class="col-xs-4">
										<input class="form-control input-sm" name="batchPages" id="batchPages" th:id="batchPages" th:field="*{batchPages}" type="number" />	
									</div>											
								</div>
								<div id="documentErrorContainer">
									<span th:if="${#fields.hasErrors('batchPages')}" th:errors="*{batchPages}" class="alert-danger">batchPages error</span>
								</div>							
						</div>
					</div>
				</fieldset>
			<!--  Fin validation lote  -->
			
			<div class="row" style="height:10px"></div>
			
			<!-- Valores informados por el usuario -->
			 		<fieldset class="border p-4" >
						<legend  class="p-1">[[#{label.ValueForUser}+' ']]</legend>			 	
							<div th:if="!${#lists.isEmpty(userOrgUnitScanProfiles)}">
								<div class="col-xs-12 col-sm-12 col-md-6">
									<div id="divScanProfileId" th:class="${#fields.hasErrors('scanProfileId')}? 'form-group has-error' : 'form-group'">											
										<div class="input-group">
											<div class="col-xs-8 col-sm-8 col-md-5">
												<label th:text="#{label.ScanProfileId} + '*:'">Perfil de digitalización </label>
											</div>
											<div class="col-xs-4 col-sm-4 col-md-4">
												<select id="scanProfileId" name="scanProfileId" th:field="*{scanProfileId}" >
													<option value="-1" th:text="#{value.NoSelected}">No seleccionado</option>
													<option th:each="orgUnitScanProfile: ${userOrgUnitScanProfiles}" 
															th:attr="data-orgUnit-id=${orgUnitScanProfile.organizationUnit.id}, data-scanProfile-id=${orgUnitScanProfile.scanProfile.id}" 
															th:value="${orgUnitScanProfile.scanProfileOrgUnit.id}" 
															th:utext="${orgUnitScanProfile.scanProfile.name}+' ('+ ${orgUnitScanProfile.organizationUnit.name}+')'" >
													</option>													
												</select>													
											</div>	
										</div>
										<div id="scanProfileIdErrorContainer">
											<span th:if="${#fields.hasErrors('scanProfileId')}" th:errors="*{scanProfileId}" class="alert-danger">scanProfileId no informado</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div id="divDocSpecId" th:class="${#fields.hasErrors('docSpecId')}? 'form-group has-error' : 'form-group'">											
										<div class="input-group">
											<div class="col-xs-8 col-sm-8 col-md-8">
												<label th:text="#{label.DocSpecId} + '*:'">Definicion de documentos</label>
											</div>											
											<div class="col-xs-4 col-sm-4 col-md-4">
												<select id="docSpecId" name="docSpecId" th:field="*{docSpecId}" >
													<option value="-1" th:text="#{value.NoSelected}">No seleccionado</option>
												</select>													
											</div>
										</div>
										<div id="docSpecIdErrorContainer">
											<span th:if="${#fields.hasErrors('docSpecId')}" th:errors="*{docSpecId}" class="alert-danger">Definicion de documentos no informada</span>
										</div>
									</div>
								</div>
							</div>
							
							<div th:if="!${#lists.isEmpty(userOrgUnitScanProfiles)}" class="row">
								<hr> <!--  linea de división -->							
							</div>
							<div class="row">
								<div class="col-md-4"></div>
								<div class="col-md-4">
									<div id="metadataCollectionErrorContainer">
									</div>
								</div>
								<div class="col-md-4"></div>
							</div>
							<div th:if="!${#lists.isEmpty(userOrgUnitScanProfiles)}" class="row">						
							</div>
							<div th:if="!${#lists.isEmpty(userOrgUnitScanProfiles)}" class="row">
								<div id="metadataCollectionType">
									<div class="col-md-offset-2 col-md-8">
									
										<table id="metadataCollectionTable" class="display table" border="1">
											<thead>
												<tr>
													<th colspan="2"><p class="text-center">[[#{label.MetadataIncludeSpacer}]]</p></th>
												</tr>
												<tr>
													<th th:text="#{label.Name}">Identificador externo</th>
													<th th:text="#{label.Value}">Denominación</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div id="messageDisable" th:if="${#lists.isEmpty(userOrgUnitScanProfiles)}" class="row">
								<span  th:utext="#{spacer.option.disable.configuration}">Opción deshabilitada para la configuración de sus perfiles de digitalizacion</span>
							</div>
					</fieldset>
			
			<!-- Fin Valores informados por el usuario -->
			<div class="row" style="height:10px"></div>
			<!--  botones  -->
			<div id="idButton" style="float:right">
				  <button id="batchSpacersGeneration" class="ui-button ui-widget ui-corner-all">
		    			<span class="ui-icon ui-icon-disk"></span>
		    			<span th:utext="#{button.Generation}">Generar</span>				    			
		  		  </button>
		
				  <button id="batchSpacersCancel" class="ui-button ui-widget ui-corner-all">
		    			<span class="ui-icon ui-icon-cancel" ></span>
		    			<span th:utext="#{button.Cancel}"> Cancelar</span>
		  		  </button>
			</div>
			<br>
			<br>
			<br>
			<br>
		</form>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	function alertaDiv (men){
		return "<span class=\"alert-danger\">"+men+"</span>";
	}
	
	function alertaParrafoDiv (div,men){
		div.html("<p class=\"text-center alert-danger\">"+men+"</p>");
	}
	
	function aviso(div, men){
		div.html(alertaDiv (men));
	}


	$('#numberOfReusableDocSpacers').prop('disabled', true);

	$('#enableReusable').change(function(event){
		console.log("enableReusable start");
		console.dir(event);
		var valor = $('#enableReusable').is(':checked');
		if (valor) //habilitado valor
		{
			$('#numberOfReusableDocSpacers').prop('disabled', false);
		}
		else
		{
			$('#numberOfReusableDocSpacers')[0].value =""
			$('#numberOfReusableDocSpacers').prop('disabled', true);
		}
		console.log("enableReusable end");
		
	});
	
	
	$('#batchSpacersGeneration').click(function(event){	
		console.log("Pulsado batchSpacersGeneration");
		
		var error = false;
		aviso($('#batchSpacersForm #spacerTypeContainer'),"");
		aviso($('#batchSpacersForm #numberOfReusableDocSpacersErrorContainer'),"");
		
		aviso($('#batchSpacersForm #docSpacerTypeContainer'),"");
		aviso($('#batchSpacersForm #batchDocSizeErrorContainer'),"");
		aviso($('#batchSpacersForm #documentErrorContainer'),"");
		aviso($('#batchSpacersForm #scanProfileIdErrorContainer'),"");
		aviso($('#batchSpacersForm #docSpecIdErrorContainer'),"");
		aviso($('#batchSpacersForm #metadataCollectionErrorContainer'),"");
		
		//comprobamos codificación
		if($('#batchSpacersForm #spacerType').val() ==-1)
		{
			aviso($('#batchSpacersForm #spacerTypeContainer'), /*[[#{error.spacerType.required}]]*/);
			error = true;

		}

		//separadores reutilizables
		if($('#batchSpacersForm #enableReusable').is(":checked"))
		{
			if ($('#numberOfReusableDocSpacers').val() <1 || $('#numberOfReusableDocSpacers').val()=="")
			{
				aviso($('#batchSpacersForm #numberOfReusableDocSpacersErrorContainer'), /*[[#{error.generationValue.positive}]]*/);
				error = true;
			}
		}
		
		//Número de documentos del lote
		if($('#batchSpacersForm #batchDocSize').val() != null && $('#batchSpacersForm #batchDocSize').val() != ''){
			if($('#batchSpacersForm #batchDocSize').val() < 1) {
				aviso($('#batchSpacersForm #batchDocSizeErrorContainer'), /*[[#{error.generationValue.positive}]]*/);
				error = true;
			}
		} else {
			aviso($('#batchSpacersForm #batchDocSizeErrorContainer'), /*[[#{error.batchDocSize.required}]]*/);
			error = true;
		}
		
		//Número de páginas total del lote			
		if(($('#batchSpacersForm #batchPages').val() != null && $('#batchSpacersForm #batchPages').val() != '') && $('#batchSpacersForm #batchPages').val() < 1){
			aviso($('#batchSpacersForm #documentErrorContainer'), /*[[#{error.generationValue.positive}]]*/);
			error = true;
		}
		
		//definicion de documentos
		if($('#batchSpacersForm #scanProfileId').val() == null || $('#batchSpacersForm #scanProfileId').val()<0)
		{
			aviso($('#batchSpacersForm #scanProfileIdErrorContainer'), /*[[#{error.scanTemplate.required}]]*/);
			error = true;
		}

		if($('#batchSpacersForm #docSpecId').val() == null || $('#batchSpacersForm #docSpecId').val()<0)
		{
			aviso($('#batchSpacersForm #docSpecIdErrorContainer'), /*[[#{error.docSpec.required}]]*/);
			error = true;

		}
		
		//Se añade la unidad orgánica
		var userDptoIdField = $('#userDptoId'); 
		if(userDptoIdField != null && userDptoIdField != 'undefined' && userDptoIdField.length > 0){
			if(userDptoIdField.val() < 0){
				alertaParrafoDiv($('#batchSpacersForm #userDptoErrorContainer'), /*[[#{error.Department.required}]]*/);
				error = true;			
			} else {
				$("#batchSpacersForm #batch_department").remove();
				$('<input>').attr({
					type: 'hidden',
					name: 'batch_department',
					value: userDptoIdField.val()
				}).appendTo('#batchSpacersForm');
			}
		}
		
		error = !getMetadataTable();

		if(error){
			alertaParrafoDiv($('#batchSpacersForm #metadataCollectionErrorContainer'),/*[[#{error.metadataColecction.required}]]*/);
		}
		
		if(!error){
			$('form[name="batchSpacersForm"]').submit();
		} else {
			recargarMensajes();
		}
		event.preventDefault();
		
		return !error;
	});
	
	//function auxiliar para obtener los metadatos
	function getMetadataTable()	{
		//preparamos las relacion de metadatos
		var res = false;
		var metadataNamesSize = 0;
		var metadataValuesSize = 0;
		var metas = $('#batchSpacersForm :input');
		var rowId = '';
		var rowValue = '';
		var inputMetadataSufix = '_metadata';
		var metadataName;
		var formInputHidden;
		var formInputHiddenName;
		var formInputHiddenValue;
		var metadataIndex = 0;

		//eliminamos los antiguos metadataCollection
		$("[name^='metadataCollection'][type='hidden']").remove();
		for (i=0;i<metas.length;i++) {	
			var elto = metas[i];
			rowId = $(metas[i]).attr('id');			
			
			if(rowId != null && rowId.indexOf(inputMetadataSufix) > 0){
				rowValue = $(metas[i]).val();
				metadataNamesSize++;
				metadataName = rowId.substring(0,rowId.lastIndexOf(inputMetadataSufix));
				console.log('Nombre metadato:',metadataName);
				console.log('Valor metadato:',rowValue);

				if(rowValue != null && rowValue != ''){
					metadataValuesSize++;
					formInputHidden = $("#batchSpacersForm input[name='metadataCollection["+metadataIndex+"].name']");
					formInputHiddenName = formInputHidden.attr('name');
					if(!formInputHiddenName || formInputHiddenName == 'null' || formInputHiddenName == 'undefined'){					
						$('<input>').attr({
							type: 'hidden',
							name: 'metadataCollection['+metadataIndex+'].name',
							value: metadataName
						}).appendTo('#batchSpacersForm');
					}
					
					formInputHidden = $("#batchSpacersForm input[name='metadataCollection["+metadataIndex+"].value']");
					formInputHiddenValue = formInputHidden.attr('name');
					if(!formInputHiddenValue || formInputHiddenValue == 'null' || formInputHiddenValue == 'undefined'){
						$('<input>').attr({
							type: 'hidden',
							name: 'metadataCollection['+metadataIndex+'].value',
							value: rowValue
						}).appendTo('#batchSpacersForm');
					} else {
						formInputHidden.val(rowValue);
					}
				}
				metadataIndex++;
			}
		}

		res = metadataNamesSize > 0 && metadataNamesSize == metadataValuesSize;
		
		return res;
	}

	$('#batchSpacersCancel').click(function(event){
		console.log("Pulsado cancelar");
		RequestLoad("spacers/spacers.html", "GET",null,  null, "#content");
		event.preventDefault();
	});


	$('#scanProfileId').change(function(event){
		var orgUnitId = $('#scanProfileId :selected')[0].dataset.orgunitId
		var scanProfileId = $('#scanProfileId :selected')[0].dataset.scanprofileId;
		console.log("cambiada seleccion:");
		console.log('orgUnitId: '+orgUnitId);
		console.log('scanProfileId: '+scanProfileId);
		//console.dir(event);
		$.post( contexto()+'spacers/getDocSpecifications.html', {scanProfileId:scanProfileId, orgUnitId:orgUnitId}, function() {
			//eliminamos los anteriores menos opcion por defecto
			$("#docSpecId>option[value!=-1]").remove();
			console.log("enviada consulta doc spec");
		})
		.done(function(res) {
			$("#docSpecId").append(res);
			$("#metadataCollectionTable>tbody").children().remove();
			//console.log(res);
		})
		.fail(function(err) {
			console.log("Error recuperar info:"+err);
		})
		event.preventDefault();
	});
	
	
	$('#docSpecId').change(function(event){
		var docSpecIdSelect = this.value;
		//console.log();
		$.post( contexto()+'spacers/getMetaSpecs.html', {docSpecId: docSpecIdSelect}, function() {
			//eliminamos los anteriores menos opcion por defecto
			$("#metadataCollectionTable>tbody").children().remove();
			console.log("enviada consulta doc spec");
		})
		.done(function(res) {
			//debugger
			$("#metadataCollectionTable>tbody").append(res);
			//console.log(res);
		})
		.fail(function(err) {
			console.log("Error recuperar info:");
			console.dir(err);
		})
		event.preventDefault();
	});
	
	/*]]>*/

</script>		
		
</th:block>

<th:block th:fragment="optionSpecification" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<option 
			th:each="spec : ${docSpecifications}" 
			th:value="${spec.id}" 
			th:text="${spec.name}">Doc Spec 1</option>
</th:block>
	
	
<th:block th:fragment="metadatacollection" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">	
	 <tr th:each="metadata : ${metadataCollection}" >
			 <td th:utext="${metadata.description}" class="max-td-col-1 vertical-align-td"></td>
			 <td class="max-td-col-2 vertical-align-td">
				<div th:with="res = ${#strings.isEmpty(metadata.sourceValues) or #strings.equals(metadata.sourceValues,'[]')}" th:remove="tag">
					<!-- input -->
					<div th:if="${res}" th:remove="tag" >
						<textarea th:text="(${metadata.defaultValue} != null ?${metadata.defaultValue} : '')" th:id="${metadata.specMetadataId + '_metadata'}" rows="3" cols="80">
						</textarea>
					</div>
					<!-- fin input -->
					<!-- select -->
					<div th:if="${!res}" th:remove="tag" >
						<select th:id="${metadata.specMetadataId + '_metadata'}" >
						</select>
						<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
							var metadataName =/*[[${metadata.name}]]*/;
							var valores = /*[[${metadata.sourceValues}]]*/;
							var defaultValue =/*[[${metadata.defaultValue}]]*/;
							console.log("metadataName:"+metadataName);
							console.log("sourceValues:"+valores);
							console.log("defaultValue:"+defaultValue);
							//parseamos
							var aux =JSON.parse(valores);
							$.each(aux, function(key, value) {   
								 $('#'+[[${metadata.specMetadataId + '_metadata'}]]).append($('<option>', { value : value.key }).text(value.value)); 								 
							});
							
							if(defaultValue) 
							{
								$('#'+[[${metadata.specMetadataId + '_metadata'}]]).val(defaultValue);
							}
							
						/*]]>*/
						</script>						
					</div>
					<!-- fin select -->
				</div>	
			</td>
	  </tr>
</th:block>	