<th:block th:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<form id="spacerReusableForm" name="spacerReusableForm" autocomplete="off" role="form" th:action="@{/spacers/generateReusableDocSpacers.html}" th:object="${reusableDocSpacersFormData}" method="POST" th:method="POST">
			<!--  information general -->
			 	<div class="row">
					<fieldset class="border -p4" >
						<legend  class="p-1">[[#{label.GeneralInformation}+' ']]</legend>			 	
							<div class="col-md-4">
								<div id="divSpacerType" th:class="${#fields.hasErrors('spacerType')}? 'form-group has-error' : 'form-group'">											
									<div class="input-group">
										<label th:text="#{label.spacerType} + '*: '">Codificación información:</label>
										<select id="spacerType" name="spacerType" th:field="*{spacerType}" >
											<option value="-1" th:text="#{value.NoSelected}">No seleccionado</option>
											<option 
												th:each="vspacerType : ${batchSpacerType}" 
												th:value="${vspacerType}" 
												th:text="#{${vspacerType}}">CODE</option>											
											</select>
									</div>
									<div id="spacerTypeErrorContainer">
										<span th:if="${#fields.hasErrors('spacerType')}" th:errors="*{spacerType}" class="alert-danger">spacerType no informado</span>
									</div>
								</div>
							</div>
							
							<div class="col-md-8">
								<div id="divNumberOfReusableDocSpacers" th:class="${#fields.hasErrors('numberOfReusableDocSpacers')}? 'form-group has-error' : 'form-group'">		
									<div class="input-group">
										<div class="col-xs-6" style="padding-right: 0">
											<label th:text="#{label.NumberDocSpacers} + '*: '">Numero de Separadores</label> 											
										</div>											
										<div class="col-xs-3" style="padding-left: 0">
											<input class="form-control input-sm" name="numberOfReusableDocSpacers" id="numberOfReusableDocSpacers" th:id="numberOfReusableDocSpacers" th:field="*{numberOfReusableDocSpacers}" type="number" />													
										</div>
									</div>
								</div>
								<div id="numberOfReusableDocSpacersErrorContainer">
									<span th:if="${#fields.hasErrors('numberOfReusableDocSpacers')}" th:errors="*{numberOfReusableDocSpacers}" class="alert-danger">numero de reusable requerido</span>
								</div>							
							</div>
					</fieldset>
				</div>
			<!-- Fin Informacion general -->
			
			<div class="row" style="height:10px"></div>
			
			<!--  botones  -->
			<div id="idButton" style="float:right">
				  <button id="reusableSpacersGeneration" class="ui-button ui-widget ui-corner-all">
		    			<span class="ui-icon ui-icon-disk"></span>
		    			<span th:utext="#{button.Generation}">Generar</span>				    			
		  		  </button>
		
				  <button id="reusableSpacersCancel" class="ui-button ui-widget ui-corner-all">
		    			<span class="ui-icon ui-icon-cancel" ></span>
		    			<span th:utext="#{button.Cancel}"> Cancelar</span>
		  		  </button>
			</div>				
				
		</form>
<script type="text/javascript" th:inline="javascript">
	function alertaDiv (men){
		return "<span class=\"alert-danger\">"+men+"</span>";
	}
	
	$('#reusableSpacersCancel').click(function(event){
		console.log("Pulsado cancelar");
		$('#spacerReusableForm')[0].reset();
		event.preventDefault();
	});

	$('#reusableSpacersGeneration').click(function(event){
		console.log("Pulsado generar");
		var error = false;
		//limpiamos 
		$('#spacerReusableForm #spacerTypeErrorContainer').html("");	
		$('#spacerReusableForm #numberOfReusableDocSpacersErrorContainer').html("");
		//comprobamos
		if (spacerReusableForm.spacerType.value==-1)
		{
			$('#spacerReusableForm #spacerTypeErrorContainer').html(alertaDiv (/*[[#{error.spacerType.required}]]*/));	
			error = true;
		}		
		if (spacerReusableForm.numberOfReusableDocSpacers.value=="" || spacerReusableForm.numberOfReusableDocSpacers.value < 1)
		{
			$('#spacerReusableForm #numberOfReusableDocSpacersErrorContainer').html(alertaDiv(/*[[#{error.numberOfReusableDocSpacers.positive}]]*/));	
			error = true;
		}
		
		if(!error){
			$('form[name="spacerReusableForm"]').submit();
		}
		event.preventDefault();	
		
		return !error;
	});	
	
</script>		
		
		
</th:block>		